
<div class="home-container">
  <div class="banner-top-video">
    <video autoplay loop muted id="myVideo">
      <source src=<%= image_path('https://res.cloudinary.com/dvdm3zjhh/video/upload/v1653293967/development/forest_z0yde5.mp4')%> type="video/mp4">
    </video>
  </div>



  <%# PROFILE BANNER %>
  <div class="profile-banner">
    <div class="profile-box">
      <div class="profile-image-container">
      <%# Sometimes the cl_image_path will not work%>
      <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">


        <%# <img class="user-profile-image" src="<%= @user.photo.attached? ? cl_image_path(@user.photo.key) : image_path('colabo.png') %>
        <%# <%= @user.image %>
          <div class="name-title">
            <h2>川島町議会議員</h2>
            <h1>粕谷 克己</h1>
            <%# Use fontawesome ver. 5.15.4 %>
            <%# <div class="icon-container">
              <a href="https://www.linkedin.com/in/reonakasuya94/"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/Reona001"><i class="fab fa-github-alt"></i></a>
              <a href="https://www.instagram.com/iter_vitae_reo/?hl=en"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/kasuya.reona/"><i class="fab fa-facebook"></i></a>
            </div> %>
    </div>

          <%# Contact Me Button %>
          <div class="contact-me">
            <a class="button" href="mailto:kasuyakatsumi@gmail.com">
            <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
            </a>
          </div>
        </div>
    </div>
  </div>
  <%# END %>
  <div class="content-container">
    <div class="master-flex-container">

      <div class="flex-child-main-column">
        <div class="inner-card">
          <h2 class="vol-title">議会活動報告 Vol.3 発行:令和4年3月</h2>
          <p> 令和4年3月21日をもって埼玉県に対するまん延防止等重点措置は解除されましたが、長引くコロ ナ禍で地域のコミュニティ活動も停滞し、地域経済も深刻な影響を受けております。  令和4年度は新しい生活様式を踏まえた地域経済の活性化対応はもとより、感染拡大の影響を受け た農家や中小企業、商工業事業者の皆様への支援がさらに必要なものと考えています。  令和4年度町当初予算にも国の地方創生臨時交付金を活用したコロナ対策事業が計上されていま すので、ポストコロナに向けた町民の皆様への支援策や社会経済活動の再開に向けた施策提言を引 き続き行って参ります。  コロナ禍の中での議員活動となりましたが、令和3年度の活動状況を取りまとめましたのでご覧い ただければ幸いです。なお、現在3回目のワクチンの接種事業が進められていますが、ご協力をいた だいております医療従事者の皆様に改めて感謝を申し上げます。</p>
        </div>

        <div class="inner-card">
          <p>　　3月定例議会には令和4年度当初予算案や条例改正等の議案が上程され、3月16日審議の結果、全議案とも可決承認されました。  一般会計の予算総額は75億1,300万円(前年比8.3%増)で、第6次総合振興計画戦略目標にそった予 算が計上され、新型コロナ対策費用としては、ワクチン接種事業費6,074万円や学童保育トイレ改修費 498万円等が計上されました。  条例改正では、川島町廃校施設の開放及び施設の管理に関する条例が改正され、旧小学校の利活用を検証するための期間がさらに2か年延長されました。また、川島町水防団条例も改正され、水害警 戒出動の費用弁償が千円引き上げられ4,000円とになります。</p>
          <div class="sub-yosan">
            <table>
                <tr>
                  <th>【災害関連予算では】</th>
                  <th>【教育関連予算では】</th>
                </tr>
                <tr>
                  <td>◎高台避難場所整備事業 8,580万円 <br>(設計及び調査費として)</td>
                  <td>◎学校統合推進事業 397万円 <br>(小中一貫教育推進事業の一環として)</td>
                </tr>
                <tr>
                  <td>◎防災備品整備事業 671万円 <br>(避難所備蓄品等)</td>
                  <td>◎かわじま郷土資料館(仮称)開設準備事業 178万円 <br>(文化財の保存・活用、歴史文化を学ぶ場として)</td>
                </tr>
              </table>
          </div>
            <% @projects.each do |project| %>
              <div class="project-card">
              <h4><%= project.title %></h4>
                <img class="project-image" src="<%= project.photo.attached? ? cl_image_path(project.photo.key) : image_path('colabo.png') %>">
                <div class="project-content">
                  <ul>
                    <li><strong>Started:</strong> <%= project.created %></li>
                    <li><strong>Members:</strong> <%= project.created_by %></li>
                    <li><strong>Stack:</strong> <%= project.stack_used %></li>
                    <li><strong>About:</strong> <%= project.description %></li>
                    <li><a style="text-decoration:none" href="<%= project.url %>">Visit the project</a></li>
                    <li><a style="text-decoration:none" href="<%= project.git_repo_url %>">Visit the Git Repo</a></li>
                    <%# <li><%= link_to "Details", project_path(project), class: 'btn btn-secondary'%></li>
                  </ul>
                </div>
              </div>
            <% end %>



        </div>

        <div class="inner-card">
          <h2>Work Experience</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam quasi rem illum optio! Ducimus, sequi harum! Sunt itaque repellat odit tenetur rem quae aspernatur officia non eaque! Obcaecati, quibusdam provident!</p>
        </div>

      </div>

      <div class="flex-child-right-column">
        <div class="inner-card">
          <h2>Location</h2>
          <div class="location">
            <i class="fas fa-map-marker-alt"><bdi>Tokyo, Japan</bdi></i>
            <i class="fas fa-envelope"><bdi><a href="mailto:reon.kasuya@gmail.com">reon.kasuya@gmail.com</a></bdi></i>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>

        <div class="inner-card">
          <h2>Skills</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

          <div class="skill-progress">
            <i class="fas fa-gem"><bdi> Ruby & Rails</bdi></i>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="skill-progress">
            <i class="fab fa-js"><bdi> JavaScript</bdi></i>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="skill-progress">
            <i class="fab fa-html5"><bdi> HTML</bdi></i>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="skill-progress">
            <i class="fab fa-css3-alt"><bdi> CSS & SCSS</bdi></i>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="skill-progress">
             <i class="fab fa-react"></i><bdi> React</bdi></i>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>



        </div>

        <div class="inner-card">
          <h2>Education</h2>
          <ul class="education-card">
            <li><bdi>Le Wagon Web Bootcamp</bdi><br>
            Full Stack Developer, Web Developer</li>
            <li><bdi>Waseda University Graduate School of Asia Pacific Studies</bdi><br>
            Master of Arts in International Relations</li>
            <li><bdi>University of Washington</bdi><br>
            Bachelor of Arts in International Relations</li>
          </ul>
        </div>

        <div class="inner-card">
          <h2>Languages</h2>


          <div class="skill-progress">
           <i class="fas fa-globe-americas"><bdi> English</bdi></i>
             <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="skill-progress">

           <i class="fas fa-globe-asia"></i><bdi> Japanese</bdi></i>
             <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <h5>Proficiency Test Scores</h5>
          <ul class="education-card">
            <li>TOEIC L&R Score: 990</li>
            <li>TOEFL IBT Score: 108</li>
            <li>ビジネス実務マナー技能検定試験 3級</li>
          </ul>
        </div>

    </div>
  </div>
</div>

<%# <div class="experiences-container">
  <p>Render job experiencs in a card carousel</p>
</div>

<div class="projects-container">
  <p>Render projects in a card carousel</p>
</div> %>
