<%# PROFILE BANNER %>
  <div class="profile-card">
      <div class="profile-image-container">




        <%# Sometimes the cl_image_path will not work%>
        <img class="user-profile-image" src="https://lh6.googleusercontent.com/zrAjSPz6rZ0UYK3ZvysOsN_01hMes5iUOdg0BukxhaIw8ASTZIys59_pa_lXqiKPd7c=w2400">
          <div class="name-title">
            <h4 class="manifesto">地域の声を町政に!!</h4>
            <h2>川島町議会議員</h2>
             <ruby>
              <h3>粕谷 克己</h3>
              <rt>かすやかつみ</rt>
            </ruby>



            <%# Contact Me Button %>
            <div class="contact-me">
              <a class="button" href="mailto:kasuyakatsumi@gmail.com">
              <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
              </a>
            </div>
      </div>
  </div>
  </div>
  <%# END %>
  <%# <div class="page-name-profile">
    <h1>町議会報告開催予定</h1>
  </div> %>

<%
=begin %>
  <div class="pdf-container">
    <div class="pdf-header">
      <div id="vol-9"></div>
      <h2>開催予定：令和7年4月5日（土）午後５時〜</h2>
    </div>
    <iframe
      <%# src="https://docs.google.com/viewer?srcid=10v2lKOq9IuIjw6RGeHTQxG7JeK0BOjeX&pid=explorer&efh=false&a=v&chrome=false&embedded=true" %>
      src="https://docs.google.com/viewer?srcid=1DQ3jZZlT72OnWdbR3bBIWJJI_PJIe5Km&pid=explorer&efh=false&a=v&chrome=false&embedded=true"

      width="100%"
      height="600px"
      style="border: none;">
    </iframe>
  </div>
  <%
=end %>



  <div class="page-name-profile">
    <h1>施策提言</h1>
  </div>


  <div class="content-container">
    <div class="master-flex-container">

      <div class="flex-child-main-column">
        <div class="inner-card">
          <h4 class="manifesto-shisaku-main">消滅可能性自治体から脱却し、次世代につなぐ活力ある地域を築きます！</h4>
          <%# <h4 class="manifesto-shisaku-sub">子育て支援ナンバーワンの町へ！</h4> %>
          <h4 class="manifesto-shisaku-sub">活力あふれるかわじまを創生するための提言</h4>
          <%# <h4 style="text-align: center; margin-top: 16px;">活力に満ち誰もが安心して暮らせる町<bdi class="emphasis">かわじま</bdi>を実現するための<bdi class="emphasis">８</bdi>つの施策</h4> %>
          <p style="background-color: rgb(255, 255, 255); margin: 24px; padding: 16px; border-radius: 3px;">
            人口戦略会議は、全国1729 自治体の4割は<bdi class="emphasis">2050年までに20 代から30代の女性が半減し「最終的には消滅する可能性がある」とした報告書を公表</bdi>しています。 川島町は消滅可能性自治体（県内16団体）から脱却できず、超少子高齢化の課題が顕在化しています。 他方、行政施策を総動員し、消滅可能性自治体から脱却した市町村（県内６団体）もあります。 町も、<bdi class="emphasis">「若い世代が就職を機に町を離れる」</bdi>と分析しており、<bdi class="emphasis">若者の定住促進が最優先の課題です。</bdi>私は、女性の視点に立った「子育て環境の重要性」を繰り返し提唱してきましたが、改善が進まず、県平均を大幅に下回る<bdi class="emphasis">合計特殊出生率の推移（令和5年度は0.54 県下ワースト2位）</bdi>からは、非常に厳しい状況下にあると認識しています。 この状況を憂い、<bdi class="emphasis">「何としても、消滅可能性自治体から脱却させること」が議員としての使命</bdi>と考え、活動してまいりました。 今回、町が存続可能性自治体として光り輝き続けるため、私は、次の<bdi class="emphasis">7項目の施策を提言します</bdi>。



          </p>
           <div class="policies-flex">
            <div class="policy-box">
              <% order = 0  %>
              <h4></label> 安心して出産・子育てができる町を目指します</h4>
                <p>【子育て環境の充実】</p>

                <ul style="list-style-type:square">
                  <li>妊娠・出産費用の負担軽減のための制度を充実します。</li>
                  <li>町立保育園と認定こども園を核とした質の高い保育の実施</li>
                  <li>学童保育の充実と施設整備を行います。</li>
                  <li>女性の意見を大切にする行政を目指します。</li>
                  <li>女性が活躍しやすい環境づくりを推進するため女性活躍推進室を設けます。</li>
                  </ul>
                <p>【教育環境の充実】</p>
                <ul style="list-style-type:square">
                  <li>給食費の無償化(園児、小中学生)</li>
                  <li>全小学校でスクールバスを運行</li>
                </ul>
            </div>
              <div class="policy-box">

              <h4></label> 若者の移住・定住を全面的に支援します</h4>
                <ul style="list-style-type:square">
                  <li>戸建て賃貸住宅を整備し、若者の転入促進を図ります。
                      長期居住者(２０年)には土地・建物を無償譲渡できる制度を新設。
                  </li>
                  <li>
                    若者の通勤・通学の利便性の向上を目指します。また、自動運転車両等の活用も図ります。
                  </li>
                  <li>通勤渋滞緩和のため出丸橋の永久橋化を目指します。</li>
                </ul>
            </div>
              <div class="policy-box">

              <h4></label> コミュニティ活動を支援し地域の活性化を図ります</h4>
               <p>【子育て環境の充実】</p>
                <ul style="list-style-type:square">
                  <li>廃校を有効利活し地域の活性化を図ります。）</li>
                  <li>地域のお祭りやコミュニティ活動を支援します。</li>
                  <li>新たな観光拠点を設け、地域に眠る観光資源の発掘・名所化を行います。</li>
                  <li>商工事業者と連携し地域活性化事業を推進します。</li>
                </ul>
            </div>
              <div class="policy-box">

              <h4></label> 災害（水害）に備えた減災の町づくりを行います</h4>
                <ul style="list-style-type:square">
                  <li>全町民の個別避難行動計画を策定します。</li>
                  <li>自主防災会と連携した避難バスの運行</li>
                  <li>国県と連携した堤防の強靭化</li>
                  <li>減災を考えた排水路整備の実施</li>
                </ul>
            </div>
            <div class="policy-box">
              <h4></label> 農業振興と調和のとれた地域開発を推進します</h4>
                <ul style="list-style-type:square">
                 <li>営農環境の整備と稼げる農業の取組みを支援</li>
                 <li>新規就農者への総合的な支援体制の整備</li>
                 <li>東部地域の開発と企業誘致により雇用促進を図ります。</li>
                 <li>若者が集えるスポーツ施設や商業施設を誘致します。</li>
                 <li>地域経済活性化の起爆剤とし、圏央道川島ICに隣接した道の駅を整備します。</li>
                </ul>
            </div>

            <div class="policy-box">
              <h4></label> 誰もが安心して暮らせる町を目指します</h4>
                <ul style="list-style-type:square">
                 <li>高齢者に分かりやすい行政・元気な町づくりを推進します。</li>
                 <li>支え合いや絆を深める取り組みを支援するとともに、防犯対策にも取り組みます。</li>
                 <li>障がい者の就労支援を強化</li>
                 <li>生活道路や排水路の整備を優先し、生活環境の改善を図ります。</li>
                 <li>高齢者等交通弱者の足とし、スクールバスを活用したコミュニティバスを運行します。</li>
                </ul>
            </div>

             <div class="policy-box">
              <h4></label> 町の行財政改革に取り組みます</h4>
                <ul style="list-style-type:square">
                 <li>人口減少が進んでいるにもかかわらず予算規模が拡大していることを踏まえ、町の行財政改革に取り組みます。す。</li>
                 <li>総合振興計画（後期基本計画）の見直しにあたり、現在行っている事業内容を見直し、将来に大きな財政負担を残さないように、持続可能な行政運営を目指します。</li>
                 <li>町職員の成長やモチベーション向上に寄与する働き方改革を進めます。</li>
                 <li>町長給料を3割削減し、給食費無償化の財源の一助とします。</li>
                </ul>
            </div>



            </div>
            </div>

        <!---  <div class="policies-flex">
            <div class="policy-box">
              <% order = 0  %>
              <h4><label class="answer-box"><%= order +=1 %></label> 子育て支援<bdi class="emphasis">ナンバーワン</bdi>の町を目指します</h4>
                <ul style="list-style-type:square">
                  <li>給食費の無償化（園児、小中学生）</li>
                  <li>出産一時金を増額（最大10万円）</li>
                  <li>町立保育園を核に質の高い保育を実施</li>
                  <li>民意による学校規模適正化を推進</li>
                  <li>全小学校で遠距離通学の児童を対象にスクールバスを運行</li>
                  <li>学童保育の充実と施設整備</li>

                </ul>
            </div>

            <div class="policy-box">
              <h4><label class="answer-box"><%= order +=1 %></label> <bdi class="emphasis">若者の移住・定住を全面的に支援</bdi>します</h4>
                <ul style="list-style-type:square">
                  <li>民間と連携し町が整備する戸建賃貸住宅（家賃月額５万程度）に移住した方を対象に２０年間住み続けた場合には土地・建物を無償譲渡</li>
                  <li>子育て世帯・新婚世帯が住宅を新築または購入した場合、定住促進奨励金５０万円を支給</li>
                  <li>民間賃貸住宅（空き家含む）に入居する新婚世帯・子育て世帯を対象に、家賃２年間で最大３６万円を助成</li>
                </ul>
            </div>

            <div class="policy-box">
              <h4><label class="answer-box"><%= order +=1 %></label> <bdi class="emphasis">活力に満ちた町づくり</bdi>を行います</h4>
                <ul style="list-style-type:square">
                  <li>旧小学校を民間事業者と連携し地域活性化の施設として利活用</li>
                  <li>地域のお祭りやコミュニティ活動の支援</li>
                  <li>新たな観光拠点を設け、地域に眠る観光資源の発掘・名所化</li>
                </ul>
            </div>

            <div class="policy-box">
              <h4><label class="answer-box"><%= order +=1 %></label> コロナ禍で疲弊した<bdi class="emphasis">家計や商工事業者の経済活動を支援</bdi>します</h4>
                <ul style="list-style-type:square">
                  <li>生活困窮世帯や子育て世帯の水道料金の軽減</li>
                  <li>物価の高騰や年金の減額で影響を受ける高齢者等に、町商品券（1万円分）給付事業を実施</li>
                  <li>地域経済の活性化を図るため商工事業者と連携し地域活性化事業を実施</li>
                  <li>農業者に物価高・燃料高対策を実施</li>
                </ul>
            </div>

            <div class="policy-box">
              <h4><label class="answer-box"><%= order +=1 %></label> 災害（水害）に備え<bdi class="emphasis">減災の町づくり</bdi>を実施します</h4>
                <ul style="list-style-type:square">
                  <li>全町民の個別避難行動計画を策定し、自主防災会と連携し<bdi class="emphasis">避難バスを運行</bdi></li>
                  <li>国県と連携し、地域防災計画で危険箇所とされる堤防の強靭化を推進</li>
                  <li>集中豪雨を念頭に、排水対策を緊急に見直し、排水路整備を実施</li>
                  <li>東部地域の排水機能を高めるため排水機場の整備を推進</li>
                </ul>
            </div>

            <div class="policy-box">
              <h4><label class="answer-box"><%= order +=1 %></label> <bdi class="emphasis">農業振興と調和</bdi>のとれた<bdi class="emphasis">地域開発</bdi>を推進します</h4>
               <ul style="list-style-type:square">
                  <li><bdi class="emphasis">基幹産業である稲作農業者の経営安定を図るため営農環境の整備と稼げる農業に向けた取組を支援</bdi></li>
                  <li>新規就農者の定着を図るため、農地や住宅など総合的な支援体制を整備</li>
                  <li>東部地域の雇用促進と活性化を図るため区域指定を見直し、積極的な企業誘致を実施</li>
                  <li><bdi class="emphasis">企業誘致を促進するため税制面での優遇制度を創設</bdi></li>
                  <li>若者が集えるスポーツ施設や商業施設を誘致</li>
                </ul>
            </div>

             <div class="policy-box">
              <h4><label class="answer-box"><%= order +=1 %></label> 安心して暮らせる<bdi class="emphasis">住みよい町づくり</bdi>を目指します</h4>
               <ul style="list-style-type:square">
                  <li>高齢者に分かりやすい行政・高齢者が元気な町づくりを推進</li>
                  <li>地域の支えあいを支援し絆を深める取組</li>
                  <li><bdi class="emphasis">障がい者の就労を支援</bdi></li>
                  <li>生活道路や排水路の整備を優先的に実施</li>
                </ul>
            </div>

            <div class="policy-box">
              <h4><label class="answer-box"><%= order +=1 %></label> <bdi class="emphasis">町長給料を３割削減</bdi>します</h4>
                <%# <ul style="list-style-type:square">
                </ul> %>
            </div>

          </div>
        </div>
        -->

        <div class="pdf-container">
          <div class="pdf-header">
          <div id="vol-11"></div>
          <h2>令和7年 - 討議資料</h2>
          </div>
            <iframe

            src="https://docs.google.com/viewer?srcid=19Uh3VGTNS82vy1SuBwOKNEnFh6jOgP1k&pid=explorer&efh=false&a=v&chrome=false&embedded=true"
            width="100%"
            height="600px"
            width="1000px"
            style="border: none;">
            </iframe>
        </div>


        <div class="inner-card">

        <%# <h4 class="manifesto-shisaku-kondan">
          地域の声を町づくりに反映するため町づくり<bdi class="emphasis">懇談会</bdi>を開催し、
          地域に出向き<bdi class="emphasis">皆さんの声を直接伺い、
          民意を反映した町づくり</bdi>を行います。
        </h4> %>
          <img class="content-image" src="https://lh4.googleusercontent.com/w6rpZHW_mc3aNj-hr_fSuu4x5V14iED2_-xvJ9LN3AGWru0n9hf1m4BEEvxdGJdc5eM=w2400">
        </div>

        <!--
        <div class="inner-card">
          <h4 class="keireki">経歴</h4>
              <ul class="keireki-list" style="margin-left:-20px;">
                <%# Age calculator %>
                <% current_year = Time.new.year  %>
                <% age = current_year - 1957  %>
                <li>1957年3月　川島町上大屋敷生れ (現在<%=age%>歳)</h5></li>
                <li style="text-align: center;">（学歴）</li>
                <li>1975年3月　埼玉県立松山高等学校卒</li>
                <li>1979年3月　明治学院大学法学部卒</li>
                <li style="text-align: center;">（主な経歴）</li>
                <li>1979年4　月川島町役場入庁</li>
                  <ul class="inner-list" style="margin-left:-20px;">
                   <p>川島町会計管理者</p>
                   <p>総務課長（東日本大震災から4年間防災担当）</p>
                   <p>副教育長兼教育総務課長</p>
                   <p>（小学校の規模適正化を推進）</p>
                  </ul>
                <li>2019年4月　川島町議会議員</li>
                  <ul class="inner-list" style="margin-left:-20px;">
                   <p>総務経済建設常任委員会委員</p>
                   <p>地方創生・行財政特別委員会副委員長</p>
                   <p>都市計画審議会委員</p>
                   <p>安藤川・横塚川改修促進協議会委員</p>
                  </ul>

                  <li style="text-align: center;">（その他）</li>
                   <li>出丸地区横塚川改修促進協議会役員</li>
                   <li>埼玉県立松山高校同窓会川島部会役員</li>
                  <li style="border-bottom: 1px solid rgb(149, 148, 148);">川島町ライオンズクラブ会長（令和4年7月〜）</li>
              </ul>
        </div>-->


       <!--<div class="inner-card">
          <h2>議会役職</h2>
          <li>総務経済建設常任委員会委員</li>
          <li>議会報編集委員会委員</li>
          <li>都市計画審議会委員</li>
          <li>地方創生・行財政特別委員会副委員長</li>
          <li>安藤川横塚川改修促進協議会委員</li>
          <li>議会災害対策会議委員</li>
        </div>

        <div class="inner-card">
          <ul>
            <li> 地方創生・行財政特別委員会では</li>
            <li>町が地方創生推進交付金を活用し地域商社の設立を 目指していることから、地域振興の役割を担う地域商 社がどのような組織として設置・運営されるのか先進 自治体の取組事例も含め調査研究を行いました。  視察地の茨城県桜川市では、市と商工会が出資(資 本金1,200万円)した株式会社クラセル桜川の経営状況 等の説明を受けました。クラセル桜川は地域の特産品 を販売する店舗を持ち、市と連携し観光資源の開発に も力を入れていました。</li>
          </ul>
        </div>-->
           <%# Location Box %>
      </div>
      </div>

    </div>
  </div>
