<h1>Projects#index</h1>
<p><%= link_to "Add a new project", new_project_path, class: 'btn btn-secondary' %></p>

<p><%= link_to "Profile", user_path(@user), class: 'btn btn-secondary'%></p>

<% @projects.each do |project| %>
<img class="project-image" src="<%= project.photo.attached? ? cl_image_path(project.photo.key) : image_path('colabo.png') %>">
<ul>
  <li><%= project.title %></li>
  <li><%= project.created %></li>
  <li><%= project.created_by %></li>
  <li><%= project.stack_used %></li>
  <li><a style="text-decoration:none" href="<%= project.url %>">Visit the project</a></li>
  <li><%= project.git_repo_url %></li>
  <li><%= link_to "Details", project_path(project), class: 'btn btn-secondary' %></li>
</ul>
<% end %>
