<%# PROFILE BANNER %>


<%# Video %>
<!--<div class="banner-top-video">
  <video autoplay loop muted id="myVideo">
    <source src=<%= image_path('https://res.cloudinary.com/dvdm3zjhh/video/upload/v1653293967/development/forest_z0yde5.mp4')%> type="video/mp4">
  </video>
</div>-->

<%# Inner Banner Content %>
<!--<div class="profile-banner2">
  <div class="profile-box2">
    <div class="profile-image-container2">
    <%# Sometimes the cl_image_path will not work%>
      <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">
        <div class="name-title">
            <%# <h2>川島町議会議員</h2> %>
            <h1>議会活動報告</h1>
        </div>
          <%# Contact Me Button %>
          <div class="contact-me">
            <a class="button" href="mailto:kasuyakatsumi@gmail.com">
            <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>-->

  <div class="profile-card">
      <div class="profile-image-container">




        <%# Sometimes the cl_image_path will not work%>
        <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">


          <div class="name-title">
            <h4 class="manifesto">地域の声を町政に!!</h4>
            <h2>川島町議会議員</h2>
             <ruby>
              <h3>粕谷 克己</h3>
              <rt>かすやかつみ</rt>
            </ruby>



            <%# Contact Me Button %>
            <div class="contact-me">
              <a class="button" href="mailto:kasuyakatsumi@gmail.com">
              <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
              </a>
            </div>
      </div>
  </div>
  </div>

  <div class="page-name-profile">
    <h1>議会活動報告</h1>
  </div>


<div class="content-container2">
<div class="inner-card">
<h2 class="vol-title">
  議会活動報告 Vol.4 発行:令和4年7月15日
</h2>
<div class="project-card">
  <div class="project-content">
  <h4 class="report-title" style="text-align: center;"> 6月議会（6月8日～6月15日）主な提出議案等</h4>
  <h5 class="report-section-title" style="margin-top: -8px;">川島町公民館設置及び管理条例の一部を改正する条例</h5>
  <p>出丸公民館と小見野公民館を解体するにあたり、設置場所を下八ツ林923番地コミュニティセンター内とする条例改正で、7月1日に施行されました。</p>
  <p>
  小学校規模適正化にいち早くご理解とご協力をいただいた出丸、
  小見野地区からこの条例改正により公民館がなくなります。
  廃校小学校を公民館として利活用するという地域との約束を守らない
  この改正案に反対いたしました。質疑の中で、町からは、
  旧小学校を消防法等の規定に適応した集会施設とするためには
  約1億円の経費（総計2億円）が掛かるとの答弁がありました。
  </p>

  <h5 class="report-section-title" style="margin-top: -8px;">川島町子育て支援医療費支給に関する条例の一部を改正する条例</h5>
    <p>子育て支援医療費の県内現物給付化が10月分医療費から実施されるため条例を改正するためのものです。</p>

  <h5 class="report-section-title" style="margin-top: -8px;">一般会計補正予算第1号　</h5>
    <p>歳入歳出に91,476千円を追加するもので国の新型コロナウィルス感染症対応分地方臨時交付金55,563千円は
      当初予算への財源振替、民生国庫補助金35,913千円は住民税非課税世帯等へ
      子育て世帯生活支援特別交付金（県上乗せ分265人×5万、新非課税世帯1,400世帯×3万）を
      支給するものです。
    </p>
  <h5 class="report-section-title" style="margin-top: -8px;">一般会計補正予算第2号</h5>
    <p>歳入歳出に3,020千円追加し予算総額7,607,496千円とするもので、
       新型コロナウィルス感染症対応分地方臨時交付金87,323千円を
       財政調整基金に繰り入れ、デジタル田園都市構想推進交付金2,013千円を
       DX推進事業等へ財源振替したものです
    </p>
  <h5 class="report-section-title" style="margin-top: -8px;">6月議会で　町政を質す（発言通告と主な質疑）</h5>

  <h6>1. コロナ禍における原油価格・物価高騰等緊急対策について</h6>
    <p>令和4年4月26日に政府が公表した総合緊急対策では地方創生臨時交付金のうち
      「コロナ禍における原油価格・物価高騰対応分」により
      「地方公共団体が実施する、生活に困窮する方々の生活支援や、
       学校給食費等の負担軽減など子育て世帯の支援、また、
       農林水産業者や運輸・交通分野をはじめとする中小企業者等の支援といった
      取組をしっかりと後押しする。」としていることから、町の支援内容を質しました。
    </p>
  <table>
    <tr><td></td></tr>
    <tr>
      <td><%= render 'components/question' %></td>
      <td>学校給食の食材高騰に補助ができないか。</td>
    </tr>
    <tr>
      <td><%= render 'components/answer' %></td>
      <td>食材の値上には、国地方創生臨時交付金を活用し対応します。</td>
    </tr>
    <tr>
      <td><%= render 'components/question' %></td>
      <td>町の原油価格・物価高騰緊急対策として農業者や中小企業者に支援事業を行う考えは。</td>
    </tr>
      <tr>
      <td><%= render 'components/answer' %></td>
      <td>町内の商工事業者や農業者がどのような影響を受け支援が必要なのか実態を調査把握しています。支援事業（国交付金対応）実施に向け準備しております。</td>
    </tr>
      <tr>
      <td><%= render 'components/question' %></td>
      <td>臨時交付金を活用し水道料金（基本料）の減免を行う自治体もあるが町でも実施できないか。</td>
    </tr>
      <tr>
      <td><%= render 'components/answer' %></td>
      <td>少額の減免措置となることから、実施は考えていません。</td>
    </tr>
  </table>

  <h6>2. 東部地域のまちづくりと企業誘致について</h6>
    <p>2020年後（2041年度）を目標年次とする川島町都市計画マスタープランが
       本年3月に改定され、この指針に基づくまちづくりがスタートしたことから、
       東部地域のまちづくりと企業誘致について質しました。
    </p>
    <table>
      <tr><td></td></tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>都市計画マスタープランが改定されたが、東部地域に産業系12号産業系の追加指定ができないか。</td>
      </tr>
      <tr>
        <td><%= render 'components/answer' %></td>
        <td>町は平成１５年に産業系⒓号の区域指定を町東部２地域（約１２㏊）に行っており、進出企業は７社で、約９㏊が建築済みです。
        町の指定区域で建築総面積が８割を超えれば追加可能です。</td>
      </tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>市街化調整区域でも企業誘致を促進し地域経済の活性化や雇用の創出につなげていくことが必要と考えるが、優遇策を設けてさらに企業誘致ができないか。</td>
      </tr>
        <tr>
        <td><%= render 'components/answer' %></td>
        <td>７社の総従業員数は１９６名（内町内在住３５名）と雇用の創出につながっています。川島ＩＣもあり立地条件が良いことから、優遇制度を設けた企業誘致は考えておりません。
          </br> ※　東部地区の産業系12号指定地域
          </br> 表、山ケ谷戸地区　　　　 約5ha（約3.54haは契約済みです。）
          </br> 上・下大屋敷、西谷地区 　約7ha（約1.2haは契約済み。約3haは既存の工場があります。
        </td>
      </tr>
    </table>
    <div class="master-image-box">
        <div class="classifier-box">

          <div class="image-description">
            <li>写真　表、山ケ谷戸地区</li>
            <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939997/development/omote_yamagayato_wxk9kr.png') %>">
          </div>

          <div class="image-description">
            <li>上・下大屋敷、西谷地区産業系工場</li>
            <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939997/development/ue_shimooyashiki_hmyu6b.png') %>">
          </div>

        </div>
      </div>

  <h6>3. 小中一貫教育校の開校と小学校施設の利活用について</h6>
    <p>町広報6月号では「令和７年度つばさ南小・つばさ北小の統合による
      小中一貫教育校の開校を目指し」、川島町公共施設個別施設計画で
      「令和17年度を目途に町内すべての小中学校を同一施設に集約し、
      小中一貫教育校の整備を目指す」とあることから、
      公共施設の利活用も含め教育方針を質しました。
    </p>
    <table>
      <tr><td></td></tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>町は令和７年度に小中一貫教育校の開校を目指すと公表したが、
            廃校２小学校の利活用が未定のまま、さらに３年後には２校の廃校が
            予見され、今後どのように利活用を図っていくのか。
        </td>
      </tr>
      <tr>
        <td><%= render 'components/answer' %></td>
        <td>当初民間活力を導入した施設を目指していましたが、
            用途変更にハードルがあり、国に規制緩和を要望しています。
            引き続き、多方面からアイディアをいただき方向性を
            定めてまいります。
        </td>
      </tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>小中一貫教育校を義務教育学校とする考えは。</td>
      </tr>
        <tr>
        <td><%= render 'components/answer' %></td>
        <td>
            町の公共施設個別施設計画では令和17年に町内すべての
            小中学校を同一施設に集約し、小中一貫教育校の整備を目指す
            としていることから、その段階で検討します。
        </td>
      </tr>
    </table>
      <h6>7月12日　県西部を襲った大雨で　町内雨量は157.5ミリ</h6>
        <p>
          川島排水機場は13日午前0時30分より稼働（11時まで運転）しましたが、
          安藤川と飯島排水が合流する蕪橋周辺や排水機場に近い釘無地内では管理道路近くまで
          水位が上昇しました。</p>

      <div class="master-image-box">
        <div class="classifier-box">

          <div class="image-description">
            <li>7月13日(水)午前9時頃撮影</li>
            <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939998/development/haisui_right_pvxsue.jpg') %>">
          </div>

          <div class="image-description">
            <li>7月13日(水)午前9時頃撮影</li>
            <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939998/development/haisui_left_kvgir7.jpg') %>">
          </div>

        </div>
      </div>

      <h6>町高台避難場所整備計画は</h6>
      <p>
         2回目となる地権者説明会が4月27日に開催されました。
         町からは対象区域が約2㏊、一時避難場所となる天端面積約5,900㎡とする
         整備計画の概要が示されました。地権者からは、現況の堤防（16.5ｍ）より
         2ｍ程高くなる高台整備に、近隣住宅への雨水の流入や造成に伴う道水路の
         改良等周辺環境に関する意見が多く出されました。
         今年度、測量等も行うことから、町は改めて整備計画を提示することに
         なりました。今後、地域説明会も開催される予定となっております。
      </p>
      <h6>議会予定</h6>
        <p>9月定例議会　9月1日～15日予定</p>
      <h6>現在取り組んでいる政治活動</h6>
      <ul>
        <li>廃校を有効利活用した地域の活性化</li>
        <li>
            国入間川樋管改修事業（横塚樋管改修）に合わせた排水機場整備（
            台風19号の内水氾濫に鑑み、横塚樋管に排水機場を設置していただきたい旨、
            要望書が出丸地区から提出されています。）
        </li>
        <li>横塚川の改修促進（県）と上流部（赤城用水路）の整備</li>
        <li>樋詰橋から出丸橋に抜ける道路環境の整備と永久橋化を要請</li>
        <li>通学路の交通安全施策の充実（高木前道路改良を要望）</li>
      </ul>

      <p>
         地域から要望のあった出丸本地内（谷島農機裏）の町道改良は測量に
         向けた地元説明会が6月29日に行われました。引き続き、生活道路の改良や
         排水路の整備に取り組んでいきます。
      </p>

</div>
</div>
</div>
</div>

<%# Main Container %>
<div class="content-container2">



        <div class="inner-card">
          <h2 class="vol-title">議会活動報告 Vol.3 発行:令和4年3月</h2>
          <p> 令和4年3月21日をもって埼玉県に対するまん延防止等重点措置は解除されましたが、
          長引くコロナ禍で地域のコミュニティ活動も停滞し、地域経済も深刻な影響を受けております。
          令和4年度は新しい生活様式を踏まえた地域経済の活性化対応はもとより、感染拡大の影響を受けた農家や中小企業、
          商工業事業者の皆様への支援がさらに必要なものと考えています。
          令和4年度町当初予算にも国の地方創生臨時交付金を活用したコロナ対策事業が計上されていますので、
          <bdi>ポストコロナに向けた町民の皆様への支援策や社会経済活動の再開に向けた
          施策提言を引き続き行って参ります。</bdi>  コロナ禍の中での議員活動となりましたが、令和3年度の活動状況を取りまとめましたのでご覧い ただければ幸いです。なお、現在3回目のワクチンの接種事業が進められていますが、ご協力をいた だいております医療従事者の皆様に改めて感謝を申し上げます。</p>



          <p style="margin-top: -8px; margin-bottom: 46px;">　　3月定例議会には令和4年度当初予算案や条例改正等の議案が上程され、3月16日審議の結果、全議案とも可決承認されました。  一般会計の予算総額は75億1,300万円(前年比8.3%増)で、第6次総合振興計画戦略目標にそった予 算が計上され、新型コロナ対策費用としては、ワクチン接種事業費6,074万円や学童保育トイレ改修費 498万円等が計上されました。  条例改正では、川島町廃校施設の開放及び施設の管理に関する条例が改正され、旧小学校の利活用を検証するための期間がさらに2か年延長されました。また、川島町水防団条例も改正され、水害警 戒出動の費用弁償が千円引き上げられ4,000円とになります。</p>
          <div class="sub-yosan">
            <table>
                <tr>
                  <th>【災害関連予算では】</th>
                  <th>【教育関連予算では】</th>
                </tr>
                <tr>
                  <td>◎ 高台避難場所整備事業 8,580万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(設計及び調査費として)</td>
                  <td>◎ 学校統合推進事業 397万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(小中一貫教育推進事業の一環として)</td>
                </tr>
                <tr>
                  <td>◎ 防災備品整備事業 671万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(避難所備蓄品等)</td>
                  <td>◎ かわじま郷土資料館(仮称)開設準備事業 178万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(文化財の保存・活用、歴史文化を学ぶ場として)</td>
                </tr>
              </table>
          </div>

            <div class="project-card">
                  <h4 class="report-title" style="text-align: center;"> 国や県の水害対策事業も行われています</h4>


                <div class="master-image-box">
                      <div class="test-title">
                        <h5 class="sub-section-title">入間川流域緊急治水対策事業</h5>
                      </div>

                    <div class="classifier-box">

                      <div class="image-description">
                        <li>樹木伐採箇所(桜堤周辺) </li>
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653915554/development/kojichu_3_ktqffm.png') %>">
                      </div>

                      <div class="image-description">
                        <li> 河道掘削の状況(釘無橋下流) </li>
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653916306/development/kojichu_2_toouf1.png') %>">
                      </div>

                    </div>


              <div class="master-image-box">
                  <div class="test-title">
                    <h5 class="sub-section-title">市ノ川流域堤防を越流から守るための工事</h5>
                  </div>

                  <div class="classifier-box">
                    <div class="image-description">
                      <li>天端舗装工事(鳥羽井沼周辺)</li>
                      <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653915554/development/kojichu_yfb0xl.png') %>">
                    </div>
                  </div>
              </div>
          </div>


  <%# <div class="project-card"> %>
            <h4 class="report-title"> 一般質問で町政を問う</h4>
              <div class="project-content">
                <h5 class="report-section-title" style="margin-top: -8px;">令和 3 年 6 月定例議会では</h5>

                <p>水道法の改正により水道施設台帳の整備が義務化されたことから、
                水道事業の経営状況等を質しました。また、子供たちが安全で安心して学校教育に臨めるよう
                「災害時の学校給食実施体制」や「通学路 の安全確保」についての質疑を行いました。</p>

                <%# Section Start %>
                  <h6>水道施設台帳の整備について</h6>

                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/suido_koji_sei5gi.png') %>">
                        <li>老朽管布設替工事の様子</li>
                      </div>
                    </div>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水道事業の経営状況は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>県水の供給割合を9割から6割に下げ(井水が4割に)経営の合理化に努めています。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>監査意見書にも水道施設のダウンサイジング(規模縮少)が必要とあるが。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>給水人口の減少もあり、料金改定も視野に、施設のダウンサイジング(規模縮少)に取り組みます。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>老朽管の破損事故も多く、改正水道法では水道施設台帳の整備が義務付けられたが町の対応は。また、耐用年数を超えた老朽管の現状は。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>今年度中に施設台帳を整備します。更新が必要な老朽管は約13キロ残っており、総延長の8%に当たります。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                  <%# Section Start %>
                  <h6>災害時における学校給食実施体制について</h6>
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305825/development/kyushoku_q95djr.png') %>">
                        <li>災害時代替給食の備えを検討している給食センター</li>
                        </div>
                      </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>災害などの不測事態に備え、学校給食施設の防災対策や学校給食再開までのバックアップ体制構築が必要と考えるが。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>代替給食となる非常食の備蓄や近隣市町村との連携、民間企業への給食提供の協力要請等の対応をしてまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>給食費特別会計が一般会計に組入れ られたこともあり、災害を受けた他市町の事例を参考に、代替給食となる食材を非常食として購入できないか。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>給食再開までの非常食ということで あれば備えられないことはないと考えます。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>老朽管の破損事故も多く、改正水道法では水道施設台帳の整備が義務付けられたが町の対応は。また、耐用年数を超えた老朽管の現状は。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>今年度中に施設台帳を整備します。更新が必要な老朽管は約13キロ残っており、総延長の8%に当たります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                <h5 class="report-section-title">令和 3 年 9 月定例議会では</h5>
                <p>千葉県八街市で下校中の小学生の列にトラックが衝突し、5人が死傷する大変痛ましい事故が6月に発生したことから通学路の安全対策について質しました。
                また、「水害時の避難に関する実態調査」や「郷 土資料館の整備方針」等について質疑を行いました。</p>


                  <%# Section Start %>
                  <h6>通学児童の交通安全対策について</h6>
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305826/development/schoolbus_u3qzfu.png') %>">
                      <li>かわじまスクールバス<br>(町立つばさ南・北小学校では平成30年開校から本格運行)</li>
                      </div>
                    </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>小中学校から報告のあった危険個所(61) を確認し状況改善を目指します。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>補正予算案に交通安全対策費(532万)が計上されているが、継続的に事業を推進するためには当初予算でも箇所付けが必要と考えるが。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>当面できるものは早急にと補正対応しましたが事業によっては継続も視野に対応してまいります。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>千葉県では児童の死傷事故も発生しており、遠距離通学児童の安全を考え全小学校でスクールバスの運行ができないか。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>通学距離では長楽、角泉、釘無、山ケ谷戸地区が遠距離と考えられますので、今後小中一貫教育の中で検討してまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                  <%# Section Start %>
                  <h6>水害ハザードマップの活用と水害対策について</h6>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水害ハザードマップを活用した防災教育が実施できないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>小中学校の防災教育では地震災害の避難訓練を行っていましたが、今年度は水害を学ぶためマイ・タイムラインの作成に取り組んでまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                    <h6>郷土資料館の整備について</h6>
                      <div class="classifier-box">
                        <div class="image-description">
                          <img class="project-image2" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/shiryokan_ntm5it.png') %>">
                          <li style="align-text: center;">郷土資料館の整備が検討されている旧小学校<br>(旧小見野小学校教室内)</li>
                        </div>
                      </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>郷土資料館の整備方針と設置場所は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>既存施設(旧小学校)を利用した整備を考えており、町の歴史・郷土芸能・自然地理の資料展示の他に体験ができる学びの施設となるように考えています。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                <h5 class="report-section-title">令和 3 年 12 月定例議会では</h5>
                  <p>長引くコロナ禍の影響で米価の低落が農業経営に深刻な影響を与えていることから町の農業支援策等を質しました。</p>

                  <%# Section Start %>
                  <h6>米生産農家への支援について</h6>
                  <div class="master-image-box">
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305823/development/kome_lqp8n2.png') %>">
                        <li>新型コロナ対策事業としては川越藩の<br>お蔵米生産者への支援が行われました。</li>
                      </div>

                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/tracktor_q4nzbl.png') %>">
                        <li>農地の均平化事業の様子(R4.1)</li>
                      </div>

                    </div>
                  </div>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>米価低落への支援策は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>お蔵米生産者へ支援事業(対策費550万円)を行います。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>コロナ禍で20年産米の余剰が米価下落の要因で大規模農家ほど影響が大きいと言われるが、反当の減収額は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>昨年度と比較し反当31,200円(コシヒカリ八俵収穫で国の対策がないと仮定)ほどの減収となります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>減収の影響から次期作付が懸念され、久喜市等では次期作付種苗等の支援(コロナ対策交付金で反当り3,500円助成)
                      を行っているが町も作付を行う全農家に対して次期作付種苗等の支援ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>減反政策が廃止され、個々の経営判断で米作りが行われており、町としては農家の経営基盤安定を考え農地の集積・集約化、圃場の区画拡大均平化事業への支援を行います。</td>
                    </tr>

                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                  <h6>水害時の避難に関する実態調査結果と緊急避難場所の整備について</h6>
                    <div class="classifier-box">
                        <div class="image-description">
                          <img class="project-image2" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305824/development/Screen_Shot_2022-06-04_at_10.16.15_bgpfi6.png') %>">
                          <li>花壇を撤去し駐車場に(旧出丸小)</li>
                        </div>
                    </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水害時の避難に関する実態調査結果では広域避難に課題があると考えるが。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>町内に留まると回答(46%)した方が多く、
                      今後自治会・各種団体・企業にもハザードマップ・タイムライン出前講座を行い
                      広域避難を呼びか けてまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>旧小学校への公民館移設が計画されているが指定避難所として整備計画はあるのか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>旧小見野小では西側に駐車場を整備し、旧出丸小ではトイレの改修を行っており、
                      今後、高台避難場所の整備に合わせて進入路の拡幅等も検討していきます。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                  <h5 class="report-section-title">令和 4 年 3 月定例議会では</h5>
                  <p> 令和4年度当初予算案に関連し、厳しい経営環境が続く商工事業者等へ新型コロナウイルス
                  感染症対応地方創生臨時交付金を活用した、追加支援策が考えられないか質しました。また、入間川緊急治水対策事業が進められることから、
                  関係する町の治水対策事業についても質しました。</p>

                  <h6>新型コロナウィルス対策事業について</h6>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>交付金を活用し、厳しい経営環境が続く商工事業者等へ追加支援策が考えられないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>商工会からはB級グルメを活用した町内回遊事業への支援要望もあり、今後支援できるよう対応してまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>コロナ禍で不登校児童生徒数が急増しているが、教育相談体制の整備充実ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>県の補助事業では十分な相談員の配置が難しいため、
                      町の支援策としスクールソーシャルワーカー(SSW)等の相談体制を充実し相談回数も増やしてまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>

                  <h6>治水対策事業について</h6>
                  <div class="master-image-box">
                  <div class="classifier-box">

                    <div class="image-description">
                      <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/water_gate_aen09s.png') %>">
                      <li>農地の均平化事業の様子(R4.1)</li>
                    </div>

                    <div class="image-description">
                      <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305823/development/ando_river_hlukts.png') %>">
                      <li>安藤川と飯島排水が合流する稲荷橋付近<br>(ハザードマップでは内水氾濫危険箇所)</li>
                    </div>

                  </div>

                  </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>治水対策とし入間川流域の樋管(浅間・高木・横塚)はどのように改修されるのか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>平成15年からの入間川・越辺川等緊急対策築堤事業の未改修箇所で浅間・高木樋管は撤去、
                      横塚樋管は改修の計画があり、現在調査検討が進められています。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>浅間・高木樋管が撤去されると流域の排水に支障がでないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>国が整備を進める堤脚水路と町が整備する浅間排水路で、流域の排水を川島排水機場に取り込む計画になっています。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>内水氾濫が心配される安藤川稲荷橋下流部で、管理道路をかさ上げする等の越水対策ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>内水氾濫が予想される危険個所については、引き続き安藤川・横塚川改修促進協議会等を通じ要望活動を行ってまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>
              </div>
          </div>

                  <%# <div class="project-card">
                    <h4> タイトル　</h4>
                      <img class="project-image">
                      <div class="project-content">
                        <ul>
                          <li>テキスト</li>
                        </ul>
                      </div>
                  </div> %>

      </div>

      <%# <div class="inner-card">
        <h2>Work Experience</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam quasi rem illum optio! Ducimus, sequi harum! Sunt itaque repellat odit tenetur rem quae aspernatur officia non eaque! Obcaecati, quibusdam provident!</p>
      </div> %>

    </div>



  <%# </div> %>
</div>
