<%# PROFILE BANNER %>

<%# Video %>
<div class="banner-top-video">
  <video autoplay loop muted id="myVideo">
    <source src=<%= image_path('https://res.cloudinary.com/dvdm3zjhh/video/upload/v1653293967/development/forest_z0yde5.mp4')%> type="video/mp4">
  </video>
</div>

<%# Inner Banner Content %>
<div class="profile-banner2">
  <div class="profile-box2">
    <div class="profile-image-container2">
    <%# Sometimes the cl_image_path will not work%>
      <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">
        <div class="name-title">
            <%# <h2>川島町議会議員</h2> %>
            <h1>議会活動報告</h1>
        </div>
          <%# Contact Me Button %>
          <div class="contact-me">
            <a class="button" href="mailto:kasuyakatsumi@gmail.com">
            <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>


<%# Main Container %>
<div class="content-container2">


      <div class="flex-child-main-column2">
        <div class="inner-card">
          <h2 class="vol-title">議会活動報告 Vol.3 発行:令和4年3月</h2>
          <p> 令和4年3月21日をもって埼玉県に対するまん延防止等重点措置は解除されましたが、
          長引くコロナ禍で地域のコミュニティ活動も停滞し、地域経済も深刻な影響を受けております。
          令和4年度は新しい生活様式を踏まえた地域経済の活性化対応はもとより、感染拡大の影響を受けた農家や中小企業、
          商工業事業者の皆様への支援がさらに必要なものと考えています。
          令和4年度町当初予算にも国の地方創生臨時交付金を活用したコロナ対策事業が計上されていますので、
          <bdi>ポストコロナに向けた町民の皆様への支援策や社会経済活動の再開に向けた
          施策提言を引き続き行って参ります。</bdi>  コロナ禍の中での議員活動となりましたが、令和3年度の活動状況を取りまとめましたのでご覧い ただければ幸いです。なお、現在3回目のワクチンの接種事業が進められていますが、ご協力をいた だいております医療従事者の皆様に改めて感謝を申し上げます。</p>



          <p style="margin-top: -8px;">　　3月定例議会には令和4年度当初予算案や条例改正等の議案が上程され、3月16日審議の結果、全議案とも可決承認されました。  一般会計の予算総額は75億1,300万円(前年比8.3%増)で、第6次総合振興計画戦略目標にそった予 算が計上され、新型コロナ対策費用としては、ワクチン接種事業費6,074万円や学童保育トイレ改修費 498万円等が計上されました。  条例改正では、川島町廃校施設の開放及び施設の管理に関する条例が改正され、旧小学校の利活用を検証するための期間がさらに2か年延長されました。また、川島町水防団条例も改正され、水害警 戒出動の費用弁償が千円引き上げられ4,000円とになります。</p>
          <div class="sub-yosan">
            <table>
                <tr>
                  <th>【災害関連予算では】</th>
                  <th>【教育関連予算では】</th>
                </tr>
                <tr>
                  <td>◎ 高台避難場所整備事業 8,580万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(設計及び調査費として)</td>
                  <td>◎ 学校統合推進事業 397万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(小中一貫教育推進事業の一環として)</td>
                </tr>
                <tr>
                  <td>◎ 防災備品整備事業 671万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(避難所備蓄品等)</td>
                  <td>◎ かわじま郷土資料館(仮称)開設準備事業 178万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(文化財の保存・活用、歴史文化を学ぶ場として)</td>
                </tr>
              </table>
          </div>

            <div class="project-card">
                  <h4 style="text-align: center;"> 国や県の水害対策事業も行われています</h4>


                <div class="master-image-box">
                      <div class="test-title">
                        <h5 class="sub-section-title">入間川流域緊急治水対策事業</h5>
                      </div>

                    <div class="classifier-box">

                      <div class="image-description">
                        <li>樹木伐採箇所(桜堤周辺) </li>
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653915554/development/kojichu_3_ktqffm.png') %>">
                      </div>

                      <div class="image-description">
                        <li> 河道掘削の状況(釘無橋下流) </li>
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653916306/development/kojichu_2_toouf1.png') %>">
                      </div>

                    </div>


              <div class="master-image-box">
                  <div class="test-title">
                    <h5 class="sub-section-title">市ノ川流域堤防を越流から守るための工事</h5>
                  </div>

                  <div class="classifier-box">
                    <div class="image-description">
                      <li>天端舗装工事(鳥羽井沼周辺)</li>
                      <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653915554/development/kojichu_yfb0xl.png') %>">
                    </div>
                  </div>
              </div>
            </div>
          </div>


  <div class="project-card">
            <h4 class="report-title"> 一般質問で町政を問う</h4>

              <img class="project-image">
              <div class="project-content">
                <h5 class="report-section-title" style="margin-top: -8px;">令和 3 年 6 月定例議会では</h5>

                <p>水道法の改正により水道施設台帳の整備が義務化されたことから、
                水道事業の経営状況等を質しました。また、子供たちが安全で安心して学校教育に臨めるよう
                「災害時の学校給食実施体制」や「通学路 の安全確保」についての質疑を行いました。</p>

                <%# Section Start %>
                  <h6>水道施設台帳の整備について</h6>

                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/suido_koji_sei5gi.png') %>">
                        <li>老朽管布設替工事の様子</li>
                      </div>
                    </div>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水道事業の経営状況は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>県水の供給割合を9割から6割に下げ(井水が4割に)経営の合理化に努めています。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>監査意見書にも水道施設のダウンサイジング(規模縮少)が必要とあるが。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>給水人口の減少もあり、料金改定も視野に、施設のダウンサイジング(規模縮少)に取り組みます。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>老朽管の破損事故も多く、改正水道法では水道施設台帳の整備が義務付けられたが町の対応は。また、耐用年数を超えた老朽管の現状は。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>今年度中に施設台帳を整備します。更新が必要な老朽管は約13キロ残っており、総延長の8%に当たります。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                  <%# Section Start %>
                  <h6>災害時における学校給食実施体制について</h6>
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305825/development/kyushoku_q95djr.png') %>">
                        <li>災害時代替給食の備えを検討している給食センター</li>
                        </div>
                      </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>災害などの不測事態に備え、学校給食施設の防災対策や学校給食再開までのバックアップ体制構築が必要と考えるが。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>代替給食となる非常食の備蓄や近隣市町村との連携、民間企業への給食提供の協力要請等の対応をしてまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>給食費特別会計が一般会計に組入れ られたこともあり、災害を受けた他市町の事例を参考に、代替給食となる食材を非常食として購入できないか。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>給食再開までの非常食ということで あれば備えられないことはないと考えます。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>老朽管の破損事故も多く、改正水道法では水道施設台帳の整備が義務付けられたが町の対応は。また、耐用年数を超えた老朽管の現状は。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>今年度中に施設台帳を整備します。更新が必要な老朽管は約13キロ残っており、総延長の8%に当たります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                <h5 class="report-section-title">令和 3 年 9 月定例議会では</h5>
                <p>千葉県八街市で下校中の小学生の列にトラックが衝突し、5人が死傷する大変痛ましい事故が6月に発生したことから通学路の安全対策について質しました。
                また、「水害時の避難に関する実態調査」や「郷 土資料館の整備方針」等について質疑を行いました。</p>


                  <%# Section Start %>
                  <h6>通学児童の交通安全対策について</h6>
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305826/development/schoolbus_u3qzfu.png') %>">
                      <li>かわじまスクールバス<br>(町立つばさ南・北小学校では平成30年開校から本格運行)</li>
                      </div>
                    </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>小中学校から報告のあった危険個所(61) を確認し状況改善を目指します。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>補正予算案に交通安全対策費(532万)が計上されているが、継続的に事業を推進するためには当初予算でも箇所付けが必要と考えるが。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>当面できるものは早急にと補正対応しましたが事業によっては継続も視野に対応してまいります。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>千葉県では児童の死傷事故も発生しており、遠距離通学児童の安全を考え全小学校でスクールバスの運行ができないか。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>通学距離では長楽、角泉、釘無、山ケ谷戸地区が遠距離と考えられますので、今後小中一貫教育の中で検討してまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                  <%# Section Start %>
                  <h6>水害ハザードマップの活用と水害対策について</h6>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水害ハザードマップを活用した防災教育が実施できないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>小中学校の防災教育では地震災害の避難訓練を行っていましたが、今年度は水害を学ぶためマイ・タイムラインの作成に取り組んでまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                    <h6>郷土資料館の整備について</h6>
                      <div class="classifier-box">
                        <div class="image-description">
                          <img class="project-image2" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/shiryokan_ntm5it.png') %>">
                          <li style="align-text: center;">郷土資料館の整備が検討されている旧小学校<br>(旧小見野小学校教室内)</li>
                        </div>
                      </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>郷土資料館の整備方針と設置場所は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>既存施設(旧小学校)を利用した整備を考えており、町の歴史・郷土芸能・自然地理の資料展示の他に体験ができる学びの施設となるように考えています。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                <h5 class="report-section-title">令和 3 年 12 月定例議会では</h5>
                  <p>長引くコロナ禍の影響で米価の低落が農業経営に深刻な影響を与えていることから町の農業支援策等を質しました。</p>

                  <%# Section Start %>
                  <h6>米生産農家への支援について</h6>
                  <div class="master-image-box">
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305823/development/kome_lqp8n2.png') %>">
                        <li>新型コロナ対策事業としては川越藩の<br>お蔵米生産者への支援が行われました。</li>
                      </div>

                      <div class="image-description">
                        <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/tracktor_q4nzbl.png') %>">
                        <li>農地の均平化事業の様子(R4.1)</li>
                      </div>

                    </div>
                  </div>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>米価低落への支援策は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>お蔵米生産者へ支援事業(対策費550万円)を行います。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>コロナ禍で20年産米の余剰が米価下落の要因で大規模農家ほど影響が大きいと言われるが、反当の減収額は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>昨年度と比較し反当31,200円(コシヒカリ八俵収穫で国の対策がないと仮定)ほどの減収となります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>減収の影響から次期作付が懸念され、久喜市等では次期作付種苗等の支援(コロナ対策交付金で反当り3,500円助成)
                      を行っているが町も作付を行う全農家に対して次期作付種苗等の支援ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>減反政策が廃止され、個々の経営判断で米作りが行われており、町としては農家の経営基盤安定を考え農地の集積・集約化、圃場の区画拡大均平化事業への支援を行います。</td>
                    </tr>

                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                  <h6>水害時の避難に関する実態調査結果と緊急避難場所の整備について</h6>
                    <div class="classifier-box">
                        <div class="image-description">
                          <img class="project-image2" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305824/development/Screen_Shot_2022-06-04_at_10.16.15_bgpfi6.png') %>">
                          <li>花壇を撤去し駐車場に(旧出丸小)</li>
                        </div>
                    </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水害時の避難に関する実態調査結果では広域避難に課題があると考えるが。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>町内に留まると回答(46%)した方が多く、
                      今後自治会・各種団体・企業にもハザードマップ・タイムライン出前講座を行い
                      広域避難を呼びか けてまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>旧小学校への公民館移設が計画されているが指定避難所として整備計画はあるのか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>旧小見野小では西側に駐車場を整備し、旧出丸小ではトイレの改修を行っており、
                      今後、高台避難場所の整備に合わせて進入路の拡幅等も検討していきます。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                  <h5 class="report-section-title">令和 4 年 3 月定例議会では</h5>
                  <p> 令和4年度当初予算案に関連し、厳しい経営環境が続く商工事業者等へ新型コロナウイルス
                  感染症対応地方創生臨時交付金を活用した、追加支援策が考えられないか質しました。また、入間川緊急治水対策事業が進められることから、
                  関係する町の治水対策事業についても質しました。</p>

                  <h6>新型コロナウィルス対策事業について</h6>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>交付金を活用し、厳しい経営環境が続く商工事業者等へ追加支援策が考えられないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>商工会からはB級グルメを活用した町内回遊事業への支援要望もあり、今後支援できるよう対応してまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>コロナ禍で不登校児童生徒数が急増しているが、教育相談体制の整備充実ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>県の補助事業では十分な相談員の配置が難しいため、
                      町の支援策としスクールソーシャルワーカー(SSW)等の相談体制を充実し相談回数も増やしてまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>

                  <h6>治水対策事業について</h6>
                  <div class="master-image-box">
                  <div class="classifier-box">

                    <div class="image-description">
                      <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/water_gate_aen09s.png') %>">
                      <li>農地の均平化事業の様子(R4.1)</li>
                    </div>

                    <div class="image-description">
                      <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305823/development/ando_river_hlukts.png') %>">
                      <li>安藤川と飯島排水が合流する稲荷橋付近<br>(ハザードマップでは内水氾濫危険箇所)</li>
                    </div>

                  </div>

                  </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>治水対策とし入間川流域の樋管(浅間・高木・横塚)はどのように改修されるのか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>平成15年からの入間川・越辺川等緊急対策築堤事業の未改修箇所で浅間・高木樋管は撤去、
                      横塚樋管は改修の計画があり、現在調査検討が進められています。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>浅間・高木樋管が撤去されると流域の排水に支障がでないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>国が整備を進める堤脚水路と町が整備する浅間排水路で、流域の排水を川島排水機場に取り込む計画になっています。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>内水氾濫が心配される安藤川稲荷橋下流部で、管理道路をかさ上げする等の越水対策ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>内水氾濫が予想される危険個所については、引き続き安藤川・横塚川改修促進協議会等を通じ要望活動を行ってまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>
              </div>
          </div>

                  <%# <div class="project-card">
                    <h4> タイトル　</h4>
                      <img class="project-image">
                      <div class="project-content">
                        <ul>
                          <li>テキスト</li>
                        </ul>
                      </div>
                  </div> %>

      </div>

      <%# <div class="inner-card">
        <h2>Work Experience</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam quasi rem illum optio! Ducimus, sequi harum! Sunt itaque repellat odit tenetur rem quae aspernatur officia non eaque! Obcaecati, quibusdam provident!</p>
      </div> %>

    </div>



  </div>
</div>
