<%# PROFILE BANNER %>


<%# Video %>
<!--<div class="banner-top-video">
  <video autoplay loop muted id="myVideo">
    <source src=<%= image_path('https://res.cloudinary.com/dvdm3zjhh/video/upload/v1653293967/development/forest_z0yde5.mp4')%> type="video/mp4">
  </video>
</div>-->

<%# Inner Banner Content %>
<!--<div class="profile-banner2">
  <div class="profile-box2">
    <div class="profile-image-container2">
    <%# Sometimes the cl_image_path will not work%>
      <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">
        <div class="name-title">
            <%# <h2>川島町議会議員</h2> %>
            <h1>議会活動報告</h1>
        </div>
          <%# Contact Me Button %>
          <div class="contact-me">
            <a class="button" href="mailto:kasuyakatsumi@gmail.com">
            <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>-->

  <div class="profile-card">
      <div class="profile-image-container">




        <%# Sometimes the cl_image_path will not work%>
        <img class="user-profile-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653281909/development/katsumi_profile_cstjem.png') %>">


          <div class="name-title">
            <h4 class="manifesto">地域の声を町政に!!</h4>
            <h2>元川島町議会議員</h2>
             <ruby>
              <h3>粕谷 克己</h3>
              <rt>かすやかつみ</rt>
            </ruby>



            <%# Contact Me Button %>
            <div class="contact-me">
              <a class="button" href="mailto:kasuyakatsumi@gmail.com">
              <p class="inner-text"><span class="fas fa-paper-plane"></span>お問い合わせ</p>
              </a>
            </div>
      </div>
  </div>
  </div>

  <div class="page-name-profile">
    <h1>議会活動報告</h1>
  </div>

  <div class="report-volumes">
    <h1>これまでのリリース</h1>
    <div class="scroll-box">
      <a href="#vol-5">Vol.5 発行: 令和4年9月</a>
      <a href="#vol-4">Vol.4 発行: 令和4年7月</a>
      <a href="#vol-3">Vol.3 発行: 令和4年3月</a>
      <a href="#vol-2">Vol.2 発行: 令和3年3月</a>
      <a href="#vol-1">Vol.1 準備中</a>
    </div>
  </div>

<div class="content-container2">
  <div class="inner-card">
    <div id="vol-5"></div>
    <h2 class="vol-title">
      議会活動報告 Vol.5 発行:令和4年9月
    </h2>
    <div class="project-card">
      <div class="project-content">
        <p>
          ９月定例議会が９月１日から15日までの日程で開催されました。９月議会は決算議会とも呼ばれ、
           令和３年度川島町歳入歳出決算が監査委員の審査意見書とともに議会に付託され、各委員会で所管す
           る会計の決算認定にかかる審議が慎重に行われました。令和４年度一般会計補正予算案や条例改正案
           も審議され、最終日に全議案とも認定・承認されました。
           <br>
           決算では、長引くコロナ禍の中、国からの新型コロナウイルス感染症対応地方創生臨時交付金が
          <strong>「どのように活用され、生活が困窮し真に支援が必要な方々に行き渡っているのか」</strong>という議論もありました。
        </p>
        <p>
          私は、<strong>町のコロナ対策事業のウェイトは改修工事等に偏り、交付金をもっと町民の生活支援に充てるべきだと</strong>考えています。
          「真に町民が望み、住民福祉にかなう事業なのか」その事業効果を見極め、必要により町の考えを質し、議員提案を行うことも大切であると考えます。
          町の事業総括でもある決算の概要や令和４年度上半期の議員活動の状況を報告書に取りまとめましたので、ご覧いただければ幸いです。
        </p>
        <p>
          ９月１日に先輩議員の石川征郎議員がご逝去されました。謹んでご冥福をお祈りいたします。
        </p>

        <div class="yosan-chart">
          <p style="color:darkblue; margin-bottom: 8px;">【令和 3年度川島町歳入歳出決算】　　臨時交付金を活用した町のコロナ対策事業</p>
          <p style="margin-bottom: 8px;">【歳入】　新型コロナウイルス感染症対応地方創生臨時交付金　113,062千円</p>
          <p>【歳出】　交付金が充当された主な事業</p>
          <div class="section-space"></div>
          <div class="sub-yosan">
              <table>
                  <tr>
                    <td>DX推進事業</td>
                    <td>4,400千円</td>
                    <td>マイナンバーカード普及率UPキャンペーン</td>
                    <td>5,431千円</td>
                  </tr>
                  <tr>
                    <td>商工業金融対策事業（利子補給）</td>
                    <td>9,000千円</td>
                    <td>中小企業経営継続応援事業</td>
                    <td>100千円</td>
                  </tr>
                  <tr>
                    <td>中小企業経営改革応援事業</td>
                     <td>450千円</td>
                     <td>平成の森公園トイレ改修工事</td>
                     <td>19,250千円</td>
                  </tr>
                  <tr>
                    <td>伊草小学校トイレ改修工事設計業務委託</td>
                     <td>2,970千円</td>
                     <td>自宅療養セット配布事業等</td>
                     <td>2,385千円</td>
                  </tr>
                  <tr>
                    <td>避難場所衛生基準向上事業</td>
                     <td>10,414千円</td>
                     <td>学習指導員配置事業（小中で）</td>
                     <td>8,537千円</td>
                  </tr>
                  <tr>
                    <td>自動水洗化等工事（三カ所）</td>
                     <td>3,070千円</td>
                     <td>図書館照明LED工事</td>
                     <td>7,128千円</td>
                  </tr>
                  <tr>
                    <td>図書館２階閲覧席一式（備品）</td>
                     <td>5,984千円</td>
                     <td>町民体育館トイレ改修工事</td>
                     <td>20,240千円</td>
                  </tr>
                  <tr>
                    <td>（令和2年度繰越分　川島中学校トイレ改修工事）</td>
                     <td>40,260千円</td>
                     <td>（令和2年度繰越分　西中学校トイレ改修工事）</td>
                     <td>43,230千円</td>
                  </tr>
                </table>
            </div>
          </div>
            <%# table end %>
            <h5 class="report-section-title" style="margin-top: 24px;">監査意見書　指摘事項から</h5>
            <ul type="circle">
              <li>
                防災行政無線の個別受信機の在庫が2,784台（実費負担額１万８千円で計算すると約5,000万円）あり、
                より多くの家庭に配布できるように。
              </li>
              <li>
                ふるさと納税については、令和3年度は前年に比べ△9,008千円減少し、37,638千円であった。積極的なPRを。
              </li>
            </ul>
            <h6>《水道事業会計では》</h6>
              <ul type="circle">
                <li>
                  水道事業損益計算書において当年度純損失は998万６千円と、県水の受水割合を６割に下げ収支の改善を図っているが、
                  営業収益の減少と老朽化した施設の維持管理にかかる費用の増加で収支の均衡が保てない。
                </li>
              </ul>
          <div class="project-card">
            <h4 class="report-title" style="text-align: center;">一般質問で町政を問う：9月議会</h4>
          </div>
          <h6>1. 小中一貫教育校と学童保育について</h6>
            <p>
              「令和７年度つばさ南小学校とつばさ北小学校の統合による小中一貫教育校について」の説明会では、
                学童保育に関する質問が多いことから、町の考えを質しました。質疑から学童保育について、
                充分な協議がなされていないことが判明しました。
            </p>
             <table>
              <tr><td></td></tr>
              <tr>
                <td><%= render 'components/question' %></td>
                <td><strong>送迎の安全を考え、学童保育室を小中一貫校に整備できないか。</strong></td>
              </tr>
              <tr>
                <td><%= render 'components/answer' %></td>
                <td>整備は難しいと考えます。</td>
              </tr>
              <tr>
                <td><%= render 'components/question' %></td>
                <td><strong>低学年棟の整備に約３億円かかるとのことだが、整備計画に学童保育室は入らないのか。</strong></td>
              </tr>
                <tr>
                <td><%= render 'components/answer' %></td>
                <td>スペースの関係で学童保育室は設けられません。</td>
              </tr>
                <tr>
                <td><%= render 'components/question' %></td>
                <td><strong>つばさ南・北学童クラブを利用する児童（現在103名）の送迎はどのように行うのか。</strong></td>
              </tr>
                <tr>
                <td><%= render 'components/answer' %></td>
                <td>スクールバスを活用し既存の学童クラブへ送迎したいと考えています。</td>
              </tr>
              <tr>
                <tr>
                <td><%= render 'components/question' %></td>
                <td><strong>説明会の前に、学童クラブを所管する町と教育委員会は協議を行ったのか。</strong></td>
              </tr>
                <tr>
                <td><%= render 'components/answer' %></td>
                <td>スクールバスを活用し既存の学童クラブへ送迎したいと考えています。</td>
            </table>
            <div class="master-image-box">
                      <div class="classifier-box">
                        <div class="image-description">

                          <%# <img class="content-image" src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1665051833/development/tsubasa_rninvn.png') %>
                          <%# <img class="content-image" src="https://lh3.googleusercontent.com/oWyDYBscH9sB5eLefG-s_FaSLiXvrXnG2Z0oWvEe2Hryn_7GqECUSoPPY-i2S5qs_UHYCPwo-QAurjPGHcE6c4-u8Gh1LTa0ukJ85q6Qce112VVfTttoF04c8Bu2WnCjx8isyXYBZ0gA9Z12tSK1SlQ2kKTZ3JUbQVtucbxYfYrxhbjIjHzoFHS7GaZawpAaND3UhwxtBEhY9p4_DUuncmswn6vpSWIl_QnrhGszhWzhZWnscIw17LAGQFLrZG86GntTqk_QkuOdEQds0_Cex13CJKR9fjIdX4geH0KvjjUd2UsWkGW7gk3G4KQe93UeedU5AxovR3NQB2Uy33ctwTJBxqMaMPHxVXMcAu0NNvc2OsKrX8VZPcbFkRvq5BAew2wUmqlJI5TzH3KLiXC8ih8r_-ujJi-CmsjSPPnn-2KYNnClLNBkIHsGI-xKLU9uJeBJXbYu7H54b0ReAyDPGJVaYl9feU5vadM1SQQT8pHcFgZYqPz6eB74j00gigbDqyUfCvZeE22rkMmU_K5pQEEuuecNGdDja0B39I8TowATAw609z6z_tTQ0GAnQu5NCegqYURTsFrpr4CPPxMOI_P70dyMeNmBaWtCMavlDh_vJndVRIccipbUXt8srD_3qzt2Rw_acz3jTNU_nv7qK34xlmcBhIWRpcGmMb8caFShEwdQTw-mKxx8apATIh1saDg3PIJd13ok8rFVPhi84FgiFaa3apUU0QwpQw-H6K32HChgtRg64JWItdN8JKdpZey0E-swLlwdm-SWkERL4Nq21dllQxvMLdL5I77C-T_rLw2PdRsFtL2IoLB6_jQZGCpVeDGYsgI9yA4LOVKmdrtZTNdxkQBQ6ZdkHiQEvwycNscuWgimLYE4v_E5iLKm67oMBNorJm-wEAhT-0B9zK2zrbdZKAfNrvDuf6K-fzaAI6hXNRjjfzR-PEf9rCafEqWJSIM4Dl1uEWOh-cYJwDsM9i6WqNl3ZRVKr-I7iuN_v4ezhB3l7b5Y=w902-h675-no?authuser=0"> %>
                          <img class="content-image" src="https://lh3.googleusercontent.com/KhqZWM1w_tBJO5gvsHGuDQRDvz_o8JhKt22PhIAtiZdFs1D43Tc-iQG3uhboob625H92op5fx__tLamiW_34jUPiU6X0p2y-j9ZQ18HMQbAo1VnFnItJtkd94FjfGhu30va2H_ItH5im8Q2kE1yGa5ZCmUHNjZB7eL4Tz3JzWgMg1YA6mG-nIWFXW9GaVq4lCZv4zWD7i_L2dxGraVJ6faDRYryQnXMiiyDTgPx_1-bzb9lsV37PEQpFVYIHPTtbxLH6Xe3ZsQURRN8VTtC3MDRV5vfVmeVqr7wOAW-bBslJTj9Oj7Y4CN9FuLiJrulA0WZ5cqQyPJeDwcBJtuln1vmqYtRJQd5bK1tKSTbhb8noL3vTzM04Tod2PZtu9lHbrlpERpHnmVO9aKBa7CVJIlyzosb6zl68PdBYGxmGMHu-TrU1Lrd83byZZ94ih_7yQ0oqafQKJNTYLUpK99fLMvvLaxBdfu7rlzCeankOTcqnYdkHVH01o1ghaNZAJlbOZEHXJQfc3eQac71_fYPDLC9w9SJH1lvyg0afIWgGbU-WrhRlBUO7MLojWbQcduHWHMxIXfrGXS5ejBUsecKK0T8iVNdkdXr6MLJcv5BT3NJQ5SPRJgXoCMH-J7wpfBP7O1z7yE3fNqkskJ31a-qjlNS1t3GjB_18IWvVc2J3cNELx0ustlcRwRrfxfDXFhz-ndgY7jtjiHI0XQO2hZ0q3wq7oxLFOWuRBTby1z8IY3B6eiF9Nvl0MUTVRjZPBebOw56OvnZoVMqoElftWWqjIOsI6-DC_iXfd7VbWCxe5CMmpeVW5HD11kvdlqn3BbVbghB-AMIDDJ1AdjC_TOJDPeAdy8gRO6HXt18Ju4RSCOAey9EnbHGl-UgPZN0i9DGP62nye7e--60mISLa-0v5x_jXKp7NSFIFQR1yMLAp3WaONXvm0UTe_mb2h6SdmcygZF_PZ7rYptlcApQfdDINfdUuaDJCRsfkemC6TG30mgjOyzVz5djqWVzz=w902-h675-no?authuser=0">
                          <li>夏休み期間中は午前７時半から開所つばさ北学童クラブ写真提供</li>
                        </div>
                      </div>
            </div>

          <h6>2. 水害について</h6>
            <p>
              県西部などで７月 12日から局地的に降った記録的な大雨で、
              東松山市では最高警戒レベル５に相当する避難情報「緊急安全確保」が発令されました。
              町からは十分な情報提供もなく、大雨に対する備えが万全か、水害対策に関する町の考えを質しました。
            </p>
              <table>
              <h6 style="color: #9c28e5; font-size: 16px;">（１）記録的な大雨に対する備えについて</h5>
              <tr><td></td></tr>
              <tr>
                <td><%= render 'components/question' %></td>
                <td>
                  <strong>
                    ７月13日の集中豪雨で川島排水機場付近では管理用道路間際まで水位が上昇し隣接する工場への浸水も危惧され、
                    また浅間排水からの溢水で農業被害を心配する声も寄せられたが、川島排水機場の運転状況を町は把握しているのか。
                  </strong>
                </td>
              </tr>
              <tr>
                <td><%= render 'components/answer' %></td>
                <td>
                  川島排水機場は国の判断で運転を行い入間川の水位が一定以上になると運転を停止します。
                  国は安藤川を管理する県に運転状況を連絡し、町は県から報告を受けております。
                </td>
              </tr>
              <tr>
                <td><%= render 'components/question' %></td>
                <td><strong>この時の町内雨量は157ミリと後日報告を受けたが、内水氾濫の判断に、役場の雨量計データを即時に公表できないか。</strong></td>
              </tr>
                <tr>
                <td><%= render 'components/answer' %></td>
                <td>大雨の時には発表いたします。</td>
              </tr>
                <tr>
                <td><%= render 'components/question' %></td>
                <td><strong>
                    国の計画では浅間樋管は撤去とあるが川島排水機場下流部の排水機能が損なわれるため、
                    樋管を撤去しないよう国に要請できないか。
                    </strong>
                </td>
              </tr>
                <tr>
                <td><%= render 'components/answer' %></td>
                <td>今後、国との協議の中でお話いたします。</td>
              </tr>
            </table>

            <table>
             <h6 style="color: #9c28e5; font-size: 16px;">（２）高台避難場所整備計画について</h5>
            <tr><td></td></tr>
            <tr>
              <td><%= render 'components/question' %></td>
              <td><strong>高台避難場所整備計画の地域説明会はいつになるのか。</strong></td>
            </tr>
            <tr>
              <td><%= render 'components/answer' %></td>
              <td>
                高台からの雨水排水を心配する地権者もおり事業計画を見直し、規模も2haから2.4haに増えました。
                地権者の理解が得られれば、議員も含め地域説明会を行います。
              </td>
            </tr>
            <tr>
              <td><%= render 'components/question' %></td>
              <td><strong>低説明会に町長は、出席する考えはあるのか</strong></td>
            </tr>
              <tr>
              <td><%= render 'components/answer' %></td>
              <td>地元には行っておりません。いつか思いを地元に伝えなくてはいけないと思います。</td>
              </tr>
          </table>

          <div class="project-card">
            <h4 class="report-title" style="text-align: center;">議会トピックス：９月議会</h4>
          </div>

          <h6>2. 〇補正予算に原油価格・物価高騰対策事業費が計上されました。</h6>
          <p>
            国の総合緊急対策で地方創生臨時交付金に盛り込まれた「コロナ禍における原油価格・物価高騰対応分」を原資とする、
            町の支援事業が補正予算に計上されました。<br>
            ６月議会で、いち早く私が町に提言した農業者への原油高対策や学校給食費等の負担軽減措置等が具体的な支援策となりました。
          </p>

            <div class="project-card" style="background-color: #cacae8;">
              <h4 class="report-title" style="text-align: center; background-color: #8888dc; color: white;">《臨時交付金を活用した主な支援事業》</h4>
            </div>

            <ul style="margin-top: 24px;">
              <li>学校給食賄材料費の追加　3,992千円（小中学生対象、食材高騰分を支援）</li>
              <li>農業者支援事業補助金　9,260千円（農業者183人対象、収入に応じ３万円～ 10万円を補助）</li>
              <li>商工業者支援事業補助金　（商工業事業者を対象に３万円補助）15,060千円</li>
              <li>省エネ型施設園芸産地育成緊急対策事業　12,600千円（県費対応）</li>
            </ul>
            <p>（その他の補正予算）</p>
            <ul>
              <li style="color: #ba7272;"><strong>〇出丸公民館解体工事費の追加　924千円（入札不調による、当初予算は 14,564千円）</strong></li>
              <li style="color: #ba7272;"><strong>〇ごみ処理施設視察会業務委託料　3,532千円を計上</strong></li>
            </ul>
            <p>
              視察会業務委託を本会議で質したところ、
              「建設候補地の住民を対象に視察会を実施するため21回分のバス借上料を内訳とする業務委託である」との答弁がありました。
              議会終了後、議会全員協議会で「新ごみ処理施設建設候補地の住民に対する今後のスケジュール」の報告があり、
              <strong>三保谷宿、山ケ谷戸地区を対象とし、10月からごみ処理施設の視察会を行う予定である</strong>との説明がありました。
            </p>

            <div class="project-card" style="background-color: #f49494;">
               <h4 class="report-title" style="text-align: center; background-color: #f49494; color: white;">私の考え</h4>
            </div>
               <p style="margin-top:24px;">
                  町政は執行機関と議会の両輪の如くと言われ、住民（町民）の意を重視することが大切であると考えています。<br>
                  町執行部からの報告だけでは議員もその内容が全くわからず、町民の意をくむこともできません。<br>
                  より良い町政を実現するためにはこれらを改革する必要があります。<br>
                  例えば、２市１町の枠組みで行う新ごみ処理施設の建設予定地の選定結果（三保谷宿南）も、
                  議会前の８月26日の全協で町から報告があり、事前に議会との論議は全くありませんでした。
                  町民の意を良くくんで議会と両輪となり、より良い町政を進めていくべきだと考えています。
                </p>
            </div>


          </div>





        </div>
    </div>
  </div>
</div>


<div class="content-container2">
<div class="inner-card">
<div id="vol-4"></div>
<h2 class="vol-title">
  議会活動報告 Vol.4 発行:令和4年7月15日
</h2>
<div class="project-card">
  <div class="project-content">
  <h4 class="report-title" style="text-align: center;"> 6月議会（6月8日～6月15日）主な提出議案等</h4>
  <h5 class="report-section-title" style="margin-top: -8px;">川島町公民館設置及び管理条例の一部を改正する条例</h5>
  <p>出丸公民館と小見野公民館を解体するにあたり、設置場所を下八ツ林923番地コミュニティセンター内とする条例改正で、7月1日に施行されました。</p>
  <p>
  小学校規模適正化にいち早くご理解とご協力をいただいた出丸、
  小見野地区からこの条例改正により公民館がなくなります。
  廃校小学校を公民館として利活用するという地域との約束を守らない
  この改正案に反対いたしました。質疑の中で、町からは、
  旧小学校を消防法等の規定に適応した集会施設とするためには
  約1億円の経費（総計2億円）が掛かるとの答弁がありました。
  </p>

  <h5 class="report-section-title" style="margin-top: -8px;">川島町子育て支援医療費支給に関する条例の一部を改正する条例</h5>
    <p>子育て支援医療費の県内現物給付化が10月分医療費から実施されるため条例を改正するためのものです。</p>

  <h5 class="report-section-title" style="margin-top: -8px;">一般会計補正予算第1号　</h5>
    <p>歳入歳出に91,476千円を追加するもので国の新型コロナウィルス感染症対応分地方臨時交付金55,563千円は
      当初予算への財源振替、民生国庫補助金35,913千円は住民税非課税世帯等へ
      子育て世帯生活支援特別交付金（県上乗せ分265人×5万、新非課税世帯1,400世帯×3万）を
      支給するものです。
    </p>
  <h5 class="report-section-title" style="margin-top: -8px;">一般会計補正予算第2号</h5>
    <p>歳入歳出に3,020千円追加し予算総額7,607,496千円とするもので、
       新型コロナウィルス感染症対応分地方臨時交付金87,323千円を
       財政調整基金に繰り入れ、デジタル田園都市構想推進交付金2,013千円を
       DX推進事業等へ財源振替したものです
    </p>
  <h5 class="report-section-title" style="margin-top: -8px;">6月議会で町政を質す（発言通告と主な質疑）</h5>

  <h6>1. コロナ禍における原油価格・物価高騰等緊急対策について</h6>
    <p>令和4年4月26日に政府が公表した総合緊急対策では地方創生臨時交付金のうち
      「コロナ禍における原油価格・物価高騰対応分」により
      「地方公共団体が実施する、生活に困窮する方々の生活支援や、
       学校給食費等の負担軽減など子育て世帯の支援、また、
       農林水産業者や運輸・交通分野をはじめとする中小企業者等の支援といった
      取組をしっかりと後押しする。」としていることから、町の支援内容を質しました。
    </p>
  <table>
    <tr><td></td></tr>
    <tr>
      <td><%= render 'components/question' %></td>
      <td>学校給食の食材高騰に補助ができないか。</td>
    </tr>
    <tr>
      <td><%= render 'components/answer' %></td>
      <td>食材の値上には、国地方創生臨時交付金を活用し対応します。</td>
    </tr>
    <tr>
      <td><%= render 'components/question' %></td>
      <td>町の原油価格・物価高騰緊急対策として農業者や中小企業者に支援事業を行う考えは。</td>
    </tr>
      <tr>
      <td><%= render 'components/answer' %></td>
      <td>町内の商工事業者や農業者がどのような影響を受け支援が必要なのか実態を調査把握しています。支援事業（国交付金対応）実施に向け準備しております。</td>
    </tr>
      <tr>
      <td><%= render 'components/question' %></td>
      <td>臨時交付金を活用し水道料金（基本料）の減免を行う自治体もあるが町でも実施できないか。</td>
    </tr>
      <tr>
      <td><%= render 'components/answer' %></td>
      <td>少額の減免措置となることから、実施は考えていません。</td>
    </tr>
  </table>

  <h6>2. 東部地域のまちづくりと企業誘致について</h6>
    <p>2020年後（2041年度）を目標年次とする川島町都市計画マスタープランが
       本年3月に改定され、この指針に基づくまちづくりがスタートしたことから、
       東部地域のまちづくりと企業誘致について質しました。
    </p>
    <table>
      <tr><td></td></tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>都市計画マスタープランが改定されたが、東部地域に産業系12号産業系の追加指定ができないか。</td>
      </tr>
      <tr>
        <td><%= render 'components/answer' %></td>
        <td>町は平成１５年に産業系⒓号の区域指定を町東部２地域（約１２㏊）に行っており、進出企業は７社で、約９㏊が建築済みです。
        町の指定区域で建築総面積が８割を超えれば追加可能です。</td>
      </tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>市街化調整区域でも企業誘致を促進し地域経済の活性化や雇用の創出につなげていくことが必要と考えるが、優遇策を設けてさらに企業誘致ができないか。</td>
      </tr>
        <tr>
        <td><%= render 'components/answer' %></td>
        <td>７社の総従業員数は１９６名（内町内在住３５名）と雇用の創出につながっています。川島ＩＣもあり立地条件が良いことから、優遇制度を設けた企業誘致は考えておりません。
          </br> ※　東部地区の産業系12号指定地域
          </br> 表、山ケ谷戸地区　　　　 約5ha（約3.54haは契約済みです。）
          </br> 上・下大屋敷、西谷地区 　約7ha（約1.2haは契約済み。約3haは既存の工場があります。
        </td>
      </tr>
    </table>
    <div class="master-image-box">
        <div class="classifier-box">

          <div class="image-description">
            <li>写真　表、山ケ谷戸地区</li>
            <img class="content-image" src="https://lh3.googleusercontent.com/CLe_1e2TCFPtStQPm6Bvd_E5uxlCmq4iBfnSHdn60drL8BBrgmNTiB1QwaDwt3ZQ_5gaduQyuxFLuDQ8ideq1x02G8w75Ydi690a9POfI1qny5JHr_u_X_F6M7mQJqaXpyiBbN0s4oXURymDEL2K4Y91ZdCU40P5YBvkiCzmSbG539E5hXQXy8PxMJ4hALkMBj-giPYvXIGfaMfQww9crLC1ZM7Hi6Bi54QVXIXfhBaMDbxQz9RuS2DHyrLVc0o2BAsfupOjRClFERopU0qt_3cLtLqeskDUanhi7BY7uEOUVIpzjUb8id1UCSqu_o9u9Htx8MFdhyXexGLoZR6Lzl1Vdhfw0DmlaCkOgOjX5s8LkEIgXiXAt9qJMjPPBKyyWE-cR1VHkNdjIia9sCS7nEpNd6n7beM5TPu8CkKqSejWNTCfc-rPLJEUrTk6mu4pkwwdWP5q78MgjjmLGGXw3_kG3veE8SetA6iKpPQ2dGa7LfJCoBkrNeDVde0vzC5-qpyNZESUiqSZuXqZunMkuqyOMdmmiV_YXO2I4JPrtkyc7HSIT75k-FF0wEulbk_xGUfQXdg_EHsVbFtCLhHzf3JMUIPrT3Mc2oSF2hGpTcGORMOewYImvXZjzA-xXmh9FEd2a3Ecywkd8b9jYcFeJeqbptm1CtKNblAqL_8e_Fz-iQ9st4rnHeAoNSPExp0g7sFGamLaI-6pFNIybBb9KhELhV6LqD4ZGd_dlyRk3uejUR4jLKz09wPKWmOiI3OBRT26SibZBeIRGBIU0YLLb2hNVZl3hsmQcbPFwvZ1q8vEmsA8OWSHwbQgUy3xKqHDyxv9KaeK4g9E7RknxfS9VFds8_ub9j-HjHivFYTqr3gNGR5uY8ehISgCEQNaLOLXXg7Ngv45QnpAwgb5jN7E5QucNKQCi4L-AkjV7LwdNH9ropgwqUxECbYJmXvE7YeS1qVGhpTlmY0VtoE4H9JLPe--eEaIoSMvtdGCVNRaJ7sp6_uP7h35-l6A=w229-h172-no?authuser=0">
            <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939997/development/omote_yamagayato_wxk9kr.png') %>
          </div>

          <div class="image-description">
            <li>上・下大屋敷、西谷地区産業系工場</li>
            <img class="content-image" src="https://lh3.googleusercontent.com/PXKEkBfib1nLEuihsghf6XCm_WnDIKF1mWt5Hlle_3RTquNQwRXK3PI_YXNMphgr29m8R6IX6dTbG9bDKw4wZ067KzutJzdPBfzmJZ1y1E1ZZANE-vlUN0A65KrVifL8O9gmeF3tCULoOQiqgDemy8Tej6rbHwWGghSxWYR315_tYkKXnjcilkx_jwEF_M1OukMnlhesDah_EhAU_viAyhdDBh43dCRNa878aKquyZYiBjsH_5COVKApTAsOW42xmNtuit2X3NB1FARNCmlagLsAEX5Y2TjdenpO9yO5nQArrlzWsYY_5jqE0iCXBNMYFSXAM0WrPSPz59_3WF0hsTw1HrZmr6ND8bjyBSXHnlk7kmPOem4xyPQXUblctz0l0_17e4N1KvXG6335VkmCiyIsVbjZUzSjXjoYzO9gGRgy9XplVx6zAQ9NNkSFQnMc77og0L_BRq5ZVfmrPYtod3pRojDimr9oWXys57rryPtuw69qbQQnq_I7qjwns_VM-VJEcu1V981f3eXan4pC5JpD2vlqqITxsUyfjKGuOyF85f6ASMHJkYdlY42zUhkmb6cquioMfQAJu7ITXPV5VwfRdxe6RgK1xhIpLOt1FsEXYn1UqD5RWyCO0RLHQP9X7fl6UPiLyU-mt8syd7Dzp6mSEJh7WDBUUEQ_-VkGS1k9WV8G6VWdxTLlzrFIJhGbMdy7qCiARRopUDsNl-rJ6uHPL1W-8ShWzcbqKaShQu_uPpcEV3dJEhK3DVfNWDGHqKZhqhItQ5lL7xrdIXZEHgSrIuY9r6k4JdH_fu3Efu6GXvqGtjRG54tXRIdJpe3VnRvHGFwMuVP3Gho5GigmnOkpwRG0hIU3CTnPDngmg-kjHp-ClNx0shSa8NV98L5g3O2uG7mdotTz6M2dNPDL2f8tHMpwm127g22ztPRCa6hMJIQQcOc9dFZ8w98E_BDRy-6R_Tp2uFKDX4BEma6Yz4qnEfHzLDneIgk0nh0WpQ4yaTth9NPzZBim=w235-h177-no?authuser=0">
            <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939997/development/ue_shimooyashiki_hmyu6b.png') %>
          </div>

        </div>
      </div>

  <h6>3. 小中一貫教育校の開校と小学校施設の利活用について</h6>
    <p>町広報6月号では「令和７年度つばさ南小・つばさ北小の統合による
      小中一貫教育校の開校を目指し」、川島町公共施設個別施設計画で
      「令和17年度を目途に町内すべての小中学校を同一施設に集約し、
      小中一貫教育校の整備を目指す」とあることから、
      公共施設の利活用も含め教育方針を質しました。
    </p>
    <table>
      <tr><td></td></tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>町は令和７年度に小中一貫教育校の開校を目指すと公表したが、
            廃校２小学校の利活用が未定のまま、さらに３年後には２校の廃校が
            予見され、今後どのように利活用を図っていくのか。
        </td>
      </tr>
      <tr>
        <td><%= render 'components/answer' %></td>
        <td>当初民間活力を導入した施設を目指していましたが、
            用途変更にハードルがあり、国に規制緩和を要望しています。
            引き続き、多方面からアイディアをいただき方向性を
            定めてまいります。
        </td>
      </tr>
      <tr>
        <td><%= render 'components/question' %></td>
        <td>小中一貫教育校を義務教育学校とする考えは。</td>
      </tr>
        <tr>
        <td><%= render 'components/answer' %></td>
        <td>
            町の公共施設個別施設計画では令和17年に町内すべての
            小中学校を同一施設に集約し、小中一貫教育校の整備を目指す
            としていることから、その段階で検討します。
        </td>
      </tr>
    </table>
      <h6>7月12日　県西部を襲った大雨で　町内雨量は157.5ミリ</h6>
        <p>
          川島排水機場は13日午前0時30分より稼働（11時まで運転）しましたが、
          安藤川と飯島排水が合流する蕪橋周辺や排水機場に近い釘無地内では管理道路近くまで
          水位が上昇しました。</p>

      <div class="master-image-box">
        <div class="classifier-box">

          <div class="image-description">
            <li>7月13日(水)午前9時頃撮影</li>
            <img class="content-image" src="https://lh3.googleusercontent.com/M2PZTUgeE6ViZS6w8VpaUYZt3Ca16h1cpbBkLMkxL7JSoBkd5hOy334j7SsbRhEWl6bnHxRYrQ41-AABY0hQVNASxnhD3qA14JXlbDhpl6bWEShCnksTy8lRXnvPXb5IJZ4d_P9_Bq9VGD-Qwe0pc__9Mcx1C0EajjY_TR9l1s5O3_TBmtOGiQ_w4tq8lEFFS31Ja3EwCkKE82I0Wl0SyC4leQtGZhv2ZyAoK-tXSufpmhSJ2bCzwe82-imtwRM0dGfhVZR6zUXUCThdWKD46PmuPXY36e2cFKeJEjXborzdDS2J8To1OzqPiJMmu8CPQQ-d6_gdZtYhoMEG4twacNdamKIZbuAaSPny1gAqegqFHz4Cry76GFzXreVB_9txDs1shJwG86WfP4bkUfU91tsBCyXvTZ24UMO1lwUDSO7mdmiI6bEhu18OBgKw-XfWu4NW0mwhLRz6O-ToR2xVgRCMBh5Po3_zt_YBtgWk1pE2Lx8k96xz0CEFIhy5FTGWIvMLWVEgMCW-dGwxMvA1UFODQ7La7HRVx4Q1HPFq7Ha5XuHsprtN7pHJMQQ5014L01oel0NSIecY9nBVKhxaDKvK7BMdODt_yH7C3gmDYdhJqK8NAF_d8aPCDf6rgqHtoE8I6f_9OuD_HqwPzofOkO2kK7X1ostu3hgu6g6x0EOtK8Ym0kk57cZzSnFCQRgoFlLP2grxoUjCcnfb3HXqQlN_naSoyjORSs6DQsjJZXzuOSsC07D0c311EbINmEgWwedC4RGG9WT-rk3lTdddWXD5PduuihFiHw21GWxBvPVovShPrz2sPgu_uaQ6UzG2yxz8U_k-MKvKvREriOl-r6h6EZE1mDZvdBEFBWRqbh3Mdo9jj2pcqfhsRFMc8mDuyi_0PrsP_XPd8qrdPWMHkOXHuwbKaF9wzw2CP4h8Q7eLA0DLdofNT_lw-4vJlRH5GMewuwDFWsPn0Nq8WjIpIk5RE7_wSptHQUogFbykJ41kBtcTgfdrj6Rq=w2310-h1732-no?authuser=0">
            <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939998/development/haisui_right_pvxsue.jpg') %>
          </div>

          <div class="image-description">
            <li>7月13日(水)午前9時頃撮影</li>
            <img class="content-image" src="https://lh3.googleusercontent.com/EmjDJd_ZMjXtRZfygNEN6bdIfej1CljkuboFEMzzi1StjvSOLLkNYf0XyE2bpnFh3pMbizprGoDPRTVR8K7h_zvAGblxhWVRRw3ONzTxZZXNVEgXggLwJzRnVozxTqcLFC1bk3Ua9Oqy4Sm6Qwa_FwSENxtsSFBdz0tdjAG4BXGfeu7o5tudw62ieritdLLy1A1351P9OUxKckVrz8j814068jFXQD3SWThzYFjCHZsTfkoHTV8BnIvrhAzG5eI67l3f5MmUa-ZQITYswbCt_hwFvXVYxk1jMWl90Sj5aZGfTPhBkniNIvqSdtoMZXvpCLq0eYJW-Z9bFkYbYu4bHko9ak0o5jNV3uhzg21TWd-lgl4aj3kXsjNKMMbxQp-VbkBxyWmmKVNidPx0dHYOleTyKWh0msZ_HyjMGUiPwU17f04Sd9ImoOfeZeIXzqPsUtrOvkD0lXUksSsqm9CTuFve1YSgdxops6O5EPrNm68o5A_PahiM4rUxUMTkVp9agcLrVutuXt3DBppZf1uAmN4RSeteRNB1ioCpcPvg_ZfyNqgXaVav2uJVaW_Mkx-KdE7eb8arKEX4j7bfq_1xCNjJ_G2g-NGO0SyHfa-RyWl17nypMZGPfHlNSCvcfJx33qm0c8XWmOkNj3lUv-3YXZ_6kIG9eYta48SrYsH6x77D830Bv_Np17LDnaG5Lf3mPUixGjlMAydFoYG9jTdFClhEx1eNUF_AzIY0fAZxGccsII-XUAxlayfpm8iCk89QeoJP2xxtQT16MXozeP8S8mkn0sg6mdg5SXp5m1oROnyHMxR8z52JI-ZCqPS15AisuyuhCj4pjKbaxhCoWoxkHwW0nYo_5BG3ydIz4cZiXJtFMlYzr2lUcKz7beZWNAEP3b3pJ-urMsod-_IHQTrglwRi1d9QVl3N7RHUg_FE2hEczDo4NXgLR7epKCwspONYjGeQe0GOYWpfTCvRVR-u0kT1Hv2g8KMgyDJ4Xc9wewDg0VW0mVRf04WY=w2310-h1732-no?authuser=0">
            <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1659939998/development/haisui_left_kvgir7.jpg') %>
          </div>

        </div>
      </div>

      <h6>町高台避難場所整備計画は</h6>
      <p>
         2回目となる地権者説明会が4月27日に開催されました。
         町からは対象区域が約2㏊、一時避難場所となる天端面積約5,900㎡とする
         整備計画の概要が示されました。地権者からは、現況の堤防（16.5ｍ）より
         2ｍ程高くなる高台整備に、近隣住宅への雨水の流入や造成に伴う道水路の
         改良等周辺環境に関する意見が多く出されました。
         今年度、測量等も行うことから、町は改めて整備計画を提示することに
         なりました。今後、地域説明会も開催される予定となっております。
      </p>
      <h6>議会予定</h6>
        <p>9月定例議会　9月1日～15日予定</p>
      <h6>現在取り組んでいる政治活動</h6>
      <ul>
        <li>廃校を有効利活用した地域の活性化</li>
        <li>
            国入間川樋管改修事業（横塚樋管改修）に合わせた排水機場整備（
            台風19号の内水氾濫に鑑み、横塚樋管に排水機場を設置していただきたい旨、
            要望書が出丸地区から提出されています。）
        </li>
        <li>横塚川の改修促進（県）と上流部（赤城用水路）の整備</li>
        <li>樋詰橋から出丸橋に抜ける道路環境の整備と永久橋化を要請</li>
        <li>通学路の交通安全施策の充実（高木前道路改良を要望）</li>
      </ul>

      <p>
         地域から要望のあった出丸本地内（谷島農機裏）の町道改良は測量に
         向けた地元説明会が6月29日に行われました。引き続き、生活道路の改良や
         排水路の整備に取り組んでいきます。
      </p>

</div>
</div>
</div>
</div>

<%# Main Container %>
<div class="content-container2">



        <div class="inner-card">
          <div id="vol-3"></div>
          <h2 class="vol-title">議会活動報告 Vol.3 発行:令和4年3月</h2>
          <div class="project-card">
          <div class="project-content">
          <p> 令和4年3月21日をもって埼玉県に対するまん延防止等重点措置は解除されましたが、
          長引くコロナ禍で地域のコミュニティ活動も停滞し、地域経済も深刻な影響を受けております。
          令和4年度は新しい生活様式を踏まえた地域経済の活性化対応はもとより、感染拡大の影響を受けた農家や中小企業、
          商工業事業者の皆様への支援がさらに必要なものと考えています。
          令和4年度町当初予算にも国の地方創生臨時交付金を活用したコロナ対策事業が計上されていますので、
          <bdi>ポストコロナに向けた町民の皆様への支援策や社会経済活動の再開に向けた
          施策提言を引き続き行って参ります。</bdi>  コロナ禍の中での議員活動となりましたが、令和3年度の活動状況を取りまとめましたのでご覧い ただければ幸いです。なお、現在3回目のワクチンの接種事業が進められていますが、ご協力をいた だいております医療従事者の皆様に改めて感謝を申し上げます。</p>



          <p style="margin-top: -8px; margin-bottom: 46px;">　　3月定例議会には令和4年度当初予算案や条例改正等の議案が上程され、3月16日審議の結果、全議案とも可決承認されました。  一般会計の予算総額は75億1,300万円(前年比8.3%増)で、第6次総合振興計画戦略目標にそった予 算が計上され、新型コロナ対策費用としては、ワクチン接種事業費6,074万円や学童保育トイレ改修費 498万円等が計上されました。  条例改正では、川島町廃校施設の開放及び施設の管理に関する条例が改正され、旧小学校の利活用を検証するための期間がさらに2か年延長されました。また、川島町水防団条例も改正され、水害警 戒出動の費用弁償が千円引き上げられ4,000円とになります。</p>

          <div class="sub-yosan">
            <table>
                <tr>
                  <th>【災害関連予算では】</th>
                  <th>【教育関連予算では】</th>
                </tr>
                <tr>
                  <td>◎ 高台避難場所整備事業 8,580万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(設計及び調査費として)</td>
                  <td>◎ 学校統合推進事業 397万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(小中一貫教育推進事業の一環として)</td>
                </tr>
                <tr>
                  <td>◎ 防災備品整備事業 671万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(避難所備蓄品等)</td>
                  <td>◎ かわじま郷土資料館(仮称)開設準備事業 178万円 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(文化財の保存・活用、歴史文化を学ぶ場として)</td>
                </tr>
              </table>
          </div>
          </div>
          </div>

            <div class="project-card">
                  <h4 class="report-title" style="text-align: center;"> 国や県の水害対策事業も行われています</h4>


                <div class="master-image-box">
                      <div class="test-title">
                        <h5 class="sub-section-title">入間川流域緊急治水対策事業</h5>
                      </div>

                    <div class="classifier-box">

                      <div class="image-description">
                        <li>樹木伐採箇所(桜堤周辺) </li>
                        <img class="content-image" src="https://lh3.googleusercontent.com/EXBLj5ozXFg69dKRWNKL9vHxLcY1UQJeZNN_HAgjZmxT1l2OfG_ceaRw_crz8SBxY7X5W8JGZBl-mpgw51Y3t6di_30iepNApxo34Uq3MTLA6OhOe9g4QDD19kv1KTHewr-cUJf9IDpvMy25bNUzEWhjQ4XN9CJK0iCn5gLbARyNB3nwnGDttTbl-JQ64_LB2xB_Wemi_DZoYWBEPVt7ArJ9y9w9kgjtf6joNxYCQvtsiXvQLXqJdTcc2w6mZ7dfFPY1p8uNbcSl4A2YteX3IShlpMuhvyc28_4AnjFjOP5omx2QH7d3UBbfBMC-ViNH6bnh7gHyPqzu8_C6hvh7hrVb-i9eVyI3aD1nju-kb3AIID-D5hu2ANwMPbw8gPehq3sIhcVO7qYupzjyjy-V-PVSrzELr4jHLL9BU8W68syv_mmulihfLxhjmrQAkOEJnMkeu_s2CcPcIdjPDjkv68LkunooMK8JvDgjXE2lkInWQhLhobcYOHupNlNfwDLCk0JaXpe1DPMHWiHQi_sAojdQefYH3MrrHAeen9tnURwD86FNkBj1CtKHmOrP6pjSbjNqPwhEnryoqCLLu_cDYUoxyysVxXgAiekvBHDTX_zHHkwf6AShhn0wbDUK8GZ1VZsxi2M_V9Ze0p4vEdcj-MAkmAck7TFDJhmTjkJMxm-_AHzesqP14902P3-iTxrm6ICitZ3d3hOHfTw-4EaMVEeJTLbX-ZwBl-FomEKdc0LG2LtBdLNE5-0TFn-43cFVm5UNce0njjghPKMPgj1ml_CTJGSykvPez2vHbqX9qCa6L-Q9BYK6houUdY6mcZH6mLaWBymJ84HWAPv2rro4b89V91SBGlJ__ou1OfG8mgBtteccwYbVcU8Y6Gccv6PS9AfY-hfrvpTOcrGX3scd8zoeM35EzS1Qb4ZOScWDA42SUxAi2B-lNWlZ9QkYBCmwq4q1bcAjfXSXgOl8Z3w34M7Al39IjcdS2wwC_R9V7yzf1gEojLc0N3SW=w742-h568-no?authuser=0">
                        <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653915554/development/kojichu_3_ktqffm.png') %>
                      </div>

                      <div class="image-description">
                        <li> 河道掘削の状況(釘無橋下流) </li>
                        <img class="content-image" src="https://lh3.googleusercontent.com/pzSqBmExX1YeLRP9RpM8DGkhwLqaqEGCarER2RLm-f-HhxAh9YmCPL7T3P3vnFtgE0qtArXUdQunwbyRI2mlRZnsOMCtjYqV31v4pEofR-cXE7_DwSJEm86_MqfrXzXsFch4diopWS7BqpZ3P9li434N9q-Hzi04SVgGJZBUJ2NcGh5CL0cBo4_H7WuMwmflPE-gnb-HmmvWOJ1z0jV8wfoYIZQDkmAF_x6GI9-EpKY1MwGgSzcYsJrE63zJsUgLsSTNw0clMO1uupc6UUKlyCw2lgk9drOp-zW8uMwcInvYJG6mswKh1R_qZO1PcK9hfSfZjOWDeBwNhXAXiRgKtNsKg2xcwy16wRS-8Uer_jMfCLwX_Lg52wgahHENtC9rjP3JuTFpnQBUUk45uu_8ECr9-HLIXT9g9GQyjLYQL2qH2ilhXrXCPfqFv34evP6ItR_urf_GqGAp4sOlmGY934r7mhGEjFGPqUT3rVkzdY720jsc5nsTP4Q07jt_PvnUk0rOgVdN_hkqs_Psn2H_1Qzof85r7_mKohX_h9T75y6COy_qhpsk6JwR4DYKYGkQpbhVopxcvtzWQDaYu2pvRPMCsktmp8rnptLb8pGjYi6Vfyl9yu4Hjr0Q4DmJLrevz1bGmwQsYgMBiF3c0I38cV9NeiVrlmdOfshmpazCgBnej3zjyekF7jJIUdCwMmgnjYylseJN72X0Nu-nUtFzKJwz4OQDgSIylcB1uFmH6tXl10n3RV7Ar8G6g--hikvsINB3RCH5IhMh2UqQvVod27-EW3jGB0VwxKn8smrOGNrp-ghHne6_hZXNK0lbzLrUdAx9QksotBljwEwCZXt2T6EoVgeXNFRoM_tqIlRe_USClddPhY5SWF8E-C95bF45gjzzXE5gCStVMKae-k8Wl-sRpSTydDRggsz6zpQpql01e1A8ObpE2spfvDGiBhRXa3OSlTcrcOPQ0q9uU52hv5YLJNdYs1_TtUugZNLmZEjBhKN5R4bCWSJm=w286-h219-no?authuser=0">
                        <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653916306/development/kojichu_2_toouf1.png') %>
                      </div>

                    </div>


              <div class="master-image-box">
                  <div class="test-title">
                    <h5 class="sub-section-title">市ノ川流域堤防を越流から守るための工事</h5>
                  </div>

                  <div class="classifier-box">
                    <div class="image-description">
                      <li>天端舗装工事(鳥羽井沼周辺)</li>
                      <img class="content-image" src="https://lh3.googleusercontent.com/OCS9d0uKd55tyEA2nr6b0RWY98lu7CrAJrXo07Q33ntBP846rFkik54t0qCtWmtryYUTKR5dyBHCf6iIoxWyCCIl47ljq7tT65oX1DAmbBBMZKr180rbEaUxSOIY9czAb1ZZnejHm0d8_0bZBheI8411uwLKKSFSflwYrvXFZDjFsYMaH2FtT__W8STbzyjzE0WbTdPVZNpHDxpR_lYGU7Yb3ql7E5aBJCe8f6p4f8Ex67iHUWzrUu6yLVIJR1401CfZ05NutJ4ef12LpMdbtXUiWOwCp3GOpOdCFseRC2y4r5K1jG8OqY2uEuZpnVdanSd1GuPTotz1f7ILDMEnmhqvgJUAovGVUF3K1-J_685jjitTzUhHOP1NoThc-uZpT7vtRF1LCgGDck9X-NRjsc9mLAs7QYOOrF5-P2Y5tAgzK9jPAIs13EHieRtgGLicfs-4NalUCmRJuZLW6blODlwu6rCbadbzr6WzOvkjEAtXJu-_AWPo4Nhgtap7oZYonbEPW6st8q3NeRB6jUu78jscREnApO2is0xanwwpfS_RjAK2a3z40_ticd5wyEJ8dkZrjEWq5mCW8_ANI6MuuwvrkDvtNp1oO9Pnq9oH-ljMUgxgTFGbiwdEI6b_aGyHD4lePfQqEZiUxU13XivP6YqhZLIqw2fliRIqO816Jyjm5ObU0h1SpsjRrIoqL8RmEYTPOWqLzIhYRLZvr0-kIL6ICDqVSCd2xaKqUOARp7HvgJWVPeMVl70HFaqBzDgKBmyTQeKnrvWpR8cmzkWfAm62oWvcCMQtOPoHrR12654ssERrF05WCoh3gBJ19V0JeWqWVraZMz2ryyMa5e990pkRfp7Zcl_qus92RX8QBYjVKbQkpf_8krjzgYH1vV9qW4XouUQ5RXpl5ZwJhMujrAQ5QOsUFy6t-R-Isz8ZNdF0iucbHMRteG6dMTEvIMGVMdFJ9L5elO8CSht0wOlQ7TtSxtgWVBEbQkyRpK7fKykEkmFpByEYsf3d=w1056-h568-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1653915554/development/kojichu_yfb0xl.png') %>
                    </div>
                  </div>
              </div>
          </div>


  <%# <div class="project-card"> %>
            <h4 class="report-title"> 一般質問で町政を問う</h4>
              <div class="project-content">
                <h5 class="report-section-title" style="margin-top: -8px;">令和 3 年 6 月定例議会では</h5>

                <p>水道法の改正により水道施設台帳の整備が義務化されたことから、
                水道事業の経営状況等を質しました。また、子供たちが安全で安心して学校教育に臨めるよう
                「災害時の学校給食実施体制」や「通学路 の安全確保」についての質疑を行いました。</p>

                <%# Section Start %>
                  <h6>水道施設台帳の整備について</h6>

                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="https://lh3.googleusercontent.com/BaWZlEaNW0LUm949eAPDkIPWjLaNxg2G42fDgWJY6skHg1PqX-QEetjj4Rv9q4sZNbjM_M5OvKdIeD2YXzOuDxpYRdK3M7Tu87UkCkPmzfx9fmnLWg5gyNl2uxLW179aWx-QY4uP-HyLRZUBLFzwQs_vT1lCl3L7zGEqrmsVu1sId00qFyTfvnjkKaxH9kAZezHKHXQqwfK6NB3s8w7zIBu1X22hCz_eZQXgM0hRqzy1nwMVpmsesPITtbvQJREMOG8B5CU1sOOGrIn8jrw1p8QK-VD9BwKDBsXuRB27WWpcywEe0hpH77ZzjqDFSco3YR3rXePqaZd4zrJ6B7XY6EZnIIl3e5XKoRiKEH4WjRrY4hA_tHt80YgLpoKDWd4v0evhcs-HqCAFfmUad5F1_DRMD49xaOAv90kgzEstkUFriXCMZm3oMKu3O2r1xWgoWReT0SGBpkP0nGKFRXgO0f_qPi8iCYssVHp8RHXo9Xjn4xJNE5c27s_AQ3-lKkosZv5M8eJryRtWFdczMdTQNH4D_7F3hbqNMPQskLuobTnh75U3CkCLxocsYsPZcySDuzjTa3Be2MirInz90Mth9whvowY5LHjLn8krlqFEu9gIU16tbfRxfv-Lib8WKPk7FPA8DjIZ8qVQqCNztm6tXiBDfObpYCfTEl7qHF-pn87LsrkO6YPGWA-sE-JD2TNE0RyLV3w2Y2qfokRDLHg1-oRahLwyIK0X8d4KhV4kEHMfhbAt9RZ3jnx68mY4dLHd66Z0-_udTDBhJ8FgXShbEeSCPdNafr_Xpm7Vg7T3XwL1eVsaN--juclFp1PYeheFpt4et77kL0P0u8r-NDtUTiFTUbZsy16dr_tlwbS-XfuZTkszU7mOkdqk4WXV8MGr9mCUiU6we-edcBKwh4T8JrUbO0T4Q5FFa0wU-exyvhE-xfSnkyukQYIOEWdhS5GGShXTufboUsqZvUDiWgIy2t5dVD3GzCsPXs3HTTImsYoR4NwdOu6NlfI6=w524-h388-no?authuser=0">
                        <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/suido_koji_sei5gi.png') %>
                        <li>老朽管布設替工事の様子</li>
                      </div>
                    </div>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水道事業の経営状況は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>県水の供給割合を9割から6割に下げ(井水が4割に)経営の合理化に努めています。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>監査意見書にも水道施設のダウンサイジング(規模縮少)が必要とあるが。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>給水人口の減少もあり、料金改定も視野に、施設のダウンサイジング(規模縮少)に取り組みます。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>老朽管の破損事故も多く、改正水道法では水道施設台帳の整備が義務付けられたが町の対応は。また、耐用年数を超えた老朽管の現状は。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>今年度中に施設台帳を整備します。更新が必要な老朽管は約13キロ残っており、総延長の8%に当たります。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                  <%# Section Start %>
                  <h6>災害時における学校給食実施体制について</h6>
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="https://lh3.googleusercontent.com/liu9USqTYRAYqyKZT4pDb2ugfOYI4Qfcxzdn25bqS6LnUv6pyj2MG7QEvrxUz1bFfuShKCktTU1YjfGpZGWmWyKAA0mWQ2FxHYmJfEJd5ECFbCYO6-iWKP2LUTbPURtk9TLS9Dz9VviRIcRtcxurPxglOkhNouebaHrvShBDRoeWIz8htnyRiqyWdPLWNgLss6R8sTf3MFX3QdBGfHeSJ_kTKIvOIcf83cUMtvqMN9CIwm1KOhSwEVPGndYd6tmTdQVAiZwx1ZQaO59w4UtiiYlGZ7llaDVK6euXZ50f_RpQughIVcxST3CJxyfMSqnYfw61Tpd840sn03cFX0R6P25RHpBX-j2zmU_sHAfIpMCqra5MTac9PfD_Qtlk-lDuizXJDmCZwcSQwIv6ZAO-NI-Chh_lhK8677-tWZI6nVUw9F_MFPyaz7wzysvkKKvpNVN4MZ_iULZQTBSpCdCXikuOMjrIXDbFyfQtj8dGH7tE30NJsdK4ccpIFGvMQhdotHWXF6Ot9v8-ku3_NEtaxCRjnKlhdsJh1Cy5rXyTocMuiDJIsvtL0tkboHAmkx67_Q7jIkDsomkD743PwqGh05RSEUdakv4kX7lXr_AMMp_hbPOkIAKW-nQ83KD107-vApptjUEMiaTAncoJHfUykwHfdB53Wlw2dzn2q1f62jrg5hxhavAQQ1cDw6PVoDuma7g1Q7U_ur01zYmThbDpCezOTe0jcB9OIJz-dDwy6eZMARjc64DpkpJV1kuw8T-9iNisit3nCQD-1boE9cFYtCqNUnZyOxSdGJVsIHWI6YZgFq2QS31qHuHpdieUZUbidC8g-5hWXR_X7P288N_JAUlMghSBOlRmQsLgQHvgrX_6fLvfFRWeE7h2_ToNydkk8iSh1OnInfAOdTKFPebGhUT3g8NtsaeTt2ErhUWMc6HcPGs03feJf04ARY4A17IXwOew7X-kLDdigWAPLfNcSc-T1SyTFVF6mnEW8f1GceNyo4b5g0luFIc-=w566-h388-no?authuser=0">
                        <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305825/development/kyushoku_q95djr.png') %>
                        <li>災害時代替給食の備えを検討している給食センター</li>
                        </div>
                      </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>災害などの不測事態に備え、学校給食施設の防災対策や学校給食再開までのバックアップ体制構築が必要と考えるが。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>代替給食となる非常食の備蓄や近隣市町村との連携、民間企業への給食提供の協力要請等の対応をしてまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>給食費特別会計が一般会計に組入れ られたこともあり、災害を受けた他市町の事例を参考に、代替給食となる食材を非常食として購入できないか。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>給食再開までの非常食ということで あれば備えられないことはないと考えます。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>老朽管の破損事故も多く、改正水道法では水道施設台帳の整備が義務付けられたが町の対応は。また、耐用年数を超えた老朽管の現状は。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>今年度中に施設台帳を整備します。更新が必要な老朽管は約13キロ残っており、総延長の8%に当たります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                <h5 class="report-section-title">令和 3 年 9 月定例議会では</h5>
                <p>千葉県八街市で下校中の小学生の列にトラックが衝突し、5人が死傷する大変痛ましい事故が6月に発生したことから通学路の安全対策について質しました。
                また、「水害時の避難に関する実態調査」や「郷 土資料館の整備方針」等について質疑を行いました。</p>


                  <%# Section Start %>
                  <h6>通学児童の交通安全対策について</h6>
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="https://lh3.googleusercontent.com/IxlC7Bj129giFjHpmcYR40RH1tSLP1lsYS_meSwwB5acYcYBe0DG2w7s73qYgKM9DfiouOUPpzH68Xdxme1lrkmbp12u5l7w0E--INGDdydb5kGXBA7ZnV2hisP01ey-BbiwnwFiHmKds0GTC3EkTz9wVpD19pigQzx5722l7zjVf5PAeX61vZqcZrHQe2ESHDGdlkwDubue649wRNf6-aUkYAc-gXEI3qHd0Ss4mRH90TGojh_oc6_j__Qmcw-Wxgn1WADCY3h77rYUBzlenlI9mXmUq5vUnAB1I4UbW80AIYrWpqMsjKhxYWO9fMkdAeO3LyLo4-EXgLe69LVCtrm7GvWckG1I5XmCg7xX5zOQ-IFAe-nVWz6ZnbpBSqS205i_BOtN_ny405ochMGOp5RtMDyBxGHNXmEgS5hAW-_IkaUlN-SrJrYZEPA-iTTKX4wwHbRfWaHfVVUg-A01h-iQDzP2VpgYyMWGc6IH1Bd0ooZRJF63wyyiItNpLIiGtIDxZVAeP50pNscVGWP7YX3Msxfek6pHpKlYY7ssUyBpS_TLEwI6ad950pXuwVZtepo22I6GCfHm0U1Jdc5DdyDk6hsVUzmrQLIE2d8WZ20JHE0YQMCo-O8K1_2DtEOuIyG7kQok4LhyJkbO4pmV-VxHkEUaLZrnOn10HUFrqaTZWutPEGnV9eB33m2x4p1_6q8NsDqjDZKwlQ4fhR-ITGma4B6-3HCr20SNHE2SPZwWkt08p1OnE-ikW8HjjeLNNy8spTpHgxK_1cW3-Vi-5t7hUMNJ_OI65-bokgPGNRYVVfcRJEEusSJUoXPpIvVKe_phlmltW-1xGUf_836fZZhREFufsjR8bOXplqxeKFvxP7E80ePz6WO9WLLlsHRCpvrW0jYCqm-B5oL5QZ7x5NlowaBiwLM66ArbLtwt_LqtOAJCwZNEHHUKWrvENUoME3jNzBFbFnwd-EQWdIGnLFVMKXlCo1sgg_wknKQN0QcfbTYHQcnavNEe=w522-h358-no?authuser=0">
                        <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305826/development/schoolbus_u3qzfu.png') %>
                      <li>かわじまスクールバス<br>(町立つばさ南・北小学校では平成30年開校から本格運行)</li>
                      </div>
                    </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>小中学校から報告のあった危険個所(61) を確認し状況改善を目指します。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>補正予算案に交通安全対策費(532万)が計上されているが、継続的に事業を推進するためには当初予算でも箇所付けが必要と考えるが。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>当面できるものは早急にと補正対応しましたが事業によっては継続も視野に対応してまいります。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>千葉県では児童の死傷事故も発生しており、遠距離通学児童の安全を考え全小学校でスクールバスの運行ができないか。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>通学距離では長楽、角泉、釘無、山ケ谷戸地区が遠距離と考えられますので、今後小中一貫教育の中で検討してまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                  <%# Section Start %>
                  <h6>水害ハザードマップの活用と水害対策について</h6>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水害ハザードマップを活用した防災教育が実施できないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>小中学校の防災教育では地震災害の避難訓練を行っていましたが、今年度は水害を学ぶためマイ・タイムラインの作成に取り組んでまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                    <h6>郷土資料館の整備について</h6>
                      <div class="classifier-box">
                        <div class="image-description">
                          <img class="project-image2" src="https://lh3.googleusercontent.com/A7PEuR0dTNpyhQdbjIKkxpjxV_MqeJkW1kMNeMr0V5ebQe-ZN1NfpnT2Emr2LcCL1bd6G3mdd-5b6Ox00nNHYE9ls7mKNUcneTcj5yfmOFwgekwhKmGQVaQ7xTIAZgtn8OlzGyfEoS6vSVOjx7jCzvA8CxyvGfXIk4J4yom3VtO4aOBxBNpKJ2TkTMOS4KfKhpv455s2GkaKWRJhTmWQ_5v1zPHDqLb1BP3_0hzQ9bP7yOBL11tvd9OJOqWPN4066MYKaHKUG74y2KwO3ka42XtHXiHUDn1TiHObpRTPcttkuftQ8hRtzN1ylMJl_5UWyvmmcyiAId1PBagLP34ztjf3FaPv5VcDlYrXwgCmdxaExi3w4VLgFO_9t-4Idlg1lh5Z2DtvJT3r6VX7ujKEjT4_LZ6lNkDQMKmFo3cRItK-_Ge-38Ly1hj7IkxkFtDJXDutEs9Mle74C1SkuAw9j3U6PdpmPhciPWOEK5EXcvoC4KhSirBVqGRjPd9otxston-7UTb_n4M1C35F3yJwvGkUZHDWr_G-6zbupPGZAIK54X6ysZNqBU6Pqtkktvna-740aMr77A5B_6urHedhPu8OlzstKrnHE33-3cgOkPCaHMmwdPvDEv41XnpTUcJeIEuKLmhshfR77-DQWvwrhIq4w1k7PBOkzuhHHm67bK22-mlE_16SpmEEf4WwYblHLo1UcKrttUOLHRyjXP7SdU7zYVzR2GmXrvTayYWS3u9OvUa8nrOgors-QwfGcjYv7Y0pBxxbXtfCCIrJK1xT2Gwu-axAB8CbsaqFW41y64Qo6nZdHz-khPeM4IcSLH6ASfbDHyBN-5eWgEbi9nRO0KANa43I7UcjbQsxLlR4dKMyNgz1HbF7C_6yt9YGd7dXWag4Qwj6w7EjUuMpSWr0kaQBpt8qNw6zLFGiTQbRYPxhT77Tr8zyQpF5hVGoD5lId-dbFR6_-B90CqH_yV6wyuYxfVgrUJy7GEJg11Em-Jx5ustYMgZVFTSi=w598-h290-no?authuser=0">
                          <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/shiryokan_ntm5it.png') %>
                          <li style="align-text: center;">郷土資料館の整備が検討されている旧小学校<br>(旧小見野小学校教室内)</li>
                        </div>
                      </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>郷土資料館の整備方針と設置場所は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>既存施設(旧小学校)を利用した整備を考えており、町の歴史・郷土芸能・自然地理の資料展示の他に体験ができる学びの施設となるように考えています。</td>
                    </tr>
                  </table>
                  <%# Section End %>


                <h5 class="report-section-title">令和 3 年 12 月定例議会では</h5>
                  <p>長引くコロナ禍の影響で米価の低落が農業経営に深刻な影響を与えていることから町の農業支援策等を質しました。</p>

                  <%# Section Start %>
                  <h6>米生産農家への支援について</h6>
                  <div class="master-image-box">
                    <div class="classifier-box">
                      <div class="image-description">
                        <img class="content-image" src="https://lh3.googleusercontent.com/PkZAQq0IyVXHg6005c2ACOnTWA5IFhA2dgxye1Xt5c_F-qTvQMSZsTkSS3syxN-kBn0mH6XLFSsXG1Eggx6otnoJ8biAhQi7fv1b3Q9C4KZ2MqkytzbwSlCaRdLoEACUWDYdrwY2RfGwAPSuNtGDCDsO4yjK_U40ZJmMDBsFK-X1M9h06Z2HhptDWZ2pj7t6_m-zg3BOqU0sqApC1Dm0XEWjRWSPaCX82FL7_alZJ7-mET6L58XP-vul0b-cFITgldYg3Q2s1qFA12DQFgzmkAyz8-Wvi52jfj6M2bo1zyclniAZ1HIpQda7I92gvOQXI7c82pTcRz-sOQR5b36HxCX6st8IAJ2aFadMnJXwNjgU-DtMgOtRvF6qkMNMwPceNJpFV4HCL1T3cc3Pk8m6HbaNgAGINusWYGC5pL67GuoU8dkKuDg4C_XKD9H0oXLa4EPbbzuWbN23R2DmjyFwQONqrODx55H6ecV2kQJnV2ZnQQ3sp3GZa89VLO6jG1MlC6ey7omt532BNYm5K5TxltmLCfPbpBuODY_UokhiYP0ANiLf0jxkVfH-7gDRWg-DoarzS82ctlhjahN_xmmnD3vh5o4uo8ngRQi7BB-AbUjCmawtHW3Yw5EhAuH8V0HjENwqWn659AsXDaGm--H-RSI-SborOZM_jr-uNtdIknu9cRdi61XwklGJnR80pWprU1x0SBxn9kwZL7QKuSB1Hpb64cxUNNoHFac6tyY1MzlQ7AdQyV4l0BSZGjOVnDRCoSIQJFUs6qMcnPeHLYm_6ULnUBWxin51CpOxDRK1jC6nrBwY_JfGKYOJ_Ls2Xx4IOSgxJvTYNZJVwlSLcVPk_0Yg6kZTtTzZlYoCSRQ7nBuj7GrCV0Q8YvVzk--oJ3YIR_DC15yBlmwC0PhkWmBvtdNH0QW1que_JCJcjcd8DSIYXE5JaSuA0YmgwNKyYlhWY7L7APJEW0lXxC1xSc1bHooRKG7JELqU4UJPN6S_xB_x_kBCID0RDaBl=w362-h378-no?authuser=0">
                        <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305823/development/kome_lqp8n2.png') %>
                        <li>新型コロナ対策事業としては川越藩の<br>お蔵米生産者への支援が行われました。</li>
                      </div>

                      <div class="image-description">
                        <img class="content-image" src="https://lh3.googleusercontent.com/kGjVR1ewgJr3FzGZ3AerI2wiaIwn6RfEzVo-aizxURkKXvxchJN5QVgei01aHQl4iaeEbgRbrTRSAqsiQVp69ww2EtCM63zVx7dcsWgwDSzkoptdgE5s0uJAFqGMH1irdmG_lxjj8qI1gSj5vK-ZHofUVnyxuMtnGeHMCxUlYrkDyTmc0Er75RAoPFGlrM0MzQKJvOdZ9aJ08YjvtEm5eXOFFZC6K8ItSKtd_JVh5sL4a7q-CpYmbGd-j75oXAA2os-zEFb-zP90dQByYrzSUYAC8gH-gBqv8Jn-YW90Jt7SBuftSs1qqp7dk4XDZJ_rrKPFyBjtTixFsOZadH-5PtGHFbYC7z5Ij0N1qZRIo6UpL2RJdUIXAClMY-iiWHMqCquieZtXN4umVCvrwl4wuPJxIpMISGNmzTbX63xFvyFjU4sZZsq598WENdbI5Rc8tMgbl2rk5voBUetvguhAHwbiK63V2J_rkB-NE2CvT8aOrQe4gs2AKWtyCvcmgWN_6h6vpZdZ25rw75lsoxVhYnQ9RZIq5zsVtK9FqefvCG2NeAaTV-8MGIY4FgKbj9TDSFYe8UMwH5e9SNyrj8hOHmjjzF8XHNmzP5yZ0BFSrN7Jb9u9aW0d7_5D0ikjGGmwyyynItAv8f3fCJz4ZPVW2Wu6VjSY3-y52HB-hlZe8fzIegc1wrx4AUXKLyQ9SWdr1Tj-oTVNsz_ek0qnMONtx6_aCpZcjrVqbgFK7EhaUhtYiw5ZukLqp1JXZe8ZXZVy-jok51csB8mvVRF9H7gtOwM-hwz-KSZBmVfrG5keNCviXlfPhAm0E_bCAvBXISsWnmwHHmBgGqcwnqRQWgYHJNihNXFViy6RCinPy8Se9dS7tE5wEL4S8BtV7pNIrXWcap37EALoDpr1zfkFk8wtOB9RopphcLGG1KW4s1xmcRJkv0QFtc7gtya-TUbup9opWZQtp2INRCVYpUy6OxqshOr-pLDUnQdFcrIAIDZWiE8okPmS2RhNgb_f=w484-h358-no?authuser=0">
                        <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/tracktor_q4nzbl.png') %>
                        <li>農地の均平化事業の様子(R4.1)</li>
                      </div>

                    </div>
                  </div>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>米価低落への支援策は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>お蔵米生産者へ支援事業(対策費550万円)を行います。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>コロナ禍で20年産米の余剰が米価下落の要因で大規模農家ほど影響が大きいと言われるが、反当の減収額は。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>昨年度と比較し反当31,200円(コシヒカリ八俵収穫で国の対策がないと仮定)ほどの減収となります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>減収の影響から次期作付が懸念され、久喜市等では次期作付種苗等の支援(コロナ対策交付金で反当り3,500円助成)
                      を行っているが町も作付を行う全農家に対して次期作付種苗等の支援ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>減反政策が廃止され、個々の経営判断で米作りが行われており、町としては農家の経営基盤安定を考え農地の集積・集約化、圃場の区画拡大均平化事業への支援を行います。</td>
                    </tr>

                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                  <h6>水害時の避難に関する実態調査結果と緊急避難場所の整備について</h6>
                    <div class="classifier-box">
                        <div class="image-description">
                          <img class="project-image2" src="https://lh3.googleusercontent.com/3m-jcEfUnVwOKel8bo8JevWmmmJx2eaTMH9-zwmKhvgDEEJr8nNmTkntpxG4dwOoU6dTPYUsj2cbVBYjlUPlAIsFGbBNQA8wEPmi-hvxrSNygnvA7I0zzSImoAa6diYImMiMW6yAb_k4rt92Ts_e3PFO8JGdr3T87Q-QYZVwsCWb9-0TmTz3EdDUiXzFSVf3dgQXQNM3_JBfMTWIDIs4oTvDfUf42xBuJQC-CdmlcUhWQ5IWTwnopxQOaJi4Vi5Lldmku-aM4SoHO8Y3DkWt6Ek2ZrmLJVSZKBeykf9pPXTqpdbN8kguPCdUxU8Uup0bHBvP9NIa0KcOLDiGGMnDPsUrtQnzCstMcPgrFiUTNZUzwGscIz9h9eYVCCzR6Cl5Tr7HoQCPPLIM2fUpnQbYEAYlaYfV1y1pc_6GchXgBV0G4HbjVXXnTlBRP4wUmIXiwB0KTnB3OTS_kPu7siFNPChKOClxUTd1soxtWCPFylLf9peiNBSVoqDuLq8zjtxBFlp_9FCPvnpDa6WjJL7zYSy0q6XRlJCZas_iO906A8-0CpuLPRz7Mbnrf7hFoCg-WGC9qrrja0HfgmC_y8v5busFIekCcz_gETaxkB6-Qc11_SCq_W73UvHOEnkJPLnm6aoHUlDdvi66UjPszvKY6qEtEOYdy6SS982hCRDfVLU7AVWtbUgSZopSwhIXwqwHwiFgpae63Ox5a4H2Iro85XaK4uQOMSkA7UnuuOVJVbzIyIGQQ4308sdLxmlVIJEsrD0FtIu1bu1fHxsTRKsW2od0ZmwoUWxjSqrn-jND4K810XoCJMxQAJPZpG-RI1Xi7GVqt4xCEPlLjrrhJX8rFnVGDgpabWhACMlOW5CZVA-Ok66Lt5uwK7CHOok51qdKHqaDKMHYzn7-k3H2ol4d4wSM9Nb4T5ymSw1lOck4hzf-0v9REy9HF4gn4wdpYMe_lUAaKtDcmqXM4GBz9mKTDqfOvTsuCrTsOsDq4bdoDdxefVrug5q4wJT9=w322-h243-no?authuser=0">
                          <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305824/development/Screen_Shot_2022-06-04_at_10.16.15_bgpfi6.png') %>
                          <li>花壇を撤去し駐車場に(旧出丸小)</li>
                        </div>
                    </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>水害時の避難に関する実態調査結果では広域避難に課題があると考えるが。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>町内に留まると回答(46%)した方が多く、
                      今後自治会・各種団体・企業にもハザードマップ・タイムライン出前講座を行い
                      広域避難を呼びか けてまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>旧小学校への公民館移設が計画されているが指定避難所として整備計画はあるのか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>旧小見野小では西側に駐車場を整備し、旧出丸小ではトイレの改修を行っており、
                      今後、高台避難場所の整備に合わせて進入路の拡幅等も検討していきます。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>
                  <h5 class="report-section-title">令和 4 年 3 月定例議会では</h5>
                  <p> 令和4年度当初予算案に関連し、厳しい経営環境が続く商工事業者等へ新型コロナウイルス
                  感染症対応地方創生臨時交付金を活用した、追加支援策が考えられないか質しました。また、入間川緊急治水対策事業が進められることから、
                  関係する町の治水対策事業についても質しました。</p>

                  <h6>新型コロナウィルス対策事業について</h6>

                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>交付金を活用し、厳しい経営環境が続く商工事業者等へ追加支援策が考えられないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>商工会からはB級グルメを活用した町内回遊事業への支援要望もあり、今後支援できるよう対応してまいります。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>コロナ禍で不登校児童生徒数が急増しているが、教育相談体制の整備充実ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>県の補助事業では十分な相談員の配置が難しいため、
                      町の支援策としスクールソーシャルワーカー(SSW)等の相談体制を充実し相談回数も増やしてまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>

                  <%# Section Start %>

                  <h6>治水対策事業について</h6>
                  <div class="master-image-box">
                  <div class="classifier-box">

                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/bVmKf7DaxGbksUQJyA2oOmch383VJfej0X1yqepyOPfaZ4eh9fON9IQX75FMw_THzXEUcvtF4NI0BOE3cOkM-snOy-xyp4dGnwQo8Eyh6L3YBaR7Dy0QvzJpQCOGViLgAsI9-3jhAdkQ5BNO4fwm-QRJpSnEqpJky1DpOiw17A7ltsdWtD2j3sVgZj-sZS7tmjwY1mjH5hwvB3sY4LALX_UQ2HRmc8YKTrfFpr2LWEgsf1lbyA28VwDosGuOU7mrdZGHrlWZONllfQuPxI_Jb-0ggbEjEGs1Jq0dQi5ZnFUBzHXB-TOq78r0AYwE7NFszrNpgk6O1zxdVg_M_2JvfQ1b-k2AOHjjtSkOlPKJVOKT4krCQqGAYjMmpyevzj1z-Qin7d9ERIRN893fr1WSYlMzdTiKjjQD3D2ZwNhmxJzZwE9tuIUlp3IklhrPHRmfS3fim-dQxKEA4v4e46B-a2deOc1jxcu21JE56sRZApmDHCJmx5hhKsG6lhOGfda27GNFSpcurSV8sSNhJpng4UsTf49jWZLmJJRDMagsJULufsx7TNsKFFLQVC9rAdaaL5Va6MzacqyNQ5b5Nrum1FHPiwQoCx1YYJiRsQEV3dkqiBGQkywlLV2Fc0qZnPlJvDkZWRPNcLXKygg_H0RIXFgbItUPOuMcnUgTiLeDGqoxIyi-9wfdJY_YpGQu182m6I1VGDIWOxZrG6HtarxEIDw7gP45xeJE4Izq-QdM8Kn6pdsBCiI2BzB-KNbsWGz47Q1RrB21GO4c7_zJZzD4FphkjcJNEWabya35XH6GXrqWz6rmXgte98tZXLqOmdQl_KqZNiYQwZfH9qVH3h4xYPI7qmaGPiREcCxwSLsC5BIA_aCZyIq04CLuKBzRzVyqm1aZV9sX6e5RjgVpdJqTtY8E0cdq-ZTVi3CCdBwxiLrOmmCCXWP94zH8WOqrUfe7tLmx4l7Lm0fjnFmazKSPhFzLzbQbCMFCyxeS-ihrbO6Fxw6Wy6FxTXCi=w420-h558-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305827/development/water_gate_aen09s.png') %>
                      <li>農地の均平化事業の様子(R4.1)</li>
                    </div>

                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/DVwTjTcTr_3NZaBJW-UgB01WJVFwndI5-ZeWrWpNAZN8nuca3H6Hr3OjDmljMZVxLndskAtasg4SvCaEdWQsVXV8FXf5x3EyfDzTqLaeM7S6VJDSpdZ-GDSPfddP7nJXU3ERdok7_Ea2x41DtnVmzzkGAw9VGVxXLgHWvdh9zGK0j2ebgaThzUzO2_iLeQjNa44AgMOC0TMKHnIHuv3tEfpZx7VkkKwXjGz_gyECpyiuks3lcphYaS3mTxijubqlPu_m-28w1KfGG1hShUEEKNEvN51QoXBZ4m_3is0AytGDUW_oAXpsbZE8tegiV_QgDspUO5Rx4lZgstx-7zzZpI6o4OwC2gwHTaDW5HRz1XkYioZUn91blr0LIpoOBMDTDJz6-tgY4HkPaX8bqZML1VJ7VtvApI_08Gw6uucQJ9VIuCiTsRwSr2bwjxAlcqa4qGbRQvf1jCkm_nk3Oa2HJcebl3vyTcj6-V7ODn7T9AL2lt4PlwVt_mwpxFI-gAphYktkPekD4yBE7doO1vDBXKkGjdoJPLGKzksd0LYzpYbtHToDql2XBCFgrKUzf5qvWS1IujW7-cLNcl3H0MOi4Fjgw9SjahMuexBpmm3Xx7Va6wloEhGV7ErENlcdn7VHQiiNnlRRqK-Q9xiShLDN6OOsQD-LYwLC42JoG7JOu8B0CItzVovHb8TOQceXsGaSKN0-7E6BrTNO87C4d-aM-tE0WZMPS9uWAknmo948Rkccay-Nv-TBagC0WxlW7q0v9WVEG2Kc1eZ0yjg1xd3lp9YSHjo1jJR6flEH-4uV0TIiUoCPi--GkEvjSe1dCvt5TKge9OyzdIYXAUaDoTJfu1wr54T-wqWARMaSBiOrpgm3hAh8LVHXUrK0-s9tovIIgIjeG1j4m-QV9ptpHzBdyPnuPczpwZ6pqnyeg03vRVghU3-tR-IwMqldw3Q76_9HbwUiaqW1YDLbXIpuJ955LEakYVnWeuI8BJID-HVYdjGQT8yLphefxtOK=w474-h354-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1654305823/development/ando_river_hlukts.png') %>
                      <li>安藤川と飯島排水が合流する稲荷橋付近<br>(ハザードマップでは内水氾濫危険箇所)</li>
                    </div>

                  </div>

                  </div>
                  <table>
                    <tr><td></td></tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>治水対策とし入間川流域の樋管(浅間・高木・横塚)はどのように改修されるのか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>平成15年からの入間川・越辺川等緊急対策築堤事業の未改修箇所で浅間・高木樋管は撤去、
                      横塚樋管は改修の計画があり、現在調査検討が進められています。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/question' %></td>
                      <td>浅間・高木樋管が撤去されると流域の排水に支障がでないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>国が整備を進める堤脚水路と町が整備する浅間排水路で、流域の排水を川島排水機場に取り込む計画になっています。</td>
                    </tr>
                      <tr>
                      <td><%= render 'components/question' %></td>
                      <td>内水氾濫が心配される安藤川稲荷橋下流部で、管理道路をかさ上げする等の越水対策ができないか。</td>
                    </tr>
                    <tr>
                      <td><%= render 'components/answer' %></td>
                      <td>内水氾濫が予想される危険個所については、引き続き安藤川・横塚川改修促進協議会等を通じ要望活動を行ってまいります。</td>
                    </tr>
                  </table>
                  <%# Section End %>
              </div>
          </div>

                  <%# <div class="project-card">
                    <h4> タイトル　</h4>
                      <img class="project-image">
                      <div class="project-content">
                        <ul>
                          <li>テキスト</li>
                        </ul>
                      </div>
                  </div> %>

      </div>

      <%# <div class="inner-card">
        <h2>Work Experience</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam quasi rem illum optio! Ducimus, sequi harum! Sunt itaque repellat odit tenetur rem quae aspernatur officia non eaque! Obcaecati, quibusdam provident!</p>
      </div> %>

    </div>



  <%# </div> %>
</div>



<div class="content-container2">
  <div class="inner-card">
    <div id="vol-2"></div>
    <h2 class="vol-title">議会活動報告 Vol.2 発行:令和3年3月</h2>

    <div class="project-card">
      <div class="project-content">
      <img class="content-image" src="https://lh3.googleusercontent.com/Wv0cDo68R8S4JgAUuuj_Rm6OuHiMhCI59YTv51LD2Vi_JKDHqXLc5QlSfPGlvw8YxZVc1XGSnPc5-CmaI1widPtx8caw2YdFA0lnALYwnNgB4RCP_U9fGbLSIuQDV8ik4mpefzeKQ8hHt9A1ldsvgSOc6uIpPDnWkXeChhxJ-vBo6dtDchd5DccPm1l5F1m69AfLchMk1PClvChpvwhBoM7yBb3MJCZfnNWFabz09hlTMQgqPI6IhRS3o4wM1kGsvf1uPZJ3BTkbCRJByjRQcd-Uhmjq2m1HRSUJwWW8-UuGwvynmhrP1xLM6ypVouU1AxsVHbHcAmx2yrCrHyyuGbz9otI1Mylzuxe6oPo8yTEbQfp2WkUkdfklji9MmRS7Dgh1kC3kAXXsruekJcAEpDoEsMlNrn1PtdQiAy73aje7EuePB3hjwjICKRSWFoMGrLbNTHktf8cTHttToDr6YosVr9pCfqK79LBcB9f3ATIenygVVqv1Xb1-Dzk_DSrrVFhL_pYkTCjr6zMuFgwJbApAncVhRuGApfaHltRWb1MzlQ0o-3TKGJBfh1XInSvswWDtC5WKh-KV8PJ7xEkO5lI3BESccfrSabCGTrjtdVuvl-wkYo-T8AhNmDOYRSREqcDB6OW_2nNutXBXVZ_Z67Q74XvLVXrROHy6tMFd1ee3rJN5xUEhTJYbCPCTo_7a5iuJ9lwOyA23NTeDraqRF2U4U9kqxaPEDq8y_E8wL5Twb_7nImYbjCV9qI__KlRRlSR1EXCZ5TP6Q6C5qj1nRFsxouZy_nPQa0iDj9_60pnpgud_Tb6M4-VJ5Un-ZJmmnTYCNPHme0AlGT6nBMKlsaQG_Bw0Sjs11hmTgYZS_Gv7NfDPbcwbCODtsk1i7VoY5eNX51Jm9bte7VYODqNmv4gciW1TyRYxslZaF9sQdOkNmeJsLk5jsJe3srZ0E581K6fnsqO_E9xojm9DgdzxUhtHDJDm1dNwHpTt1FbwNktPfja5ljDakO_P=w1376-h370-no?authuser=0">
      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451500/development/portfolio%20volume%202/banner_message_uwdcep.png') %>
      <p style="margin-top: 32px;">
         令和2年度はコロナ禍の中、日々の生活はもとより地域のコミュニティ
         活動や経済活動も制限さ れ、今まで経験したことのない大変厳しい状況が続いています。
         住民の生命や生活を守るため、国の地方創生臨時交付金を活用したコロナ対策事業が実施されて
         いますが、まだ支援が十分に行き届かないといった声も寄せられており、
         行政に反映できるようさらに努力して参ります。緊急事態宣言が再延長される中、
         3月定例議会が開催されました。
         さて、令和3年度当初予算案や条例改正等の議案が上程され、3月16日審議の結果、
         全議案とも 可決承認されました。一般会計の予算総額は69億3,500万円(前年比−3%△2億1,100万円)で、
         新型コロナ対策費用としてワクチン接種事業費6,910万円や中小企業経営を支援するため
         新たに経営革新応援事業費予算も計上されています。
         条例改正では、川島町国民健康保険税条例が改正され、被保険者均等割り額が31,000円から 27,800円に、△3,200円引き下げられることになりました。</p>
      <p>
          議員活動についても様々な制限がありましたが、
          令和2年度に取組んだ活動状況を取りまとめましたので
          ご覧いただければ幸いです。<br>
          コロナ禍の中、医療従事者をはじめ市民生活を守るため昼夜業務にあたる
          皆様に感謝を申し上げるとともに、ワクチンの接種事業が滞りなく進み、コロナ禍の収束の年となること
          をご祈念いたします。
      </p>
        <%# <h4 class="report-title" style="text-align: center;"> 6月議会（6月8日～6月15日）主な提出議案等</h4> %>
        <h5 class="report-section-title" style="margin-top: -8px;">災害対策事業は</h5>
          <p>
            令和3年度当初予算に高台避難場所整備調査費1,200万円が計上されました。
            令和元年台風第19号を踏まえた入間川流域緊急治水対策プロジェクトでは、
            市町の取り組みとして高 台整備が計画に位置づけされおり、
            避難所(旧出丸小学校)に隣接する堤防付近が高台避難場所の候補地として
            公表されました。
          </p>


          <div class="master-image-box">
            <div class="classifier-box">
              <div class="image-description">
                <img class="content-image" src="https://lh3.googleusercontent.com/pm_Hi_0beXcqEee-6xuJOL30_kyr20KxMU9KMf5FokRh0dcOjH2W8CnqWSVpHyLawsr4uxxg6cWjsSQZQSl0nVH9E45a-nOK2mLRLAhFM4E86XI9DIJGdtoMPFx6A032F2qrom6831aZHIZjxaQyzOhCiocstfXGsKVbqVgfU23ZNLzGxcVTQ9JYCnt2faZFVv2EG0oh4-JFHlg1UTj4Sk5YBYnzpyY6EoYYOPYU-dlxIXNYKSHl3wSXBnxaZz-e_3LvCY9KPwisLuLSQnossw7EBsILRqNIAvJ5uw4BKI1XAeElWsLadHQAcioNHmSdenoi7WeqeGq3PGY8t-AL58K1WWk84xpp8MS3_W3kfW3W6c9siLIz5ZuRYIWnxwcpQDmk9pwpXMRmVBJeypjI7SI0c_IrVa2Mtk3UR-r98bE7ujJY0zMpeprkr_3B7F-J2_xm3CaCeKQPSxccFFe3JL1n4m_Tn_7x1YvD9X0OoXYY4uwQJkQFV93tFnsXfk7WbhbHBbM5OwDfSOVPW3HbrkRZI0vjJ0F-DQDcVRGVRQUl4W6uekFnuOtUuLqa18wtPIIPDlDXwEDOvBz5jzVkMRQtSVVym8O27jDQGp-AapIYn2EWltl1LOerjRVTFsqZiDjvTQjeJSi_JpGuesDPZdnJvSibw6nwf4hjzpYbWlji4YPVAELCBqhSA24xl5jSSifXbu9ii4nbsfYzGBSmpIfphnvYGdhIWbLmDeP_KPUI6K_3lHdtuVd1yHsPVevz3nLzpXUb_efQVF3QVivDjWO7aaRUugLdOHAY54sZHCXID99Ee7LaucwP-jiEDOaAWuPE9JRqTchgI96zLo_RPll4JrWzSToq4loVxDsYrnBoX00N2DNHfGB-oNXj3FO8nbYdacAW6lsD698tRu-KsVyfH4kNyq6dACEni_64SXUKNFKe9OX8Cf-D1KvCMzQbYxXnRHcQ39_waYQG-gxhyHYgkt_UQsFBRGd9T1GE5kIb0wnjRlpDb0Aj=w906-h498-no?authuser=0">
                <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451907/development/portfolio%20volume%202/takadai_iorwav.png') %>
              </div>
            </div>


          <div class="master-image-box">
            <div class="test-title">
              <h5 class="sub-section-title">洪水・地震ハザードマップの配布に合わせて、まるごとまちごとハザードマップの取り組が行われます。</h5>
            </div>

            <div class="test-title">
              <h5 class="sub-section-title">避難所(2階)の 壁面には 5.3mの浸水深が 表示されました</h5>
            </div>

            <div class="classifier-box">

                <div class="image-description">
                  <img class="content-image" src="https://lh3.googleusercontent.com/IhqKNna0FibEl6zk9NOPWDxAAg-zbHFYclUPAju1V1BTS-bDEJAZ3zMtDMIvvvPdAixhWKYkRSXls58EFkuzxjjTsnySkbw9yNMGFEEchBsBfgckQWsbU2PTh910WE9ATf9BBdTn4awru1ptCWAnF9a8sCOmuy0M_HZaFgl8qrUsh9Q9Zgh3ozxIZM2Ycc-ja0_9pGC4b6MjU5ihMiR3oorTRbIkAbVpQRJ33tHrP9RMcqWdc-zRf4Y14eBbwvMRVQx_BtK5lujIiQ8bhKKSCcUw_anjILJflls21o3OcTDII0DaYk6dpwG-RZs7BY6k7BtINKYsPhkTYLPK7PWrRdrI8jjG15EltmpBDSZoFRrzmB6mzruXb1PgSX-3YoGK-n8yMawWYJXNywju9Pbm0ecNA0H3sswN2CxAGXWZI_rEfm1RDtDTnm4h_bqiq7OMXt9UgcNrUsQA2ode4_CJFrvIx21yPwjojd9kAIYqELI2cGQzLMAnoJnGP_MSrIkFMUKunB3gzGwa2GmfZ8cotIhDHAs9JDVAduJf-3skdPq1zUhmdFBRl3muqruC9gm0onahaqpbd-ZJ9fidstmmx3QJGCpWDaFeUUlEV42j19hZN5prIpit80IIzfh4Brk-ODO0QtZ6nFXLyrkdlaH5dspuq4R7qe8u4QI0_MzBMYKIKQWceTILTh1tySPyRyvv9S7HNY__XAYsq3mrugdgGAsjWB3I_IOH1-bQbsUv0VD-VooCeuVxfKavSv_pglszcKuMXeQxQkAa66ipm6oPFcpURUB-6rWwoQrFIxmLWS0EkrFa-RDMyhW4XYHAaq4RRWYBYhTzORR0NkKGaxyYnoWQl9-8Rav2P3QlVMAxE6SDLvUcVKgvpX-unBCgWSP0xO8dU5FG12Wqty7ihs1MlK9IxQHEgix6BS7p5l7K250YRGkJa7sDscMtHiNrvL7LxWbkLSmvTVXyAiViB4Xvg2Z2t7QRKQWj3eW5mnn3BTnDWxvANxOX48_P=w406-h586-no?authuser=0">
                  <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451500/development/portfolio%20volume%202/hazard_map_jlvhkd.png') %>
                </div>

                <div class="image-description">
                  <li>(旧出丸小 令和3年3月29日撮影)</li>
                  <img class="content-image" src="https://lh3.googleusercontent.com/133hClH3jzFJqxafWG-BYxMThsGlknemxPmQ4dh8LAFvRB_7rDomPUB7qdaHnPJrEbuikiSUgGJErD_AOq8FlSS6ZP_cQXLvTkMZXlHThgc0Ze61MeVGYbAWX-4ZwXkHNSkP9vfZLt6iWnGUqS4-8iIhEKXp9aJ17wAziBT3GhFJyVt1c3T_TzcFIfyM8yyQ_tIeqKbxkqPffu1SnNjjGmhey71dGlOWGubByJnvFG4ststD8CdsnVe1ZENv5WvP9jvRZF-XJdBVrpP-ucmWo1lZlB7BNeLLDAG-qM4lFckPLi9EKD-UQJVT6A9HewRfk6KLDDs1oapXnZyjFUV9otNMnZUgaKmAhyp-gjDknzV52W4JjeSfFPUUIeLQ6uzf4GbLU1jGJzoHxHL-skB9KUzyy0HOB7yo9E_cPs_TaHFxQWmsedpli7iTlL-RYlVBx4JtlGzd6wMMeUoOeMuFoWWnqYtZz5MS9I27aUicXRJNs2hWdHXcMdFJiGq64Oz85nQop4pcN0-LA83-16Tf722qE7FPsniwK6o6LdFlUbF1jmq3OqTCRMzPhjkG9u7wx6ypLIcT5svDU7r8ysCb_SPAE2e3xXLxxrNRg_7nKHcI73-H-LyeFMlwQUeu9wvZFp3Nj3C8GzK9s6Ir_dUIol8X724vXHCN52mxrGGmWdWkTfs_mlBW_qKBr_WXdcXkxJGI7wD9pP77HsbhdE2VVj0Xij9HwgCiIx4Av0u3hCMlESMdjSDKm079YmI9WXrh3bB89V7e3KjvBk1Musuo0IO-jOhYYqKYQda_x4abNbCT1qm_3IvBMO5cGo-T1goNKW68Uqk8mEnPiYZUTYgE7TvKEPy4TlOs5rI4xgekb4yFi0oTRk1755FlS_IcczD3VuLHb2Y7X238J9X0b2aTE4DanSS3UGFWF8YRj7Lgm9LzweSJSOUuZpkV6l8lrJ8zTaZ82mukRKv4GJL8ir8FYzaNDasmWAr_BKKgpUIGrlhANONhj7Ire4wr=w170-h205-no?authuser=0">
                  <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451507/development/portfolio%20volume%202/water_height_g5bnrx.png') %>
                </div>
            </div>
          </div>
          </div>
          </div>
          </div>


          <div class="project-card">
            <h4 class="report-title" style="text-align: center;">一般質問で町政を問う</h4>
          </div>

          <div class="project-card">
            <div class="project-content">
            <h5 class="report-section-title" style="margin-top: -8px;">令和 3 年 3 月定例議会では</h5>
              <p>
                令和2年12月に公表された「公共施設個別施設計画(3割の削減計画)」
                に ついて、次の4点を町執行部に質しました。
                さらに、昨年9月に質した「新型コロナ対策関連事業」
                がどのように実施されたのか答弁を求めました。
              </p>
                <ol>
                  <li>川島町公共施設個別施設計画(案)の周知について</li>
                  <li>小中学校施設の今後について</li>
                  <li>公民館施設の今後について</li>
                  <li>保育園の今後について</li>
                </ol>
                <div style="margin-bottom:32px;"></div>

            <h5 class="report-section-title" style="margin-top: -8px;">令和 3 年 3 月定例議会では</h5>
                <div class="master-image-box">
                        <div class="classifier-box">
                          <div class="image-description">

                            <img class="content-image" src="https://lh3.googleusercontent.com/SIGVeHKWBSTzJQ77aIAm0e2sAi00-4ZngwxuZ7q2mdRTL9jWncjlC2B1QKWlEhgPwtEHA0SJNZ0AaJbbsqmSo3spIGyerNSMlLfrmRYFv5IQ3rryLxIZIuDPhBdJq6sObOgKNPQ-oxyaGVEizvLUsc8eYACf8mFdIFE59j3tGK7heBUc744BTIGhJnU7km0b2HvGwI4dEpg3-D_NqYPgEiKiIEFlr4_zjLFI-5WVxh4Ys-ZJd2e9PjJiDS4qRYR9ruioqya_muj8937-C8NANs-Fi7xmYo3O1GAdpi-7JPJxw8duTv_79yIMhFbb4H8FUZKM7u_AVXcq7He2atmGAMiXyZ6v1hSry0i8J-MoQKQvt0kd8zvwid03NaKNrY75iMqV0pEb87uXwtMQTjW0CEcnynX14QV9vVDAT-uBjwr-QWPHdj2LgpXg-geRfbredoZfXkN3EvOlCp-o7ui59CWGr7JhR4MtEz08r2pN_fERR8sPLyMpgH7nUtt875DFRLWUTVRw1_3y4P7CgG2qEBlC-CBd6-lymSCmfSOHIm2n6FLZBMpqCw2MEqpQhTG5mCmu8rxLq9eNH6AchdXBtCx7VCN9UaVRx99wkoHg7QqupYRshfISWx3zbKd0Iwlc0HB7lNxedpTsJJmIdknT58FfgaoBM-HFC1k2wagzKAq_YOrgcDIPs86aMseDmmJRNLUhlvsXl73xm89amoDv0j3rFBj8i_a0SmHTflAEKlhGlySRKbNJR1sbZsw92-p-bpo8Na0LWChS0IhNzrxRyKO8tAiboPnrd8SR7n9yG1K1szjsxyng9Cwd-yn-PgavygkKpnVg4SEeAPY4zltvoubaQTAvd6UAuJejjKTD0rOLEYPGEdyl7Cb50jlx_lU0KfFQA_-SNa9z98iziss0ilib7wI4r-O9if8ryA7WQJcXS20bEUeAYxHBRWS6t9zieSdz6HQBrbudsJFQv-qi_Ip84Rlb6mJdYaWu1i0DtGa-z7G5Z1In0hwR=w950-h620-no?authuser=0">
                            <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451508/development/portfolio%20volume%202/school_new_q3rvno.png') %>
                            <li>小中一貫教育の中核となる川島中学校</li>
                          </div>
                        </div>
                        </div>
                        <p>
                          平成30年4月に開校した<strong>町立つばさ南小学校とつばさ北小学校は</strong>旧4小学校の段階的な統合として
                          設置された経緯があることから、今後の取り組みを質しました。
                          教育委員会の<strong>「川島町立小学校規模適正化計画」</strong>
                          では、小学校の統廃合が完了した後、平成30年度から
                          平成34年度(令和4年度)までの5年間を目途として、
                          将来推進する小中一貫教育に向けた研究を行うとしており、
                          <strong>中学校を核とした小中一貫校設置に向けた計画の策定</strong>
                          が待たれています。
                        </p>


                  <h5 class="report-section-title" style="margin-top: -8px;">保育園の今後の質疑では</h5>
                    <p>
                      計画では<strong>「保育園は今後10年以内に民営化を図り、既存施設の売却・譲渡等を図ります。」</strong>
                      と明記されており、「町の保育行政の大幅な転換とも考えられることから、
                      保護者に対する丁寧な説明はもとより、 具体的な施策とするため
                      運営審議会等で保護者からの心配を払拭するような方向性を示すことが必要である」
                      と質しました。
                      なお、令和3年度当初予算には保育所の民営化を検討するため、
                      保育園経営改革事業費予算として22万8千円が計上されています。
                    </p>

                  <div class="master-image-box">
                      <div class="classifier-box">
                        <div class="image-description">

                          <img class="content-image" src="https://lh3.googleusercontent.com/_Xs9tvL3YxzMRFdHiF5-U68S_NnMjkyFx1ELRKa_sAQ7paOIwCzMEKwoFVxNQL8btpi9XtKFX7ton3S7_yFs-oYq7Qig72Qy0CjDLZgOL-c10rHbH-CrcAwhX0aCjYs71Sw-ZMHQYgNVZqxIEuf-AazkrKqY_t3l9H5OFgIDBHEluvT729WWXM-ILRtXRqblVfWYi0xO2LFRYsKJy82Mv37XprHGooKs0tgE0WOCiV1sML5YrcFfdpukSktDTMelc7mNBkSJqDp9_3B63sjsugoTf_dSCmlEUstMoTV58ncT0GUR0csofoBx5N2t25UsuRL5DYz0Vds8isd4iKn1t0dYZo7BHfD7MjaVbTi2RWfCDGbRd-gp9Nw17UXmaYBNwobW4au6ihEN0LJ71ZkihG-plvrFiX8Ls4aw36M67yh8FubTBsOPsq1BjFRfBkQM31_y8j5S4ptLq3bkyrLo6ERUoz74teW3fpSuAEcHfDP-YFjq-JW9hBgicjTb9DkmUtbV737cieQaenCKkrC2nBWSnCB0MSRgmhued8LLU5eyLsEotA-LKWrvKZIqJJsK7YFRQF0ZqyTIxTslsC184Iy1xCJtDxjwY964h2GgJcXrWnnJxVgKpQewWb_Ly4LwWQ5wuwlD5ANrCJGvsufHUoqqXgUpAjoifQZUosVED0bo4cWsSLEb_IqD4Xekp4Jh_Su_sf6afbSuz4INdSmBr4IlfawuJLxEPkP0KnTNV2PiHtA7jszYJU6ze3uTx0vsadDBYItRbgz1r5Kt3Q5s-NZo1AY_CrNpP7SH7Y-_ZXJrrvu_1rrtl9Djd62V2XJ7oSfBSgqNrYFs-AU9vqfDqrOs-oa8QqG-TorPwfsLLQGMc1jHnVlUjCIg99zm7HkTBhLBmXT02tb9EQcmlQ34B99V61Wv-QiZ6bpqNTAbOYy4rCWzzFqS2-VlxzIewU1ITsbpVA-8rXYBgHsZxiLS9KZrv8M5sZiy5xbjmtIJI1oqWCLvZU53YmrE=w1118-h702-no?authuser=0">
                          <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451501/development/portfolio%20volume%202/hoikuen_uw3izd.png') %>
                          <li>民営化が検討される町立保育園(写真 けやき保育園)</li>
                        </div>
                      </div>
                  </div>
                  <h5 class="report-section-title" style="margin-top: -8px;">新型コロナウイルスの感染症対策の質疑では</h5>
                    <h6>新型コロナウイルスワクチン接種について</h6>
                      <p>
                        「国からワクチンが届きしだい、町民会館を会場とした集団接種を実施します。
                          65歳以上の高齢者のか たに対しては、4月以降に接種券を配布する予定で、
                          5月連休明けからの接種になる」との答弁がありました。
                      </p>
                      <p>
                        なお、県内の自治体には、ワクチン接種促進と地域経済活性化のため<strong>接種者にご当地商品券を配布し地域の
                        集団免疫力を高める取り組み</strong>を行っているところもあることから、町でもこのようなワクチン接種促進事業ができない提案しました。
                      </p>
                    <h6>コロナ感染対策の実施状況について</h6>
                    <p>
                      緊急事態宣言が継続されるなか、国の臨時交付金を活用した
                      <strong>中小企業経営継続応援事業</strong>の実施状況を 質したところ、
                      「セーフティーネット保証制度を活用し100万以上の融資を受けた
                      事業者を対象とする事業で、<strong>30件300万円の給付</strong>を行った」
                      たとの答弁がありました。
                      また、<strong>新しい生活様式対応事業者応援事業補助金(3万円)</strong>については、
                      <strong>「127事業者へ381万円給付しました」</strong>との答弁がありました。
                      <strong>子供たちへの支援策</strong>に関しては、経済的理由によって就学が困難と認められる児童、
                      生徒に対して、<u>学校給食費、学用品等を就学援助費として給付する就学援助</u>
                      がきめ細かに実施されているのか質しました。 教育委員会からは、
                      <strong>国の臨時交付金を活用した臨時給付事業(3万円支給)</strong>や
                      令和3年度の就学援助費認定状況等の答弁がありました。
                    </p>

                  <h5 class="report-section-title" style="margin-top: -8px;">令和2年 12 月定例議会では</h5>
                    <p>ごみの不法投棄が地域で深刻な問題となっており、<strong>不法投棄対策として監視体制の強化</strong>を提言しました。</p>
                    <p>
                      不法投棄は、廃棄物の処理および清掃に関する法律で禁止されていますが、
                      令和元年度に町が処理した不法投棄物の件数は118件でした。
                      この法律では<u>所有者が処分</u>することになり、相当な経済負担が発生してしまうことから、
                      <strong>「町と地域が 連携し不法投棄を未然に防ぐ取り組みが実施できないか」</strong>と提言しました。
                    </p>

                     <div class="master-image-box">
                      <div class="classifier-box">
                        <div class="image-description">
                          <img class="content-image" src="https://lh3.googleusercontent.com/z0UNSYzSOesKEt6sYs6p7A0N5zEZZvk-nchJtbFlk6yWSLuEVkZObxmcD9TsnZAymezOAibXvSV8_45MCWts78TTEdBcv-E56fVl58672-VC5_n7YNLpFv_K_2eyjWnlonJGCCyosydIqAG9nZ71nGPK4sgEEy1t7Z7FPOm2sIOeFSCnkedQ1yNBCBVdvD7RVDc_TCk4CpA0rSN-aErTgJHZj73E3sUSI7f8dnNULkZF7GHVjdWHd4E2qhUy_R6GpoWoPsXbcC76cNH1G2IH3pXG_7CIbspoHoFY-8_2JKAZV5UqrYfRfQ8dee_oyzGIeAa3HWySfUwgP9nMnVlYBwVn5A8Lmg-AjXuP4pCW83RXvyJNfxZt9SFPmULdcyI1YYax5_BhfUJgSSRFisThD3B8mWqdqOAiIpUEoswbGlL3oq1vGmiFVDWAC36QbPOYQXC5ShTbF8qseKSnoibycf8CPkjsauiFP2k607Ccm1QmLYxF_LFgYa4ex7aDORqNnpToKkvHf4Pc9z_nHimggpw5RG3G4YtZhL4LL39k4a9v14IXbx5PJ6xxKaUsw2fdaicnGZwBVAt_hV60-re6WvihwxPE4hN-g8lHfOtRvM1e7M3omQ2v8tQimwI38TUbzkW87xUrYOZt-pgS2We_m2tqbZ3rTS73oZQOIXVZFeQXyPRgxan78B88Q7JTOHU-bL5vZVXDUlAbWCpSTHA-jZCKlW-QM4ooe7oVsIIdSd94NJJ_RGzkeBB5NRNCae-aBbFkjlXWZ-kVybmfruiM0Y1xPeBR7_UVRH0L6FIuuyUrywlyT2XVeqPi_tASatLlqvSjKYA-fJIh5t-e0cH-w7sJtCad-XPJ2QG3FJbMOoMy3nO2rJwANwaQaVo5OO6rQO_R3mAhFan345FJwHwv85YSqQpR8p04msak2x0-T8C7HRJdCZxrbPqrTQHo1X4vC0IWZl1UkRn2ZJ2_oBE9YE7HdycIatJnw0KhYLxzCR-o2bjLqH96CRRA=w421-h253-no?authuser=0">
                          <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451507/development/portfolio%20volume%202/trash_1_ectanv.png') %>
                          <li>農業耕作地に不法に投棄された廃棄物(令和2年11月撮影)</li>
                          <img class="content-image" src="https://lh3.googleusercontent.com/z0UNSYzSOesKEt6sYs6p7A0N5zEZZvk-nchJtbFlk6yWSLuEVkZObxmcD9TsnZAymezOAibXvSV8_45MCWts78TTEdBcv-E56fVl58672-VC5_n7YNLpFv_K_2eyjWnlonJGCCyosydIqAG9nZ71nGPK4sgEEy1t7Z7FPOm2sIOeFSCnkedQ1yNBCBVdvD7RVDc_TCk4CpA0rSN-aErTgJHZj73E3sUSI7f8dnNULkZF7GHVjdWHd4E2qhUy_R6GpoWoPsXbcC76cNH1G2IH3pXG_7CIbspoHoFY-8_2JKAZV5UqrYfRfQ8dee_oyzGIeAa3HWySfUwgP9nMnVlYBwVn5A8Lmg-AjXuP4pCW83RXvyJNfxZt9SFPmULdcyI1YYax5_BhfUJgSSRFisThD3B8mWqdqOAiIpUEoswbGlL3oq1vGmiFVDWAC36QbPOYQXC5ShTbF8qseKSnoibycf8CPkjsauiFP2k607Ccm1QmLYxF_LFgYa4ex7aDORqNnpToKkvHf4Pc9z_nHimggpw5RG3G4YtZhL4LL39k4a9v14IXbx5PJ6xxKaUsw2fdaicnGZwBVAt_hV60-re6WvihwxPE4hN-g8lHfOtRvM1e7M3omQ2v8tQimwI38TUbzkW87xUrYOZt-pgS2We_m2tqbZ3rTS73oZQOIXVZFeQXyPRgxan78B88Q7JTOHU-bL5vZVXDUlAbWCpSTHA-jZCKlW-QM4ooe7oVsIIdSd94NJJ_RGzkeBB5NRNCae-aBbFkjlXWZ-kVybmfruiM0Y1xPeBR7_UVRH0L6FIuuyUrywlyT2XVeqPi_tASatLlqvSjKYA-fJIh5t-e0cH-w7sJtCad-XPJ2QG3FJbMOoMy3nO2rJwANwaQaVo5OO6rQO_R3mAhFan345FJwHwv85YSqQpR8p04msak2x0-T8C7HRJdCZxrbPqrTQHo1X4vC0IWZl1UkRn2ZJ2_oBE9YE7HdycIatJnw0KhYLxzCR-o2bjLqH96CRRA=w421-h253-no?authuser=0">
                          <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451507/development/portfolio%20volume%202/trash2_r4dife.png') %>
                          <li>行政の指導により原状復帰作業を行う事業者</li>
                        </div>
                      </div>

                      <h6>環境美化運動について</h6>
                        <p>
                          新型コロナの影響でプラスチック容器や包装物のごみが増え、
                          路上や水路にごみが捨てられたままになっています。
                          感染拡大の防止の観点からは地域活動の制限も必要ですが、
                          町と共同し感染対策を十分に行い、<u>環境美化運動を安全に実施できないか</u>
                          町の考えを質しました。
                        </p>

                      <h6>避難行動要支援者個別計画について</h6>
                        <p>
                          コロナ禍にあっても災害はいつ何時発生するか分かりません。
                          しかしながら多くの自治体で<strong>「避難行動要支援者名簿登載者の個別計画の作成が完了していない」</strong>
                          との報道があることから、町の取組み状況を質しました。
                        </p>
                        <p>
                          「要支援者は<strong>1,036名</strong>で、
                          情報提供に同意をいただいた<strong>602名</strong>が登録をされ、
                          自主防災会や民生委員が要 支援者を訪問して、災害が発生した場合の支援として、
                          <strong>情報伝達の方法や安否確認、避難誘導の必要性などを調査し、
                          防災カードに記載している」</strong>との答弁がありました。
                        </p>

                      <div class="master-image-box">
                        <div class="classifier-box">
                          <div class="image-description">
                            <img class="content-image" src="https://lh3.googleusercontent.com/6nnvinGUiVtz7FwB_p1lHseQ7Y92_I3H_q6UPRzCKEf5sQd95HNspYFNFVoTOygFYTXn6tbqDO0CzTro5kc-zWW-AfRA_7VSCr_TLr5bFiPCbtd8EeHwbAOLBxwHJUMlNlm8mzFH0jeFuwxR_MpmkNMq78ektXMSgxCBh9xVtKwGe07FUSYSoOu4T09edlfEF2wdJ1FfihGSXse7-fn9IGto76GLlbNBdGVcpPPkST7EIY6_HVV4PUansDjhZ4RVYn8u5Qo8e09O88AtUROOX9tZKR9SWOo_BtpbP_yYjwYnuxOjmg6BUApgec1QLL64It1jIY8c23FSBabcbwoI5-ihiQ7uWaObKW5o93Qcpo6JpSVB32ff0IIGtAmUSWer2ui2-fHSQCd5RaiX6guH0g4mgfwE5dBDdToH-cLoKYn9YuFpFRseRT_Esty-yHSvSi-DFVmfGCYoXZ4OtRQt2ne2guCVTyKzUOSqCbVHp8zz-ZgOhRa5GN1erxZysZ-vEdOgOX4j0k1_yQWRn1cjpc-KGCLG2P4RLswGb-0_2E7_q_d0gH7GgxnyE54D35zv-RmdN_t1hcjJgdUEIMfBKg5Col0YvoQeckszBex_yEiNOfBCxxG9JfCZLv8g7Y1BzUHNHz68Ob-5hH3IoCiEKkIj4X4E5zW5BHGxA9D4pKPGYsQBzQidZSArSm19LGVzLw0xfNCzxGSdb73p9H3gjGYMrjRBaFXNdboRMa8fk94ZSiUysQpUBrd6aMkrPCZ1Mv1Z750B7Yc3iAZsKYLmbvgqWgzZZ44L0PvaUYITSloRuFLm_ohkzOQqmc9gEk0c3VNp_P9BFLG-yBkn2R7DJhkKTv8rUjQVQ0pKhi407trsUeil0yZm93cYex7MsmWl4qz7HJRCZ4fI7s9gcYw-ZfAF5qDsmPSYG97GhNUc2a5Ie9w-jO7Vhdx__lEPkp8S-MCFjbjiEfIT-7Cnmc7txrExseFKgyyCKxo-OyMn7fzNcuB4N08KPh-a=w642-h424-no?authuser=0">
                            <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451500/development/portfolio%20volume%202/fire_truck_n8ujwx.png') %>
                            <li>感染症に留意した自主防災会の訓練の状況(令和2年12月)</li>
                          </div>
                      </div>
                      <h6>都市計画法第34条第11号区域の指定について</h6>

                      <p>
                        令和2年4月1日に施行された、都市計画法第34条第11号区域の指定の状況を質しましたが、
                        「開発に つながる申請は受けていない」との答弁でした。指定区域内では、
                        建売分譲などを目的とした開発行為や建築行為が特例的に許可されることから、
                        <u>人口減少が進む市街化調整区域内にあっては転入人口の増加に繋がることから、
                        地域の賑わいや活力を取り戻す一助になると</u>考えられます。
                      </p>
                  </div>
                  <h5 class="report-section-title" style="margin-top: -8px;">令和2年 9 月定例議会では</h5>
                    <p>
                      新型コロナウィルス対策地方創生臨時交付金を活用した事業がそれぞれの自治体で
                      実施されていますが、町が取組む支援事業等について考えを質しました。
                    </p>
                    <h6>中小企業・小規模事業者への追加支援について</h6>
                      <p>
                        町では、国の持続化給付金の対象外となった町内中小企業に対して売上高の
                        減少が前年対比20% 以上50%未満でセーフティネットの利用を条件に、
                        中小企業経営継続応援事業として10万円の給付 を行っているが、
                        第2波の感染拡大で急激に収益が落ちた事業者に対しては<u>セーフティネットを条件と
                        することなく、給付金を支給できるような支援制度の拡充が必要ではないか</u>と提言を行いました。
                      </p>
                    <h6>第6次総合振興計画等の策定について</h6>
                      <p>
                        川島町総合振興計画の構想期間が令和2年度迄となるなか、
                        川島町まち・ひと・しごと創生総合戦略の期間を1年延長し、
                        第2期を策定するとしていることから、
                        「コロナ禍で経済活動が落込み税収減に伴う町財政への影響なども想定され、
                        <u>持続可能な地域社会を維持するためには大幅な施策の見直しも必要である」</u>
                        との提言を行いました。
                      </p>
                    <h6>サテライトオフィスについて</h6>
                    <p>
                      コロナ禍の中、テレワークという大きな社会変革を、若者を地方へ呼び込む絶好の機会と捉え、
                      サテライトオフィスを地域活性化の起爆剤として積極的に整備を進める自治体もあります。
                      「町には直ぐにも<u>サテライトオフィスとして利活用できる廃校小学校がある</u>ことから、
                      この優位性を地域の活 性化に繋げることができないか」と提言しました。
                    </p>
                    <h6>今後の公民館事業について</h6>
                    <p>
                      町の公民館は地域社会に根差した事業を多く取り入れ地域コミュニティの
                      活動を支える大変重要な役割を担ってきました。しかしながら、
                      感染症拡大防止対策の一環とし、納涼盆踊り大会や地区運動会とった中核的な事業が次々と
                      中止決定される中、今後の文化祭事業や高齢者支援事業についても開催を危惧する
                      声が寄せられており、<strong>公民館事業の見直し</strong>を行う考えがないか質しました。
                    </p>

                      <div class="master-image-box">
                      <h5 class="sub-section-title">《昨年10月から廃校小学校への公民館(出丸・小見野)機能の移転が進められています。》</h5>
                        <div class="classifier-box">
                          <div class="image-description">
                            <img class="content-image" src="https://lh3.googleusercontent.com/LctW1BOQ7KWOrsvAq3LsRQoNQyHS8qzyRUiU4u2tSl0isIn_JniV-LtvM2876l7wNXURE9Lh-ly2jdUSwCjpJCYPC_vQtl_ofOKpAkiDBc4Tg3JyqoIc5fVLj2habWV8CRyNdSczFYL21TjtNhjD5crP6a16p9WerjO6Z1sh1PQwyNJwTVT7wgf3YTOIJKAAwe2xEpuaLqd_ov9sstDl1Q97Qq384tO0G4xAsPSDVnzc9-_8UuNubzKL9CkxQBkG9YnO4gBaX23VKUTKAexHIZPMNBiNocCUwI9_1llEJOI74aj2CY7hqCtezLbkrmuv4Ca8DqPAWQH-cCzyvucRuSW3ugOMXL27VQzPyLETatRYUoZ-KS3-4DuCXGIEjGltjQdl3Tq-8Me4x3zMZakjnY-3Muc7IJ3UoLA2Ro9gBKnNXwTnr26O311YrSuaj2I_QIVk-SQhdWrAK3REFp7GVQMO_NrSyDGdB2-_9A2Ez0dTYHeupUA-MIc45C9eKU3_RCmAK1papbQK_v66Z15yB93yX4K004Dl1WsakmDmo4gOnxMnz1mwoWdF5e3TvKZaiUyj_RZ_-optmm7wkSMORNcxGpmvRJ-Dpgvi-jS069-X3Q_PoVtPIc60pK4k5DrgUK9NUX0vK12DLfwihhTaWV_jTtIHOJFNX8OlvX37YBcsoOnsKctylTwu5LX7Vo2RO957sd369Od_hlKtEccj42dMAQn6ZXaCKElNr4bDHAfyd8bLzTHZwA0GupPmBYnBGtH8y4wNkOAvSsGYsOKsxSx7Pw7ui6sQ3_2tps-yOrgh_WQa9_FG5NDNoV_gi9kPsgAa-tbocMaF4t-lQwhtFOWe78egPsxfnuFyLMtrBSgD8c3fyrfLjedJgcl-sADosCyazt8yxFOwlM0X3MaJZsbrhE45rsM79Xleym0kj4yl2OrOCPZwjFIdA48Pic_oHZ9hUmSs7X2dSy2Tfosgjn09G5fuOG4gapPif4krj9QufUGLTDQXoVfr=w718-h432-no?authuser=0">
                            <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451507/development/portfolio%20volume%202/kominkan_c3txvv.png') %>
                            <li>(写真 小見野公民館)</li>
                             <img class="content-image" src="https://lh3.googleusercontent.com/ziaeJFFXpTjHaNOqExDk7N6EU8sCZbfukmz4-tFxXFJ5NxIFa3PlPLLCjoKmSob5DQNLEJIbOK4_ItRMi6giMf6QdKPPjqi3DwdtiEFsNzLQaYY7evE98IkD6JdS5qBzYjD1h3G_DdyXAFHXOfsFtgIbslAv6HSjOVvy9PoIzap9EACZ-Cu4KhmgfxTUvOqA_fJ67TbOPHVinCQlinp6VJmjEpqllvtl3ROT_YwM-hxwtVlTZ7Ij6I_6KwtISsc3g5S40_2NRhWVRyQFp5DVDitumMsff6FV7L93Dqk9avzXmpGhJceDrSIYdLrimNtWwmi1G-fM4QrEZdDONBSpIpott3rAS_Gl-GgfYXVzdGjlAD5IEsFfDGw4ZOzMDQwz2tVfnrmix3rztNO4awPbQaCMg3Ecdzwz2Fquyr3P7NmQ5V1JHNFK85ywqDOZQPrVTB3nkODoYNxQzKCpPlnN0qc9NvDlLKPKNT9EWIet-bmIfypD9-HJpWP13ZRusnyOraYGxfombUseq1ALLdlLMEsxk5Btbv3QOkFS6JnfLG4VUSUt0SjVY7NflUG6IsufOmxNYwD8T86r1jwf9c_9Ys0yZdjjbjriEIXCa2pXRaP_NEKCERMOxQgDSyrw1LFDLmkSKVAmTdkgi8QUkeGEVudkb-IvcxhV05IY_Qm_2nSnqMwO7EMtHXa9q5nFYqgoNPWoFL8kGAzPit4r5DEv_rBbNzDLQUuAZZBuWbNw2BS9m13mDE5oQbmWs9rV_amQNXcDZBz16DEGlenKgO5KArw8spHFvzFN2jDbKtXaiuH2ALMuNdu4y065Oo30OF_a58jQWfxNzHGI67_OqPAhG38emXlSgHENyCy7awKBT85qeZG-ucP4AAdNdO0erVoMPMnZRfoQ8gV866-xuG_CO76_K8CQ-cac1RyAvT0nzXH_lxlK7yDJWbnrK9GXFb3PFqZIS93r65kbb6KAodRYGn3foRsq5rYwrqcNZw_ESGybDQeURHxnS-st=w712-h420-no?authuser=0">
                             <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451507/development/portfolio%20volume%202/kominkan_2_ubysgq.png') %>
                            <li>(写真 出丸公民館)</li>
                          </div>
                      </div>

                  <h6>地域の声を 町の行政に政治活動の目標に向かって 議員活動に取組んでいます</h6>
                  <div class="master-image-box">

                  <h5 class="sub-section-title">≪用排水路対策に取り組んでいます≫</h5>
                  <div class="classifier-box">
                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/DHLyHL8aqT9bTAwE7HRB1BTIvz6uZdtmJ9FuiszqLpzoUfQY8CBkWNhDHi1rzRwe6sfIM_t3FI3Y4YipFFV9sMcA7KqkFTyKusOcBZJawEmlX0Ev_Vns0IvjAfo9eMDA77hpDxOATdDB37-TTIlBrjs6bJxsxwd3yMVzEf73y3tKXESb5L6OTofshp95ibUdLXvzK9S1JdYUDHlqq1CjY9ov2RxG0xDHxfpJrKgP4GNJfKNPNqhckGMF9Q4Il3uKOzAWb6ZPi0lInGVlgz1Qw67oQVi1cYC9_VVEdJ1t2UjcQNn8w2epK3VwMnKfV49spjFuUNRYLWq6_fk5VHQ2cgsH4Lr-bCU88CLGw2xul7TJnTzYKteuBo8MmMr5AsceN587WZrI116jBwPAAO-AIiuDVUgTxWmwwXrmTY9he01DXLjhPIxHLW2dqnD7fCFwr_nJXDy9ZjSdtLKUBQrRL0BEflKcQ2u-rFUudVxRbhlZudp9m0INZ8z4XQ9u548hmlp1tG_x-Hu5aT5Lxs587S_yjB3S5IAfHKFs3PSuRnSI9bLjw06sd74Av66r39abJ1i719w3cGHOtezUW4EJ7oE2L9J2Bnt3uELeGXJNkWkqlC2eaheI0-bo4dHPYxK0r-M_Nvl6QU94Bw2JxdlCoYqN9_mMpArWUjdU5cvquik6VmGFYnANUHJ1j0m_1uC_KJJxDLyZEnV-FMrgUD-03uj_kmwbgA1P0cl9q7h6r9zC10eTbQKUTtgHrbjrRY5Jm-v70_VEVRzIPYi6Sd7Qng4aWBWrLxi7DYIax6dt6T2Z5d-jB8hs5UEvEObmxajpiCpwI0Y3x61TVmnXyOjbdpVEMz2qWNVoaiIUmeTGQRW-9ZhK11bg_wSW8KpZEbl2Xp5xifcOfQQai3b8GrsMEbydL6qIu71M01ZHNtc5gkWENMf1Tuyoo3jL4pyqIKIG018zmq4fbfIIpkT4Jo1dKuUIoxE-5ulYPhyZL3aohxnKllU2GMYc4JZg=w640-h466-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451500/development/portfolio%20volume%202/flood_1_mk3tcr.png') %>
                      <li>開発により排水対策がぜい弱な地域では道路冠水が発生</li>
                    </div>

                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/XQhmkSvDdp697kwOfsPBOTKZ8p4TKWirsy_PfxGSdg2-ioiKz4XWYu0mBAOACii83IJehz4s6X7JDrCYmAlDF28KhTM6qWn28kKMKbvr_CshWN5IWObpP29VssE1li7FZ-OqMIaDmFhNmFLICbVgVfkYVmLzZMwC4BVv7pxG58XafAq9IbzfwDdse5mBPcRbmFMtFtQQMWXyNfgG62459Qf8gpJ0FB8zXuAZBZ8NY9olDPjzqHC2AJyiob3OoWujTX1ukeF7Ui2oSaWtGdY50tIUPDlIM2S4t0iLaI3vTiqI0n600zDWgW7dmFvuaJawajeEspXUIUhucHDK6MYBwEJhLbLmAR7sQ08okkxMEJpqubvD7iI6grOReCz4kATUMk48pSDRH4vd4IPWhm_9cEAGTV78Mc8nXUTUFA2_GmaCziUhX3MOvdcD5gEuGb4cog_hVzn7nHRKurI7beolba6ikTeGLjrH1kLe7UlwLgxzRQCURzVoHvJrag8NE6LzcLdU6i4ZLrGMI9w6aIU73NbFyEyU-yXp-UN32qH9e1bA7li4l1BYbmPDIwBJgtYBysm3Q3Y9YBVTTGF8kWP5r-gGu9AQbDIYpycWuuzk7gtpk-o4NmsPGwW5TqXviNgaQSIQxxP405dbPzI39818znEXG4mA7CfOZh3c7WYV1cvvI4M_caWqqes7i41hyJGIq9RpPWO6Bi-k75anqmGxGFQ9o8otDrw11rv1eRSRRcJPkf9Qh3ZIFtUm736-vsQOQts2_NviFz8Rm7PPs-o6zMmnuu3DE2rjeNKbp2q84Eksf0Hfd74JO7npRVN_b859cHfc9Jfgij-oRT3lfB7fyQ8WnRD6bidrToK7IHzbXRNfid5VP7C-aQvQyGkcBLSZNJ6ho1vYSFTOovQMKUdcMYIJu1OnsdTuLJv9kmgGSkb7BIhibrxZNIIEN5Yy0Xb-R2g_7OzDYNqE9mHHk_vPu0siwt91SRwaTQzlEUeDXVot13r8GbGhz5WN=w348-h253-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451507/development/portfolio%20volume%202/road_1_x0lygu.png') %>
                      <li>通学路沿いの排水路整備状況(出丸中郷地内)</li>
                    </div>
                  </div>

                  <div style="margin-bottom: 32px;"></div>

                  <h5 class="sub-section-title">≪県が進める横塚川改修工事の促進を町と連携し推進します≫</h5>
                  <div class="classifier-box">

                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/mBE0d0RLd0zVFkYgyRPRpD6YVSKIkyIvoKlpJ5poj8dEErb3JtVfJqJFxc4nVjcXiDKr9XR5lETWwbDBbuxk1M2oMHKyQwl_POUcGZCSBSNfa9N2NAVShQkMvboZe0QFbzVkO6uN0J0OXsgv-ht0oOaAuZgrd1EsZ75E5WtxHMPYkszCxr0duF2_6QWqXOqRHWsFvhAfMbwwgT7HzcHjUF-ViExUTuqzPeQ5rJkyKgjRrNJAutZpu86DZA2wdNEy3S9Zon8le2IWQDrbNUdrGUJicIyM4Sp0DS0s5eYxaNdgL_wY1UCHyz9HfXG96jsKcP08-iDhj7AbAQ8oSBZWpPq6X4fRB9UaVv6WAY_rUG5KvGSpzjk0OVQSsZqRNJkYHHI-xTGJ6hnqoykNGNrkMXcMjqkqLqcztDFGGd7_5owY5Sxt0Jw6UEA2CWW7GBeOnT-7ZaoyhrHxMzTA8_DgimDfvxzTentsJgkai22SFD4osx-sBbaTJRo3haKdYsOaWfkXiTlLE-Zs_TBX0Tabk4HUlNUeqFAJwnFnysLTtGULHJBhmekr29GS9f-RqlO969QhalORTk7xrMT_NwO6MH0SJDMVetm7FwwJWD-Fi0YdaiRg1uJlskgD5A4KKPLOkkk2_3NY3l4Q-dliNXVyj02eKu3GN_NEoLnx7B8n8Bnb22vgCkuckuIXpQrrCRL_c8X0BFdn8mMp-2Cdh66RzSHnQ3HaWhdOxDgVDIOHao2rbhpbdV2-FouVYT3R-bzTgtcfldB8tEwlZRsyVSYUMyYZ1dH7n0-PNNO-eNCJ7HiamG-wPfFEdLYKB5ue7MUjnV9Xd6_-jeObx7OLQ3n1HN71gBb9Q9b57PH6PpUSkdbsjNLolNPg3sV7i_Oi9qQNDlb0ztVIFXDn7GhGb09aF9q3KkAefuCW-vbrs15vy1HeqsWgZGVTRenrCCdYm1AAc9ehWHcFZhEzXUND92u5GB9kdzqeZBy_Ve7wUTccqw6UCWKMdo8VGsWt=w572-h742-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451508/development/portfolio%20volume%202/river_2_j5mumu.png') %>
                      <li>横塚川改修工事で河道と護岸の整備が進んでいます</li>
                    </div>

                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/DRFmXtIYpMXbgSiNVT0jev5j1ohk7YMJqG5ZORO9Zq3_xgcE0Jd-khi1Fi-HYX5JE_Acx1mimNPAHzZwTYEQAkX4eFf8almsvot6UKvLNKUexp3Arc66osfBJ07uoVW1wYW0vDprdeUzRthCYpfAFpM1zudWv4Ctxm28RDCEPme-KJX2QE8R60k6tfdcrDn2_yzwPJ6jp_QFAfR98uEibXKM7g4MEppzy9wtzWG52Rt9TpqnQoKYKlC3EXi2sMuO_aWONLFtE3LzFmLGrGRgv3O8VbFe_Oht6DGfjY5utFKet2OFc0N6LgbrBwN_LhtBGQyc6BR70z8PyyTMtOUwSnQ-BMr44jW7n6NbNvIr78aqpZJ-OFoJSdProllCagOG-R5BQ_El_tAcQOPms_8eKItAzd3UEHwiyaWUAqeZuhoQe5ezG-9K9Pl6JtniCvCy7QY61sdFBLSULc5g4UKiQCjz8cHgOYqHjLZC4pW9OhUz-P0LV2JoL5JrCXdkS0kS_KdgadtsocF2ctNPUZ_VEvOXg-0GFjqFd_fe-RCbQz02iJ3XXSPdTgMFWupRIho53vp2WhJqwzd7-pUkI4EOpGTTELe_IUGaTidz-74mQdopPA5AP8ylTfF5rhKFGEnt8lgr6WDx3ooH8-xVduXEX0HwbxuoWtuUqXWFVLPW8mchG4Qm9Lh10KkA7puzX9SEOmBagg083CqCNSlvwNFlkOJJMcANu3uOBFVAriYzUiLePcjJ7HxIQQtJnV6JWjcjYemonjag9l-FiyKs7owHh3GEhGP4SdoW130lhdrf8GAAvAQOKBxaEPfGEkE9Es05KGAHIKiuymXc5rqnzARhMqERGjS6abcPnb0l9m8gpTMYyx9KgpUr-X1ehQ4he3paKAX-piDI6gG5wU3KNZGdcomrJqxM0WXMi8Ev07bQXNMwPYWm-0igHbMV5fr2JQKFBbR_pYl_pM5Fb21qQkfulOC_EPTOJ61ANof0_5Gb_TqHmTVwzJSUmzeA=w572-h742-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451508/development/portfolio%20volume%202/river_1_qd3pmi.png') %>
                      <li>(出丸中郷地内工事区間約140m)</li>
                    </div>

                  </div>

                  <div style="margin-bottom: 32px;"></div>

                  <h5 class="sub-section-title">≪有害獣からの農作物被害対策に取り組んでいます≫</h5>
                  <div class="classifier-box">

                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/LF8sor_uNBSoOtujDew8HnhmYAZx4nnBUZPPDxs9SDxaBi5q7T2BF7CSa5dXtGmtC2mGIk4hJvbrN6_RMTzpInk6-DhxAJe27ZC63pq4VOFJT8pRggZkbbqACoAF_28garLOKfkNBoJAN6AKicm84XnoGqh0SX3DDov0-a-yElwaomn8fTKNsyJCoE1AvGOybKuL8tH8vBYk3YFM67LhbZHxEUY2u2apnq3FqB_py0fZ3kuhMCsC_DIUn7CBpQS3DimXCEAb43lRaaX8PYi4sPBkCHP47BhuFlIVrO-pAReNCpjLCMyS5dhtc23iJHvxxmabkgz5gbsmnkY8vJ-SfWQbA6H2NnIxPVv9bWyTZcejxfJwHVl-ZGWbAmCOXVP3Y5uGjc86A9ObJPMdU4UPL6SCJr_wrwwElHQ5rqYI9nstwDMUr4w57obfUgc4G136TdyiEx6zAGyprEnBTT3I2b5MiX98jXYfILvR3GmMYAAbE899v6OM2BqVM3GNVWazGK2QbBtWlfjW6SSuOMDetcKW35vfuIiuUdktQsYzC-7Qxc61kuqT_56bLy4XeNS6Aa6TliT2N4ePtZ7IL7ndZ19HOWOPHhGThrjItvH21tauSjLhxpUfatAXu6Xo94cwtsGVzhs3I4OKKmQMwSeXPl0uvYfgqjpCXYYaJ2F4GLQtrDd_ViJtexMgwEs9ZYnd_OdzmpCfoGZVQsgy4wt9RgwOjgGOKLxcoOxDrx2FsMu_FTDl0zT2C1GxansvsCJeDgbgMgVRNAGsE19lsm8bHPlP5bY0yZJmNR6T84WB_dOmSQX0_e_s_nQqt6SyIjmL2_9FtmATIgTATcKrO-fzC8sxAUNOxACFDjgKmoaORGYRKHpuOB-CyOfTvDyMbTmh2WTzYMmFA3MFnhLfNbeh6b8VDaiaN_hgd5_YF5-_zFuay2xDSaOabQ06W02nTPP4bKyt1chH5mBLpMxaHnRzakffF6ebOv7Crm3Vhxf_zrYDxCgCnfZqwYeb=w628-h508-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451500/development/portfolio%20volume%202/cage_1_xslhlj.png') %>
                      <li>被害を低減するため設置された大型有害獣捕獲用檻</li>
                    </div>

                    <div class="image-description">
                      <img class="content-image" src="https://lh3.googleusercontent.com/-icV8JPLcFxsBUBh4V-vaBLKDcZ7_GjxjiQyVTWjSONFoGWyoz0808CXXTT7qPLPJY3cjbIicyFn8VkdNpUmVfioWcdwXSctm2N7wu1rpPTHr5oJrHByiFT3vFbxem1HtfbvU2VlrtBLNSkM_YZ49kMkqUGkhat0nVH9tVpKqtjpaLIzAOB0EAVMpKW6BFiVCloKiWElWIbwVTd6UX9tRdaGC6qzVSokpP1WxNExHH0_higlNOJQBh4Okd3xQlKwNwkATouxJ5MsHPBMmDiwLzORnQcHk6w-yA1goeC0_ok9KZBoIDJqD55tyyWYah8Tk_E9QnEGoF8mWtWPzUDZuUZwooluEjCGG1prttZtey7hAVxdwVVsmSxxwU_iRjEFo-dbIg0NRl8FaGH3PDYFjzxa8jax6ohrVD12RSjcB4CRtqxEfbjLtUGYyH4Q4eUpugERhFviDYlSCMx_579jcRmGC3tJeHr6Op9DSD4djLnmbbeJQKtPHcnOcyRzddtVAZWyCtO3Q0r1jNmcIZBMvjU-XQFlMyMTM-Jpm7bA2RDyo9aEfeHPQCV5qKjskwd1UXKFcGUX7mPti7KIxfgpD7JSQiYx7m516lCoF0LUKX5jWTnDHZNB0wpCUY3tbGwazMX76LFdgKlrTandc_EuN6ha7o-hdAa1mLK-1CWdKZDrPa6gCLTRZiSIIcTNnjSD8H5znc_7GSnP0K5E3hL64hKfLj8V_7fRjQFSqbPkhEgMYpRKd1jqPhyPy-FTh-62WR5dDq1dhUloRa_WUsyx6rnMojr4tvY_M3gGxncOxQOVo3TF7WEHQD2bn3EG2xOnYZaEDe1VJhbIx8mGuvYMoRgyQJIWt2UsUxG9zM61UZgOamYHAZ3R3YGwPj_vE3z2jmq-cihvtYcE4o_R8DVXbb3S3HdhJt6fgyK-gMxIzhdz--ft74o8FejnXL2DSBCLawlozrJIB1V7isDjKMWkN771zNZKxdAmCMYTqlkQsW60L3RlMEg5XjPF=w628-h508-no?authuser=0">
                      <%# <%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1660451500/development/portfolio%20volume%202/cage_2_z1l6je.png') %>
                      <li>JAや町の補助事業を活用し設置された電気柵</li>
                    </div>

                  </div>


</div>
           </div>
          </div>


</div>
