<!DOCTYPE html>
<html>
  <head>
    <title>粕谷克己プロフィール</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Bootstrap responsiveness %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%# Bootstrap Import Alternative %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <%# Slacker messenger config %>
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
    <%# Turbolink %>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# Devise %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# Bootstrap Navbar %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <a class="navbar-brand" href="/">
           <div class="logo-test">
            <h4 class="logo" style="font-size: 15px;">元川島町議会議員</h4>
            <h1 class="logo">粕谷かつみ</h1>
            <%# <img class="logo-image" src="<%= image_path('portfolio.png') %>
          </div>
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/shisakuteigen">施策提言</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="profile">プロフィール</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">議会活動報告</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/koenkai">後援会</a>
            </li>
            <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
              </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>-->
          </ul>
        </div>
      </div>

    <!--<div class="banner-top-video">
      <video autoplay loop muted id="myVideo">
        <source src=<%= image_path('https://res.cloudinary.com/dvdm3zjhh/video/upload/v1653293967/development/forest_z0yde5.mp4')%> type="video/mp4">
      </video>

    </div>-->

    <div class="banner-top-video">
      <%# <img source src="<%= image_path('https://res.cloudinary.com/dvdm3zjhh/image/upload/v1665049973/development/forest_canopy_eemoj4.jpg')%>
      <img source src="https://lh3.googleusercontent.com/kpBWjtywg9-mV15owMWMim5G_n3t-V7kjMUsWl34k7V8waBJiPPmavSQrese3nmy6mdCingEil0HRi9Y6i1c8NRtHXyGxIs6qs-X3ogMui3bhOdDJxV9dn30anf5i1OZ92xDdEpFGjDHPBpnpQ4NqAOEhZHisvXadFYhxyUuZyVoowNrbfvDsZJBM6Tc-FkvBdwsiNuVBOUYY0hG_D8G898Ht8jQq1QBrBTv9AvcM3Mn3fljep0KMRyd1S6w5WImGTLvKtt3fqhf7PTu53GwU4j-BcisVFI4zj6D2qMujwEa6j8l6phzI8GCD-TvujERKaVK4FnOO21MEFHSs2Nb3JVc3IlYiBsWLWm0xQWTRTEC_3dxXQ9sfOu1SjxVFIo4uz4z3GpBDoR5YFhGoaQyin-lcdO_Re3X1jYD0xOi-GfpYcmdy3ijktTTt_2pai0evudgWYT3OUdjyVbbtXHInmbDnNCKi4NFwgVwm9i-EMo_qqWC4ayOlT2TkyQfuwVnuKOYs7Ng7zGo0hThT0i7xCC2DWijgt8RvnrA2SMj8p8xgDPzhc1OkOC35Bi7Irjbv5-W-DJcBSuLdiFS5p3HKZ6bEiHFCNjdVX6eV_I0dU3_nOtak4y5sbqdMlKBsfrc-2OA8K199dmI_sFwkc_9dEmzEMeesFpRzW6dC3YtURl6WaP_TmA9917sOXEd5SmqdGyZhb8QxizRfy7FgBGNTrvPe8H4NVSF981hF4YNEEg9NeLUiRRuTdFnATsVGF5xVvTWQXJgw6GBodSCvZl_5zeFtChhVtyO8adQskWxCsYjb5wHkMOVd0lBWv5PEaTcgP0tez_7ppWRy3XWgBW___2L9tAZKDzQdbyWZcRqOPplXbHAtoXoWH7zH4EuDGOUbYvK96HCjhwD6OopaSibbc7o3en5KiPVeEBw_VEu09C09wXKUKXtft0Pw_o4SlFc8n6PkNcv537YpqUum4zlIah-mbucJUuh8I8zSaf4ezHnptWybg7EpGEu=w2598-h1732-no?authuser=0">
    </div>
    </nav>




    <%# <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">



        <a class="navbar-brand" href="/">

        </a>



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 20px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


          <li class="nav-item">
            <a class="nav-link" href="/">プロフィール</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/projects">議会活動報告</a>
          </li>

          <li class="nav-item">
          <%# route pending %>
            <%# <a class="nav-link" href="/koenkai">後援会</a>
          </li>

           <li class="nav-item">

            <%# <a class="nav-link" href="/shoko">書庫</a> %>
          <%# </li> %>


<!-- <div class="hidden" style="visibility:hidden"> -->
         <!-- <% if current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= current_user.id%>">User Profile</a>
           </li>
          <% end %>

          <% if user_signed_in? %>
            <li class="nav-item">
                <%# <a class="nav-link" href="/user_sign_out">Logout</a> %>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">管理者ログイン</a>
            </li>
          <% end %>-->

          <%# <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> %>

        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
